Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

revert(etcd): remove unnecessary etcd optimizations, keep automation
  setup/talos/patches/controller/cluster.yaml
Labels: area/talos

refactor: consolidate etcd maintenance workloads under unified directory structure
  kubernetes/kube-system/README.md
  kubernetes/kube-system/etcd/etcd-backup/etcd-backup.yaml
  kubernetes/kube-system/etcd/etcd-backup/externalsecret.yaml
  kubernetes/kube-system/etcd/etcd-backup/secret.yaml
  kubernetes/kube-system/etcd/etcd-backup/serviceaccount.yaml
  kubernetes/kube-system/etcd/etcd-defrag/etcd-defrag.yaml
  kubernetes/kube-system/etcd/etcd-defrag/serviceaccount.yaml
  kubernetes/kube-system/talos-backup/cronjob.yaml
Labels: area/kubernetes

refactor: consolidate etcd maintenance workloads under unified directory structure (#5082)
  kubernetes/kube-system/README.md
  kubernetes/kube-system/etcd/etcd-backup/etcd-backup.yaml
  kubernetes/kube-system/etcd/etcd-backup/externalsecret.yaml
  kubernetes/kube-system/etcd/etcd-backup/secret.yaml
  kubernetes/kube-system/etcd/etcd-backup/serviceaccount.yaml
  kubernetes/kube-system/etcd/etcd-defrag/etcd-defrag.yaml
  kubernetes/kube-system/etcd/etcd-defrag/serviceaccount.yaml
  kubernetes/kube-system/talos-backup/cronjob.yaml
Labels: area/kubernetes

fix(etcd-backup): set HOME=/tmp to allow talosconfig creation
  kubernetes/kube-system/etcd/etcd-backup/etcd-backup.yaml
Labels: area/kubernetes

fix(etcd-backup): remove manual secret.yaml to allow Talos controller to manage it
  kubernetes/kube-system/etcd/etcd-backup/secret.yaml
Labels: area/kubernetes

docs(etcd-backup): clarify Talos controller manages the secret automatically
  kubernetes/kube-system/README.md
Labels: area/kubernetes

refactor(bootstrap): centralize CRD filtering in helmfile postRenderer and migrate to OCI charts
  .taskfiles/k8s-bootstrap/Taskfile.yaml
  setup/README.md
  setup/bootstrap/helmfile.d/00-crds.yaml
  setup/bootstrap/helmfile.d/01-apps.yaml
Labels: area/bootstrap, area/taskfile

migrate snapshot-controller to OCI
  kubernetes/kube-system/snapshot-controller/snapshot-controller.yaml
  setup/bootstrap/helmfile.d/00-crds.yaml
  setup/flux/repositories/piraeus.yaml
Labels: area/bootstrap, area/kubernetes

typo
  kubernetes/kube-system/snapshot-controller/snapshot-controller.yaml
Labels: area/kubernetes

add httproute for garage webui
  kubernetes/kube-system/envoy-gateway/external-garage.yaml
Labels: area/kubernetes

handle both default and shared libs
  kubernetes/default/icloudpd/icloudpd.yaml
Labels: area/kubernetes

only sync incremental
  kubernetes/default/icloudpd/icloudpd.yaml
Labels: area/kubernetes

should not have this path
  .github/workflows/flux-local.yaml
Labels: none

implement NUT monitoring phase 2 and 3: enable metrics scraping and add comprehensive UPS alerting
  kubernetes/monitoring/prometheus-rules/ups.yaml
  kubernetes/monitoring/prometheus-rules/upsc.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

add comment explaining args
  kubernetes/default/icloudpd/icloudpd.yaml
Labels: area/kubernetes

cleanup docs
  README.md
  setup/README.md
Labels: area/docs

docs: update CRD management instructions to reflect current bootstrap and Flux-based approach
  .github/copilot-instructions.md
Labels: none

docs: update to reflect Envoy Gateway and HTTPRoute usage instead of nginx Ingress
  .github/copilot-instructions.md
Labels: none

feat: add qui modern web UI for qBittorrent
  kubernetes/default/qui/externalsecret.yaml
  kubernetes/default/qui/qui.yaml
  kubernetes/default/qui/volsync.yaml
Labels: area/kubernetes

feat: add qui modern web UI for qBittorrent (#5090)
  kubernetes/default/qui/externalsecret.yaml
  kubernetes/default/qui/qui.yaml
  kubernetes/default/qui/volsync.yaml
Labels: area/kubernetes

fixup media mount
  kubernetes/default/qui/qui.yaml
Labels: area/kubernetes

feat: add KEDA NFS autoscaler with blackbox-exporter probes
  kubernetes/default/audiobookshelf/scaledobject.yaml
  kubernetes/default/frigate/scaledobject.yaml
  kubernetes/default/icloudpd/scaledobject.yaml
  kubernetes/default/plex/scaledobject.yaml
  kubernetes/default/qbittorrent/scaledobject.yaml
  kubernetes/default/qui/scaledobject.yaml
  kubernetes/default/radarr/scaledobject.yaml
  kubernetes/default/readarr/scaledobject.yaml
  kubernetes/default/sabnzbd/scaledobject.yaml
  kubernetes/default/sonarr/scaledobject.yaml
  kubernetes/kube-system/keda/keda.yaml
  kubernetes/monitoring/blackbox-exporter/blackbox-exporter.yaml
  kubernetes/monitoring/blackbox-exporter/nfs-probe.yaml
  setup/bootstrap/helmfile.d/00-crds.yaml
Labels: area/bootstrap, area/kubernetes

fix: use home-operations charts-mirror for KEDA
  kubernetes/kube-system/keda/keda.yaml
  setup/bootstrap/helmfile.d/00-crds.yaml
Labels: area/bootstrap, area/kubernetes

feat(frigate): add Intel GPU resource claim for hardware transcoding
  kubernetes/default/frigate/frigate.yaml
Labels: area/kubernetes

fix(frigate): add PERFMON capability for GPU stats monitoring
  kubernetes/default/frigate/frigate.yaml
Labels: area/kubernetes

feat(frigate): enable VAAPI hardware acceleration for ffmpeg
  kubernetes/default/frigate/frigate-configmap.yml
Labels: area/kubernetes

feat(talos): enable i915 GPU driver for k8s-a VM with GVT-g passthrough
  setup/talos/talconfig.yaml
Labels: area/talos

fix(talos): force-load i915 module for k8s-a GVT-g GPU
  setup/talos/patches/k8s-a-gpu.yaml
  setup/talos/talconfig.yaml
Labels: area/talos

fix(talos): remove problematic kernel module patch for k8s-a GPU
  setup/talos/patches/k8s-a-gpu.yaml
  setup/talos/talconfig.yaml
Labels: area/talos

re-add k8s-f
  setup/talos/README.md
  setup/talos/talconfig.yaml
Labels: area/talos

Migrate control plane from k8s-0 (VM) to k8s-cp (physical node)
  setup/talos/clusterconfig/.gitignore
  setup/talos/talconfig.yaml
Labels: area/talos

update docs
  setup/talos/README.md
Labels: area/talos

feat: add KEDA NFS autoscaler with blackbox-exporter probes (#5092)
  kubernetes/default/audiobookshelf/scaledobject.yaml
  kubernetes/default/frigate/scaledobject.yaml
  kubernetes/default/icloudpd/scaledobject.yaml
  kubernetes/default/plex/scaledobject.yaml
  kubernetes/default/qbittorrent/scaledobject.yaml
  kubernetes/default/qui/scaledobject.yaml
  kubernetes/default/radarr/scaledobject.yaml
  kubernetes/default/readarr/scaledobject.yaml
  kubernetes/default/sabnzbd/scaledobject.yaml
  kubernetes/default/sonarr/scaledobject.yaml
  kubernetes/kube-system/keda/keda.yaml
  kubernetes/monitoring/blackbox-exporter/blackbox-exporter.yaml
  kubernetes/monitoring/blackbox-exporter/nfs-probe.yaml
  setup/bootstrap/helmfile.d/00-crds.yaml
Labels: area/bootstrap, area/kubernetes

fix: disable KubeHpaMaxedOut alert for KEDA NFS scalers
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

feat: add Intel GPU node affinity for Plex transcoding
  kubernetes/default/plex/plex.yaml
  kubernetes/kube-system/node-feature-discovery/intel-gpu-alderlake-n.yaml
  kubernetes/kube-system/node-feature-discovery/intel-gpu-coffeelake.yaml
  kubernetes/kube-system/node-feature-discovery/intel-gpu-kabylake.yaml
  kubernetes/kube-system/node-feature-discovery/node-feature-discovery.yaml
Labels: area/kubernetes

feat(frigate): migrate from Coral USB to OpenVINO detector
  kubernetes/default/frigate/frigate-configmap.yml
  kubernetes/default/frigate/frigate.yaml
Labels: area/kubernetes

feat(frigate): migrate from Coral USB to OpenVINO detector (#5096)
  kubernetes/default/frigate/frigate-configmap.yml
  kubernetes/default/frigate/frigate.yaml
Labels: area/kubernetes

feat(frigate): upgrade to YOLOv9-t model for improved detection accuracy
  kubernetes/default/frigate/frigate-configmap.yml
Labels: area/kubernetes

feat(frigate): upgrade to YOLOv9-t model for improved detection accuracy (#5097)
  kubernetes/default/frigate/frigate-configmap.yml
Labels: area/kubernetes

docs(talos): enhance node hardware specs with detailed CPU and GPU info
  setup/talos/README.md
Labels: area/talos

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
