Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

fix(silences): update apiVersion from monitoring to observability for Silence resources
  kubernetes/monitoring/silence-operator/silences.yaml
Labels: area/kubernetes

feat(silences): update CRD to use observability API group for Silence resources
  setup/crds/kustomization.yaml
  setup/crds/vendor/giantswarm_silence-operator/observability.giantswarm.io_silences.yaml
Labels: none

chore(silences): remove unnecessary schema comments from Silence resources
  kubernetes/monitoring/silence-operator/silences.yaml
Labels: area/kubernetes

fix(silences): add missing namespace field to Silence resources
  kubernetes/monitoring/silence-operator/silences.yaml
Labels: area/kubernetes

fix(silences): remove unnecessary isRegex fields and update matchType for consistency
  kubernetes/monitoring/silence-operator/silences.yaml
Labels: area/kubernetes

chore(silences): comment out crds installation configuration in silence-operator.yaml
  kubernetes/monitoring/silence-operator/silence-operator.yaml
Labels: area/kubernetes

fix(bgp): update apiVersion and schema references to v2
  kubernetes/kube-system/cilium/bgp.yaml
Labels: area/kubernetes

fix(bgp): update apiVersion to v2alpha1 for Cilium resources
  kubernetes/kube-system/cilium/bgp.yaml
Labels: area/kubernetes

feat(cilium): migrate from CiliumBGPPeeringPolicy to BGP Control Plane v2
  kubernetes/kube-system/cilium/bgp.yaml
Labels: area/kubernetes

Revert "feat(container): update image loki ( 6.34.0 → 6.35.0 )"
  kubernetes/monitoring/loki/loki.yaml
Labels: area/kubernetes

feat(volsync): increase cache capacity from 5Gi to 8Gi
  kubernetes/default/readarr/volsync.yaml
Labels: area/kubernetes

feat(volsync): add NFS volume for repository and update admission policies
  kubernetes/kube-system/volsync/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

fix(cluster): update runtime-config to use v1beta1 for admission registration
  kubernetes/kube-system/volsync/mutatingadmissionpolicy.yaml
  setup/talos/patches/controller/cluster.yaml
Labels: area/kubernetes, area/talos

fix vm port number
  kubernetes/monitoring/grafana/grafana.yaml
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

feat(patches): add kubelet configuration for image pull serialization and GC thresholds
  setup/talos/patches/global/machine-kubelet.yaml
  setup/talos/talconfig.yaml
Labels: area/talos

fix(rook-ceph): reduce mgr count from 2 to 1
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

fix(rook-ceph): disable service monitor due to upgrade issues
  kubernetes/rook-ceph/operator/rook-ceph.yaml
Labels: area/kubernetes

abs needs more memory
  kubernetes/default/audiobookshelf/audiobookshelf.yaml
Labels: area/kubernetes

fix(minecraft): set suspend to true for lobby, survival, and survival2 Helm releases
  kubernetes/default/minecraft/minecraft-lobby.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(config): enable detection in frigate-configmap required for v0.16.x
  kubernetes/default/frigate/frigate-configmap.yml
Labels: area/kubernetes

fix(frigate): set config file to be writable in frigate-configmap
  kubernetes/default/frigate/frigate.yaml
Labels: area/kubernetes

fix(frigate): comment out live stream configurations and set config file to read-only
  kubernetes/default/frigate/frigate-configmap.yml
  kubernetes/default/frigate/frigate.yaml
Labels: area/kubernetes

fix(frigate): comment out birdseye configuration and change doorbell audio codec to opus
  kubernetes/default/frigate/frigate-configmap.yml
Labels: area/kubernetes

fix(frigate): comment out hwaccel_args for ffmpeg and ensure apple compatibility
  kubernetes/default/frigate/frigate-configmap.yml
Labels: area/kubernetes

fix(frigate): add tls_insecure option for MQTT configuration
  kubernetes/default/frigate/frigate-configmap.yml
Labels: area/kubernetes

fix(frigate): comment out tls_insecure option in MQTT configuration
  kubernetes/default/frigate/frigate-configmap.yml
Labels: area/kubernetes

fix(frigate): update live stream configurations to include main and sub streams for each camera
  kubernetes/default/frigate/frigate-configmap.yml
Labels: area/kubernetes

fix(rook-ceph): increase memory limit for MON from 512Mi to 768Mi
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

Revert "fix(container): update image ghcr.io/home-assistant/home-assistant ( 2025.10.1 → 2025.10.2 )"
  kubernetes/default/home-assistant/home-assistant.yaml
Labels: area/kubernetes

feat(victoria-metrics): add default rule for k8s container memory swap
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(victoria-metrics): correct indentation for defaultRules groups in HelmRelease
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(helm): update kubernetes-sigs-nfd-charts repository URL and type
  setup/flux/repositories/kubernetes-sigs-nfd-charts.yaml
Labels: none

Revert "fix(helm): update rook-ceph group ( v1.18.4 → v1.18.5 )"
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
  kubernetes/rook-ceph/operator/rook-ceph.yaml
  setup/crds/kustomization.yaml
  setup/crds/vendor/rook_rook/crds.yaml
Labels: area/kubernetes

add victoria-logs
  kubernetes/monitoring/grafana/grafana.yaml
  kubernetes/monitoring/victoria-logs/victoria-logs.yaml
Labels: area/kubernetes

add path to ingress
  kubernetes/monitoring/victoria-logs/victoria-logs.yaml
Labels: area/kubernetes

add fluent-bit
  kubernetes/monitoring/fluent-bit/fluent-bit.yaml
  setup/flux/repositories/fluent.yaml
Labels: area/kubernetes

tolerate master
  kubernetes/monitoring/fluent-bit/fluent-bit.yaml
Labels: area/kubernetes

yeet promtail and loki
  kubernetes/monitoring/README.md
  kubernetes/monitoring/grafana/dashboards/loki_logs.json
  kubernetes/monitoring/grafana/grafana.yaml
  kubernetes/monitoring/loki/loki.yaml
  kubernetes/monitoring/prometheus-rules/loki.yaml
  kubernetes/monitoring/promtail/promtail.yaml
Labels: area/kubernetes

migration to garage
  kubernetes/kube-system/talos-backup/externalsecret.yaml
Labels: area/kubernetes

fix(external-secret): correct key naming for AWS access credentials
  kubernetes/kube-system/talos-backup/externalsecret.yaml
Labels: area/kubernetes
