Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

feat: migrate sabnzbd PVC to ResourceSet management
  kubernetes/default/sabnzbd/sabnzbd.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

feat: migrate qbittorrent PVC to ResourceSet management
  kubernetes/default/qbittorrent/qbittorrent.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

feat: migrate audiobookshelf PVC to ResourceSet management
  kubernetes/default/audiobookshelf/audiobookshelf.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

feat: migrate zwave2mqtt PVC to ResourceSet management
  kubernetes/default/zwave2mqtt/zwave2mqtt.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

feat: migrate node-red PVC to ResourceSet management
  kubernetes/default/node-red/node-red.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

feat: migrate frigate PVC to ResourceSet management
  kubernetes/default/frigate/frigate.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

feat: migrate unifi PVC to ResourceSet management
  kubernetes/default/unifi/unifi.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

feat: migrate minecraft-creative PVC to ResourceSet management
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

feat: migrate minecraft-lobby PVC to ResourceSet management
  kubernetes/default/minecraft/minecraft-lobby.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

feat: migrate minecraft-survival PVC to ResourceSet management
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

feat: migrate minecraft-survival2 PVC to ResourceSet management
  kubernetes/default/minecraft/minecraft-survival2.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

enforce 4 paralellism
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

feat: migrate home-assistant config PVC to ResourceSet management
  kubernetes/default/home-assistant/home-assistant.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

fix: remove unsupported parallelism field from Kopia spec
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

feat: migrate plex PVC to ResourceSet management (21/21 - 100% complete)
  kubernetes/default/plex/plex.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

fix: add 1h timeout to plex HelmRelease for PVC restore
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

fix(volsync): correct Kopia maintenance secret format
  kubernetes/kube-system/volsync/maintenance-externalsecret.yaml
Labels: area/kubernetes

point to ssdtank for kopia backups
  kubernetes/kube-system/kopia/kopia.yaml
  kubernetes/kube-system/volsync/maintenance-mutatingadmissionpolicy.yaml
  kubernetes/kube-system/volsync/mutatingadmissionpolicy.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

typo
  kubernetes/kube-system/kopia/kopia.yaml
Labels: area/kubernetes

feat(taskfile): enhance k8s tasks with native node debugging and KEDA operations
  .taskfiles/k8s/Taskfile.yaml
Labels: area/taskfile

workaround for OOMkill bug
  setup/talos/patches/global/machine-oom.yaml
  setup/talos/talconfig.yaml
Labels: area/talos

not needed
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

add kopia to readme
  kubernetes/kube-system/README.md
Labels: area/kubernetes

update instructions
  .github/copilot-instructions.md
Labels: none

simplify copilot instructions for coding agents
  .github/copilot-instructions.md
Labels: none

Configure mosquitto service name as 'mqtt'
  kubernetes/default/mosquitto/mosquitto.yaml
Labels: area/kubernetes

remove nameOverride
  kubernetes/default/mosquitto/mosquitto.yaml
Labels: area/kubernetes

feat: enhance ResourceSets with dependencies, health checks, and shared InputProvider
  kubernetes/kube-system/keda/resourceset-nfs-scalers.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-defaults.yaml
Labels: area/kubernetes

fix: correct ResourceSetInputProvider usage and fix SSA label placement
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-apps.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-defaults.yaml
Labels: area/kubernetes

Remove cache settings from VolSync ResourceSets
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-apps.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes

Fix ResourceSetInputProvider implementation
  kubernetes/default/audiobookshelf/resourceset-inputprovider.yaml
  kubernetes/default/frigate/resourceset-inputprovider.yaml
  kubernetes/default/home-assistant/resourceset-inputprovider.yaml
  kubernetes/default/jellyseerr/resourceset-inputprovider.yaml
  kubernetes/default/minecraft/resourceset-inputprovider-creative.yaml
  kubernetes/default/minecraft/resourceset-inputprovider-lobby.yaml
  kubernetes/default/minecraft/resourceset-inputprovider-survival.yaml
  kubernetes/default/minecraft/resourceset-inputprovider-survival2.yaml
  kubernetes/default/node-red/resourceset-inputprovider.yaml
  kubernetes/default/plex/resourceset-inputprovider.yaml
  kubernetes/default/prowlarr/resourceset-inputprovider.yaml
  kubernetes/default/qbittorrent/resourceset-inputprovider.yaml
  kubernetes/default/qui/resourceset-inputprovider.yaml
  kubernetes/default/radarr/resourceset-inputprovider.yaml
  kubernetes/default/readarr/resourceset-inputprovider.yaml
  kubernetes/default/recyclarr/resourceset-inputprovider.yaml
  kubernetes/default/sabnzbd/resourceset-inputprovider.yaml
  kubernetes/default/sonarr/resourceset-inputprovider.yaml
  kubernetes/default/tautulli/resourceset-inputprovider.yaml
  kubernetes/default/unifi/resourceset-inputprovider.yaml
  kubernetes/default/zwave2mqtt/resourceset-inputprovider.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-apps.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes

Use label selector for InputProvider discovery
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes

Consolidate VolSync InputProviders into single file
  kubernetes/default/audiobookshelf/resourceset-inputprovider.yaml
  kubernetes/default/frigate/resourceset-inputprovider.yaml
  kubernetes/default/home-assistant/resourceset-inputprovider.yaml
  kubernetes/default/jellyseerr/resourceset-inputprovider.yaml
  kubernetes/default/minecraft/resourceset-inputprovider-creative.yaml
  kubernetes/default/minecraft/resourceset-inputprovider-lobby.yaml
  kubernetes/default/minecraft/resourceset-inputprovider-survival.yaml
  kubernetes/default/minecraft/resourceset-inputprovider-survival2.yaml
  kubernetes/default/node-red/resourceset-inputprovider.yaml
  kubernetes/default/plex/resourceset-inputprovider.yaml
  kubernetes/default/prowlarr/resourceset-inputprovider.yaml
  kubernetes/default/qbittorrent/resourceset-inputprovider.yaml
  kubernetes/default/qui/resourceset-inputprovider.yaml
  kubernetes/default/radarr/resourceset-inputprovider.yaml
  kubernetes/default/readarr/resourceset-inputprovider.yaml
  kubernetes/default/recyclarr/resourceset-inputprovider.yaml
  kubernetes/default/sabnzbd/resourceset-inputprovider.yaml
  kubernetes/default/sonarr/resourceset-inputprovider.yaml
  kubernetes/default/tautulli/resourceset-inputprovider.yaml
  kubernetes/default/unifi/resourceset-inputprovider.yaml
  kubernetes/default/zwave2mqtt/resourceset-inputprovider.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes

Add default values and pvcSuffix to VolSync InputProvider
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes

Move hyphen from pvcSuffix values into template logic
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes

feat: enhance ResourceSets with dependencies, health checks, and shared InputProvider (#5131)
  kubernetes/kube-system/keda/resourceset-nfs-scalers.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes

Fix Go template syntax: use 'or' instead of 'default' filter
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes

Fix template delimiter: remove <<- from string concatenation
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes

Fix Go template syntax: use get function with default for safe map key access
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes

fix(volsync): add fsGroupChangePolicy to prevent recursive permission changes
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes
