Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

fix(renovate): enable digest automerge for chaptarr
  .renovate/autoMerge.json5
  kubernetes/default/chaptarr/chaptarr.yaml
Labels: area/kubernetes, area/renovate

remove crucix - meh
  kubernetes/default/README.md
  kubernetes/default/crucix/crucix.yaml
  kubernetes/default/crucix/externalsecret.yaml
Labels: area/kubernetes

chore(renovate): auto-merge all container digest updates
  .renovate/autoMerge.json5
Labels: area/renovate

feat(kei): add kei as icloudpd replacement candidate
  kubernetes/default/README.md
  kubernetes/default/icloudpd/icloudpd.yaml
  kubernetes/default/kei/externalsecret.yaml
  kubernetes/default/kei/kei.yaml
  kubernetes/kube-system/keda/resourceset-nfs-scalers.yaml
Labels: area/kubernetes

fix(kei): add KEI_DATA_DIR env var so all subcommands use /config
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(kei): use KEI_CONFIG with config.toml for data_dir and notifications
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(kei): set readOnlyRootFilesystem false, remove invalid data_dir from config.toml
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(kei): drop config.toml mount, use env vars only
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(kei): use config.toml with [auth] cookie_directory for headless 2FA
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(kei): explicit --cookie-directory /config/cookies so sync and get-code use same session
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(kei): move global flags before sync subcommand in args
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(kei): revert to default CMD, rely on config.toml for cookie_directory
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(kei): align cookie_directory to /config, enable readOnlyRootFilesystem
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

chore(icloudpd): remove icloudpd, replaced by kei
  kubernetes/default/README.md
  kubernetes/default/icloudpd/externalsecret.yaml
  kubernetes/default/icloudpd/icloudpd.yaml
  kubernetes/kube-system/keda/resourceset-nfs-scalers.yaml
Labels: area/kubernetes

feat(kei): sync all libraries (personal + shared)
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

chore(tasks): add kei 2FA helper tasks
  .taskfiles/k8s/Taskfile.yaml
Labels: area/taskfile

chore(kei): upgrade to v0.7.0, update config and task syntax
  .taskfiles/k8s/Taskfile.yaml
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes, area/taskfile

feat(gatus): add remote instance for external NixOS gatus via Tailscale Funnel
  kubernetes/kube-system/coredns/coredns.yaml
  kubernetes/monitoring/gatus/gatus.yaml
Labels: area/kubernetes

chore(gatus): clear remote endpoint-prefix now that all external endpoints share a single group
  kubernetes/monitoring/gatus/gatus.yaml
Labels: area/kubernetes

chore(gatus): clean up UI config, replace Github button with External Status link
  kubernetes/monitoring/gatus/gatus.yaml
Labels: area/kubernetes

chore(gatus): suppress default dashboard heading and subheading
  kubernetes/monitoring/gatus/gatus.yaml
Labels: area/kubernetes

chore(gatus): set dashboard heading and subheading
  kubernetes/monitoring/gatus/gatus.yaml
Labels: area/kubernetes

chore(monitoring): re-enable SmokepingPacketLoss alert and remove dead commented code
  kubernetes/default/cloudnative-pg/cluster/prometheusrule.yaml
  kubernetes/monitoring/silence-operator/silences.yaml
  kubernetes/monitoring/smokeping-prober/prometheusrule.yaml
Labels: area/kubernetes

fix(alert): exclude Tata Communications from speedtest slow download/upload alerts
  kubernetes/monitoring/speedtest-exporter/prometheusrule.yaml
Labels: area/kubernetes

chore(renovate): pin emqx-operator below 2.3.0 to avoid BSL-licensed EMQX
  .renovate/allowedVersions.json5
Labels: area/renovate

feat(volsync): switch to hourly backups with extended retention
  kubernetes/kube-system/volsync/maintenance-kopiamaintenance.yaml
  kubernetes/kube-system/volsync/prometheusrule.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes

feat(monitoring): add ExternalSecretSyncError PrometheusRule
  kubernetes/kube-system/external-secrets/chart/prometheusrule.yaml
Labels: area/kubernetes

fix(monitoring): scope ExternalSecretSyncError to Ready condition
  kubernetes/kube-system/external-secrets/chart/prometheusrule.yaml
Labels: area/kubernetes

fix(kei): replace config.toml with env vars, drop ConfigMap subPath mount
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(kei): override args to drop --config, use env vars only
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(intel-gpu-resource-driver): disable xpumd health monitoring for 0.10.0
  kubernetes/kube-system/intel-gpu-resource-driver/intel-gpu-resource-driver.yaml
Labels: area/kubernetes

sort: apply structured key ordering to all app-template HelmReleases
  AGENTS.md
  kubernetes/default/audiobookshelf/audiobookshelf.yaml
  kubernetes/default/chaptarr/chaptarr.yaml
  kubernetes/default/continuwuity/continuwuity.yaml
  kubernetes/default/echo-server/echo-server.yaml
  kubernetes/default/frigate/frigate.yaml
  kubernetes/default/home-assistant/home-assistant.yaml
  kubernetes/default/kei/kei.yaml
  kubernetes/default/mosquitto/mosquitto.yaml
  kubernetes/default/mousetrap/mousetrap.yaml
  kubernetes/default/node-red/node-red.yaml
  kubernetes/default/plex/plex.yaml
  kubernetes/default/prowlarr/prowlarr.yaml
  kubernetes/default/qbittorrent/qbittorrent.yaml
  kubernetes/default/qui/qui.yaml
  kubernetes/default/radarr/radarr.yaml
  kubernetes/default/readarr/readarr.yaml
  kubernetes/default/recyclarr/recyclarr.yaml
  kubernetes/default/sabnzbd/sabnzbd.yaml
  kubernetes/default/seerr/seerr.yaml
  kubernetes/default/ser2sock/ser2sock.yaml
  kubernetes/default/shelfmark/shelfmark.yaml
  kubernetes/default/sonarr/sonarr.yaml
  kubernetes/default/tautulli/tautulli.yaml
  kubernetes/default/teslamate/teslamate.yaml
  kubernetes/default/unifi/unifi.yaml
  kubernetes/default/zwave2mqtt/zwave2mqtt.yaml
  kubernetes/kube-system/envoy-gateway/error-pages/error-pages.yaml
  kubernetes/kube-system/etcd/etcd-backup/etcd-backup.yaml
  kubernetes/kube-system/etcd/etcd-defrag/etcd-defrag.yaml
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
  kubernetes/kube-system/kopia/kopia.yaml
  kubernetes/monitoring/gatus/gatus.yaml
  kubernetes/monitoring/opnsense-exporter/opnsense-exporter.yaml
  kubernetes/monitoring/smokeping-prober/smokeping-prober.yaml
  kubernetes/monitoring/speedtest-exporter/speedtest-exporter.yaml
  kubernetes/monitoring/unbound-exporter/unbound-exporter.yaml
  kubernetes/monitoring/unifi-poller/unifi-poller.yaml
Labels: area/kubernetes

fix: restore YAML anchor order in frigate
  kubernetes/default/frigate/frigate.yaml
Labels: area/kubernetes

fix: resolve YAML anchor ordering issues in plex and error-pages
  kubernetes/default/plex/plex.yaml
  kubernetes/kube-system/envoy-gateway/error-pages/error-pages.yaml
Labels: area/kubernetes

fix: remove erroneously added readOnlyRootFilesystem from etcd-backup
  kubernetes/kube-system/etcd/etcd-backup/etcd-backup.yaml
Labels: area/kubernetes

fix(monitoring): disable victoria-logs serviceMonitor to resolve ScrapePoolHasNoTargets alert
  kubernetes/monitoring/victoria-logs/victoria-logs.yaml
Labels: area/kubernetes

feat(kei): add Prometheus metrics, healthz probes, alerts, and Grafana dashboard
  kubernetes/default/kei/kei.yaml
  kubernetes/default/kei/prometheusrule.yaml
  kubernetes/monitoring/grafana/dashboards/kei.json
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

fix(kei): correct metric names to match actual endpoint output
  kubernetes/default/kei/prometheusrule.yaml
  kubernetes/monitoring/grafana/dashboards/kei.json
Labels: area/kubernetes

fix(grafana): handle kei pod restarts in dashboard queries
  kubernetes/monitoring/grafana/dashboards/kei.json
Labels: area/kubernetes

fix(kei): disable metrics server to work around 0.10.0 tokio runtime panic
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes
