Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

refactor(envoy-gateway): reorganize directory and remove cilium gateway
  kubernetes/kube-system/envoy-gateway/envoy-proxies/envoy-proxy-standard.yaml
  kubernetes/kube-system/envoy-gateway/envoy-proxies/envoy-proxy.yaml
  kubernetes/kube-system/envoy-gateway/gateway-classes/gateway-class-standard.yaml
  kubernetes/kube-system/envoy-gateway/gateway-classes/gateway-class.yaml
  kubernetes/kube-system/envoy-gateway/gateways/gateway-internal.yaml
  kubernetes/kube-system/envoy-gateway/gateways/gateway-public.yaml
  kubernetes/kube-system/envoy-gateway/gateways/gateway.yaml
  kubernetes/kube-system/envoy-gateway/monitoring/podmonitor-envoy-proxy.yaml
  kubernetes/kube-system/envoy-gateway/monitoring/servicemonitor-envoy-gateway.yaml
  kubernetes/kube-system/envoy-gateway/policies/backend-traffic-policy.yaml
  kubernetes/kube-system/envoy-gateway/policies/client-traffic-policy.yaml
  kubernetes/kube-system/envoy-gateway/routes/https-redirect.yaml
  kubernetes/kube-system/envoy-gateway/routes/wildcard-route.yaml
Labels: area/kubernetes

refactor(envoy-gateway): reorganize directory and remove cilium gateway
  kubernetes/kube-system/README.md
  kubernetes/kube-system/cilium/gateway/gateway-internal.yaml
  kubernetes/kube-system/cilium/gateway/gateway-public.yaml
  kubernetes/kube-system/cilium/gateway/redirect.yaml
  kubernetes/kube-system/envoy-gateway/envoy-proxies/envoy-proxy-standard.yaml
  kubernetes/kube-system/envoy-gateway/envoy-proxies/envoy-proxy.yaml
  kubernetes/kube-system/envoy-gateway/gateway-classes/gateway-class-standard.yaml
  kubernetes/kube-system/envoy-gateway/gateway-classes/gateway-class.yaml
  kubernetes/kube-system/envoy-gateway/gateways/gateway.yaml
  kubernetes/kube-system/envoy-gateway/monitoring/podmonitor-envoy-proxy.yaml
  kubernetes/kube-system/envoy-gateway/monitoring/servicemonitor-envoy-gateway.yaml
  kubernetes/kube-system/envoy-gateway/policies/backend-traffic-policy.yaml
  kubernetes/kube-system/envoy-gateway/policies/client-traffic-policy.yaml
  kubernetes/kube-system/envoy-gateway/routes/https-redirect.yaml
  kubernetes/kube-system/envoy-gateway/routes/wildcard-route.yaml
  kubernetes/kube-system/external-dns/README.md
Labels: area/kubernetes

chore(migration): remove outdated migration document for Cilium to Envoy Gateway consolidation
  MIGRATION-ENVOY-GATEWAY.md
Labels: none

docs: add Envoy Gateway architecture README
  kubernetes/kube-system/envoy-gateway/README.md
Labels: area/kubernetes

feat: migrate Hubble UI from Ingress to HTTPRoute
  kubernetes/kube-system/cilium/cilium.yaml
  kubernetes/kube-system/cilium/hubble-ui-route.yaml
Labels: area/kubernetes

chore: disable Tailscale IngressClass creation
  kubernetes/kube-system/tailscale/tailscale-operator.yaml
Labels: area/kubernetes

fix(rook-ceph): disable CephPoolGrowthWarning using correct parameter
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

fix(cilium): disable Gateway API controller
  kubernetes/kube-system/cilium/cilium.yaml
Labels: area/kubernetes

fix(envoy-gateway): pin LoadBalancer IPs via Cilium LB-IPAM
  kubernetes/kube-system/envoy-gateway/gateways/gateway-internal.yaml
  kubernetes/kube-system/envoy-gateway/gateways/gateway-public.yaml
Labels: area/kubernetes

docs(envoy-gateway): update README with complete structure
  kubernetes/kube-system/envoy-gateway/README.md
Labels: area/kubernetes

fix(external-dns): mitigate OOMKill in opnsense webhook
  kubernetes/kube-system/external-dns/external-dns-opnsense.yaml
Labels: area/kubernetes

fix(external-dns): update webhook image and reduce memory limits
  kubernetes/kube-system/external-dns/external-dns-opnsense.yaml
Labels: area/kubernetes

fix(external-dns): set pullPolicy Always for custom webhook image
  kubernetes/kube-system/external-dns/external-dns-opnsense.yaml
Labels: area/kubernetes

fix(external-dns): update webhook image repository to amd64 version
  kubernetes/kube-system/external-dns/external-dns-opnsense.yaml
Labels: area/kubernetes

fix(external-dns): correct webhook image repository and tag for OpnSense
  kubernetes/kube-system/external-dns/external-dns-opnsense.yaml
Labels: area/kubernetes

feat(envoy-gateway): add custom error pages for all gateways
  kubernetes/kube-system/envoy-gateway/README.md
  kubernetes/kube-system/envoy-gateway/error-pages/error-pages.yaml
  kubernetes/kube-system/envoy-gateway/routes/wildcard-internal.yaml
  kubernetes/kube-system/envoy-gateway/routes/wildcard-public.yaml
Labels: area/kubernetes

envoy-gateway: apply traffic policies to all gateways
  kubernetes/kube-system/envoy-gateway/README.md
  kubernetes/kube-system/envoy-gateway/policies/backend-traffic-policy.yaml
  kubernetes/kube-system/envoy-gateway/policies/client-traffic-policy.yaml
Labels: area/kubernetes

envoy-gateway: fix targetRefs for traffic policies
  kubernetes/kube-system/envoy-gateway/policies/backend-traffic-policy.yaml
  kubernetes/kube-system/envoy-gateway/policies/client-traffic-policy.yaml
Labels: area/kubernetes

feat(envoy-gateway): simplify Proxmox proxy with Backend CRD and consolidate CRD management
  kubernetes/kube-system/envoy-gateway/envoy-gateway.yaml
  kubernetes/kube-system/envoy-gateway/external-proxmox.yaml
  kubernetes/kube-system/gateway-api-crds/gateway-api-crds.yaml
  setup/bootstrap/helmfile.d/00-crds.yaml
Labels: area/bootstrap, area/kubernetes

fix(envoy-gateway): use spec.infrastructure.annotations for Cilium LB-IPAM
  kubernetes/kube-system/envoy-gateway/README.md
  kubernetes/kube-system/envoy-gateway/envoy-proxies/envoy-proxy-standard.yaml
  kubernetes/kube-system/envoy-gateway/gateways/gateway-internal.yaml
  kubernetes/kube-system/envoy-gateway/gateways/gateway-public.yaml
Labels: area/kubernetes

refactor(unifi): simplify HTTPRoute using Backend with insecureSkipVerify
  kubernetes/default/unifi/certificate.yaml
  kubernetes/default/unifi/unifi.yaml
Labels: area/kubernetes

fix(unifi): use fqdn instead of service in Backend endpoints
  kubernetes/default/unifi/unifi.yaml
Labels: area/kubernetes

feat(unifi): add Backend resource for HTTPRoute
  kubernetes/default/unifi/backend.yaml
Labels: area/kubernetes

Revert "refactor(unifi): simplify HTTPRoute using Backend with insecureSkipVerify"
  kubernetes/default/unifi/backend.yaml
  kubernetes/default/unifi/certificate.yaml
  kubernetes/default/unifi/unifi.yaml
Labels: area/kubernetes

fix(hubble-ui): update external-dns annotations for internal routing
  kubernetes/kube-system/cilium/hubble-ui-route.yaml
Labels: area/kubernetes

fix(rook-ceph): update dashboard route configuration for internal access
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

trying to see if txt works now
  kubernetes/kube-system/external-dns/external-dns-opnsense.yaml
Labels: area/kubernetes

fix(external-dns): update webhook image tag to support TXT records
  kubernetes/kube-system/external-dns/external-dns-opnsense.yaml
Labels: area/kubernetes

fix(external-dns): update webhook image repository and tag for OpnSense
  kubernetes/kube-system/external-dns/external-dns-opnsense.yaml
Labels: area/kubernetes

feat(tailscale): add app connector for internal gateway routing
  kubernetes/kube-system/tailscale/connector.yaml
Labels: area/kubernetes

feat(tailscale): add app connector for internal gateway routing
  kubernetes/kube-system/tailscale/connector.yaml
Labels: area/kubernetes

feat(envoy-gateway): remove tailscale-gateway, consolidate to app connector
  kubernetes/default/echo-server/echo-server.yaml
  kubernetes/default/emqx/route.yaml
  kubernetes/default/frigate/frigate.yaml
  kubernetes/default/home-assistant/home-assistant.yaml
  kubernetes/default/node-red/node-red.yaml
  kubernetes/default/prowlarr/prowlarr.yaml
  kubernetes/default/qbittorrent/qbittorrent.yaml
  kubernetes/default/radarr/radarr.yaml
  kubernetes/default/readarr/readarr.yaml
  kubernetes/default/sabnzbd/sabnzbd.yaml
  kubernetes/default/sonarr/sonarr.yaml
  kubernetes/default/tautulli/tautulli.yaml
  kubernetes/default/teslamate/teslamate.yaml
  kubernetes/default/unifi/unifi.yaml
  kubernetes/default/zwave2mqtt/zwave2mqtt.yaml
  kubernetes/kube-system/cilium/hubble-ui-route.yaml
  kubernetes/kube-system/envoy-gateway/README.md
  kubernetes/kube-system/envoy-gateway/envoy-proxies/envoy-proxy.yaml
  kubernetes/kube-system/envoy-gateway/external-proxmox.yaml
  kubernetes/kube-system/envoy-gateway/gateway-classes/gateway-class.yaml
  kubernetes/kube-system/envoy-gateway/gateways/gateway.yaml
  kubernetes/kube-system/envoy-gateway/policies/backend-traffic-policy.yaml
  kubernetes/kube-system/envoy-gateway/policies/client-traffic-policy.yaml
  kubernetes/kube-system/envoy-gateway/routes/https-redirect.yaml
  kubernetes/kube-system/envoy-gateway/routes/wildcard-route.yaml
  kubernetes/kube-system/external-dns/README.md
  kubernetes/monitoring/grafana/grafana.yaml
  kubernetes/monitoring/victoria-logs/victoria-logs.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

feat(tailscale): add infrastructure subnet route to app connector
  kubernetes/kube-system/tailscale/connector.yaml
Labels: area/kubernetes

feat(volsync): migrate from Restic to Kopia with NFS backend
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/resources/list-snapshots.yaml.j2
  .taskfiles/volsync/resources/replicationdestination.yaml.j2
  kubernetes/default/audiobookshelf/volsync.yaml
  kubernetes/default/frigate/frigate-configmap.yaml
  kubernetes/default/frigate/volsync.yaml
  kubernetes/default/home-assistant/volsync.yaml
  kubernetes/default/jellyseerr/volsync.yaml
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-lobby.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
  kubernetes/default/node-red/volsync.yaml
  kubernetes/default/plex/volsync.yaml
  kubernetes/default/prowlarr/volsync.yaml
  kubernetes/default/qbittorrent/volsync.yaml
  kubernetes/default/radarr/volsync.yaml
  kubernetes/default/readarr/volsync.yaml
  kubernetes/default/recyclarr/recyclarr-configmap.yaml
  kubernetes/default/recyclarr/volsync.yaml
  kubernetes/default/sabnzbd/volsync.yaml
  kubernetes/default/sonarr/volsync.yaml
  kubernetes/default/tautulli/volsync.yaml
  kubernetes/default/unifi/volsync.yaml
  kubernetes/default/zwave2mqtt/volsync.yaml
  kubernetes/kube-system/volsync/kopia/externalsecret.yaml
  kubernetes/kube-system/volsync/kopia/kopia.yaml
  kubernetes/kube-system/volsync/mutatingadmissionpolicy.yaml
  kubernetes/kube-system/volsync/volsync.yaml
  kubernetes/monitoring/influxdb/volsync.yaml
Labels: area/kubernetes, area/taskfile

fix(envoy): set finite backend request timeout to resolve high latency
  kubernetes/kube-system/envoy-gateway/policies/backend-traffic-policy.yaml
  kubernetes/kube-system/envoy-gateway/policies/client-traffic-policy.yaml
Labels: area/kubernetes

fix(talos): enable search domains for node name resolution
  setup/talos/patches/global/machine-network.yaml
Labels: area/talos

remove searches stuff
  setup/talos/patches/global/machine-network.yaml
Labels: area/talos

fix(coredns): rewrite short node names to .home domain
  kubernetes/kube-system/coredns/coredns.yaml
Labels: area/kubernetes

ore directed rewrite
  kubernetes/kube-system/coredns/coredns.yaml
Labels: area/kubernetes

this feels like a hack
  kubernetes/kube-system/coredns/coredns.yaml
Labels: area/kubernetes
