Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

fix(ci): restore usage comment by using github.token instead of claude app token
  .github/scripts/report-claude-usage.sh
  .github/workflows/renovate-review.yaml
Labels: none

chore(renovate): add 3-day cooldown for victoria-logs charts
  .renovate/overrides.json5
Labels: area/renovate

chore(ci): remove dormant self-hosted Renovate workflow and orphaned files
  .github/scripts/testdata/exec-result.json
  .github/scripts/update_crds_local.py
  .github/workflows/renovate.yml
Labels: none

fix(ci): harden renovate-review against permission-denial turn waste
  .github/workflows/renovate-review.yaml
Labels: none

fix(ci): add deep tier and prompt fixes to survive heavy group bumps
  .github/workflows/renovate-review.yaml
Labels: none

feat(rook-ceph): add ceph-csi-drivers chart for v1.20 CSI handoff
  kubernetes/rook-ceph/operator/ceph-csi-drivers.yaml
  kubernetes/rook-ceph/operator/rook-ceph.yaml
Labels: area/kubernetes

fix(talos): add HPAScaleToZero feature gate to controller-manager
  setup/talos/patches/controller/cluster.yaml
Labels: area/talos

fix(rook-ceph): pin osd_memory_target and raise OSD memory limit to stop OOMKills
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

fix(ci): cumulative usage table per review run and ban bare upstream issue refs
  .github/scripts/report-claude-usage.sh
  .github/workflows/renovate-review.yaml
Labels: none

fix(ci): ungate grafana-dashboard Renovate PRs and correct allowlist docs
  .github/workflows/renovate-review.yaml
Labels: none

feat(kei): add full-enumeration-reason panel to kei dashboard
  kubernetes/default/kei/grafana-dashboard-kei.yaml
Labels: area/kubernetes

feat(ci): re-trial flate alongside flux-local
  .github/workflows/flate.yaml
Labels: none

revert(container): roll back kei to 0.20.4 (0.21.x orphan soft-delete token block)
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

feat(ci): replace flux-local with flate, consolidate diff comments
  .github/workflows/flate.yaml
  .github/workflows/flux-local.yaml
  CLAUDE.md
Labels: none

fix(container): roll kei forward to 0.21.3 to unblock v12 schema DB
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

feat(volsync): add kei backup, rename PVC to kei-config
  kubernetes/default/kei/kei.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes

revert(volsync): remove accidental pvcName template from pvcs ResourceSet
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

fix(ci): harden renovate-review against subagents, thrash, and duplicate reviews
  .github/workflows/renovate-review.yaml
Labels: none

feat(ci): add tune-renovate-review skill for iterative workflow analysis
  .claude/skills/tune-renovate-review/SKILL.md
Labels: none

feat(ci): harden renovate-review with pre-fetched context, sticky reviews, and fork lockout
  .github/workflows/renovate-review.yaml
Labels: none

fix(ci): audit renovate-review workflow and sync skill/docs
  .claude/skills/tune-renovate-review/SKILL.md
  .github/workflows/renovate-review.yaml
  CLAUDE.md
Labels: none

refactor(minecraft): migrate HelmReleases from itzg charts to app-template
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-lobby.yaml
  kubernetes/default/minecraft/minecraft-proxy.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
  setup/flux/repositories/minecraft-server-charts.yaml
Labels: area/kubernetes

refactor(minecraft): migrate HelmReleases from itzg charts to app-template (#5739)
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-lobby.yaml
  kubernetes/default/minecraft/minecraft-proxy.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
  setup/flux/repositories/minecraft-server-charts.yaml
Labels: area/kubernetes

fix(minecraft): add writable /server volume to mcproxy
  kubernetes/default/minecraft/minecraft-proxy.yaml
Labels: area/kubernetes

fix(minecraft): replace NoChatReports SPIGET resource with Modrinth equivalent
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-lobby.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

keep mc-lobby scaled to 1
  kubernetes/default/minecraft/minecraft-lobby.yaml
Labels: area/kubernetes

fix(minecraft-lobby): chart-manage CoreProtect/VoidSpawn+ and bump EssentialsX
  kubernetes/default/minecraft/minecraft-lobby.yaml
Labels: area/kubernetes

fix(minecraft-lobby): drop obsolete PAPER_CHANNEL=experimental override
  kubernetes/default/minecraft/minecraft-lobby.yaml
Labels: area/kubernetes

fix(minecraft-lobby): swap CoreProtect-CE for StellarProtect
  kubernetes/default/minecraft/minecraft-lobby.yaml
Labels: area/kubernetes

revert(minecraft-lobby): restore CoreProtect-CE over StellarProtect
  kubernetes/default/minecraft/minecraft-lobby.yaml
Labels: area/kubernetes

fix(taskfile): remove obsolete --data-dir flag from kei login tasks
  .taskfiles/k8s/Taskfile.yaml
Labels: area/taskfile

fix(kei): add startupProbe so 2FA wait does not kill the pod
  .taskfiles/k8s/Taskfile.yaml
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes, area/taskfile

fix(minecraft-survival): chart-manage CoreProtect/BlueMap/DiscordSRV/FreezeHibernate, bump EssentialsX, drop PAPER_CHANNEL
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

fix(minecraft-survival): chart-manage CoreProtect/BlueMap/DiscordSRV/FreezeHibernate, bump EssentialsX, drop PAPER_CHANNEL (#5745)
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

feat(minecraft-survival): expose BlueMap web map on internal gateway
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

fix(minecraft-survival2): chart-manage CoreProtect, bump EssentialsX/DistantHorizonsSupport, expose BlueMap
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(minecraft): bump DiscordSRV 1.29.0 -> 1.30.5 on survival and survival2
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

new seed for survival
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

fix(minecraft-creative): chart-manage CoreProtect/BlueMap, bump EssentialsX, scale to 1, expose BlueMap
  kubernetes/default/minecraft/minecraft-creative.yaml
Labels: area/kubernetes

feat(minecraft-lobby): track EssentialsX/CoreProtect/VoidSpawn+ via MODRINTH_PROJECTS
  kubernetes/default/minecraft/minecraft-lobby.yaml
Labels: area/kubernetes
