Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

fix(minecraft): migrate creative/survival2 to Prism and pin EssentialsX
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(minecraft-survival2): drop distant-horizons-support, no MC 26.2 build yet
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(kei): enable debug logging to diagnose #655 reauth path
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(home-assistant): wipe stale /config/.venv on image version change
  kubernetes/default/home-assistant/home-assistant.yaml
Labels: area/kubernetes

fix(home-assistant): wipe stale /config/.venv on image version change (#5891)
  kubernetes/default/home-assistant/home-assistant.yaml
Labels: area/kubernetes

fix(minecraft): un-pin nbtapi and locked-chests-plugin now that MC 26.2 is tagged upstream
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(minecraft-survival2): remove discordsrv plugin
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(renovate): set minimumReleaseAgeBehaviour to timestamp-optional
  .github/renovate.json5
Labels: none

fix(renovate): set minimumReleaseAgeBehaviour to timestamp-optional (#5897)
  .github/renovate.json5
Labels: none

fix(renovate): track Talos installer via github-releases for real timestamps
  .renovate/groups.json5
  .renovate/overrides.json5
  kubernetes/system-upgrade/talos-upgrade.yaml
  setup/talos/talconfig.yaml
Labels: area/kubernetes, area/renovate, area/talos

fix(renovate): track Talos installer via github-releases for real timestamps (#5901)
  .renovate/groups.json5
  .renovate/overrides.json5
  kubernetes/system-upgrade/talos-upgrade.yaml
  setup/talos/talconfig.yaml
Labels: area/kubernetes, area/renovate, area/talos

fix(cloudnative-pg): bound stopDelay/switchoverDelay to prevent drain stalls
  kubernetes/default/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(tuppr): remove deprecated controller.metrics.enabled field
  kubernetes/system-upgrade/tuppr.yaml
Labels: area/kubernetes

fix(container): point echo-server probes at main port, not metrics port
  kubernetes/default/echo-server/echo-server.yaml
Labels: area/kubernetes

fix(monitoring): exclude nixos-upgrade from crash alert, add reboot-required alert
  kubernetes/monitoring/prometheus-rules/node-exporter.yaml
Labels: area/kubernetes

fix(rook-ceph): raise mgr memory limit to 2Gi to stop recurring OOMKills
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

fix(talos): replace k8s-c boot NVMe with 500GB spare
  setup/talos/README.md
  setup/talos/talconfig.yaml
Labels: area/talos

fix(cloudnative-pg): use switchover primaryUpdateMethod to unblock node drains
  kubernetes/default/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(envoy-gateway): remove drainTimeout override to avoid needless drain delay on node drains
  kubernetes/kube-system/envoy-gateway/envoy-proxies/envoy-proxy-standard.yaml
Labels: area/kubernetes

fix(volsync): cap kopia maintenance cache at 70% of PVC capacity
  kubernetes/kube-system/volsync/maintenance-kopiamaintenance.yaml
Labels: area/kubernetes

fix(minecraft): pin VERSION to 26.2 to stop crashloop from stale experimental resolve
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(minecraft): un-pin Prism now that Hangar has a 26.2 build
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

feat(kube-system): tune coredns for ipv4-only cluster
  kubernetes/kube-system/coredns/coredns.yaml
Labels: area/kubernetes

fix(volsync): grow kopia maintenance cache to 20Gi
  kubernetes/kube-system/volsync/maintenance-kopiamaintenance.yaml
Labels: area/kubernetes

chore(talos): prepare for v1.14 (ghcr.io/siderolabs/installer removal, stale README)
  .renovate/groups.json5
  .renovate/overrides.json5
  setup/talos/README.md
Labels: area/renovate, area/talos

feat(kube-system/kopiur): migrate from volsync-perfectra1n to kopiur, adopt existing repo
  .taskfiles/kopiur/Taskfile.yaml
  Taskfile.yaml
  kubernetes/kube-system/kopiur/README.md
  kubernetes/kube-system/kopiur/clusterrepository.yaml
  kubernetes/kube-system/kopiur/externalsecret.yaml
  kubernetes/kube-system/kopiur/kopiur.yaml
  kubernetes/kube-system/kopiur/resourceset-inputprovider.yaml
  kubernetes/kube-system/kopiur/resourceset-restores.yaml
  kubernetes/kube-system/kopiur/resourceset-snapshots.yaml
  kubernetes/kube-system/volsync/grafanadashboard.yaml
  kubernetes/kube-system/volsync/maintenance-kopiamaintenance.yaml
  kubernetes/kube-system/volsync/mutatingadmissionpolicy.yaml
  kubernetes/kube-system/volsync/prometheusrule.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes, area/taskfile

fix(kube-system/kopiur): tune epoch duration and low-churn app schedules
  kubernetes/kube-system/kopiur/README.md
  kubernetes/kube-system/kopiur/clusterrepository.yaml
  kubernetes/kube-system/kopiur/resourceset-inputprovider.yaml
Labels: area/kubernetes

docs: update CLAUDE.md and kube-system/README.md for kopiur migration
  CLAUDE.md
  kubernetes/kube-system/README.md
Labels: area/kubernetes

fix(kube-system/kopiur): bump to 0.9.1, fix Restore credentials, adopt upstream patterns
  kubernetes/kube-system/kopiur/README.md
  kubernetes/kube-system/kopiur/clusterrepository.yaml
  kubernetes/kube-system/kopiur/kopiur.yaml
  kubernetes/kube-system/kopiur/resourceset-inputprovider.yaml
  kubernetes/kube-system/kopiur/resourceset-restores.yaml
  kubernetes/kube-system/kopiur/resourceset-snapshots.yaml
Labels: area/kubernetes

fix(kube-system/kopiur): size maintenance mover cache to match repo's index-blob volume
  kubernetes/kube-system/kopiur/clusterrepository.yaml
Labels: area/kubernetes

fix(kube-system/kopiur): kopiur rejects Jenkins H/N step syntax in cron
  CLAUDE.md
  kubernetes/kube-system/kopiur/README.md
  kubernetes/kube-system/kopiur/resourceset-inputprovider.yaml
  setup/bootstrap/helmfile.d/00-crds.yaml
Labels: area/bootstrap, area/kubernetes

feat(kube-system): pilot kopiur PVC cutover for shelfmark
  kubernetes/kube-system/kopiur/resourceset-restores.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

feat(kube-system): cut over batch 2 of kopiur PVC migration (19 apps)
  kubernetes/kube-system/kopiur/resourceset-restores.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

fix(kube-system/kopiur): sync PVC reconcile gate with Restore gate
  kubernetes/kube-system/kopiur/resourceset-restores.yaml
Labels: area/kubernetes

fix(kube-system/kopiur): size Restore mover cache per-app like SnapshotPolicy
  kubernetes/kube-system/kopiur/resourceset-restores.yaml
Labels: area/kubernetes

fix(kube-system/kopiur): give minecraft-survival a larger mover cache
  kubernetes/kube-system/kopiur/resourceset-inputprovider.yaml
Labels: area/kubernetes

fix(kube-system/kopiur): zwave2mqtt mover needs runAsUser 1000, not the 1001 default
  kubernetes/kube-system/kopiur/resourceset-inputprovider.yaml
Labels: area/kubernetes

feat(kube-system): cut over final batch of kopiur PVC migration (sonarr, tautulli, unifi, zwave2mqtt)
  kubernetes/kube-system/kopiur/resourceset-restores.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

fix(taskfiles/kopiur): kopiur:list and kopiur:snapshot use the wrong label key
  .taskfiles/kopiur/Taskfile.yaml
Labels: area/taskfile

fix(kube-system): remove minecraft-lobby, a decommissioned app with no live workload
  kubernetes/kube-system/kopiur/resourceset-inputprovider.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
