Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

fix(kube-system/kopiur): tolerate stale legacy files in minecraft world archives
  kubernetes/kube-system/kopiur/resourceset-snapshots.yaml
Labels: area/kubernetes

Revert "fix(kube-system/kopiur): tolerate stale legacy files in minecraft world archives"
  kubernetes/kube-system/kopiur/resourceset-snapshots.yaml
Labels: area/kubernetes

feat(kube-system): cut over plex, the final kopiur PVC migration (25/25)
  kubernetes/kube-system/kopiur/resourceset-restores.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

feat(kube-system): decommission volsync entirely, now fully replaced by kopiur
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/resources/replicationdestination.yaml.j2
  kubernetes/flux-system/discord-notifications/alerts.yaml
  kubernetes/kube-system/README.md
  kubernetes/kube-system/kopia/kopia.yaml
  kubernetes/kube-system/kopiur/README.md
  kubernetes/kube-system/kopiur/resourceset-restores.yaml
  kubernetes/kube-system/volsync/README.md
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
  kubernetes/kube-system/volsync/volsync.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
  kubernetes/system-upgrade/README.md
  kubernetes/system-upgrade/kubernetes-upgrade.yaml
  kubernetes/system-upgrade/talos-upgrade.yaml
  setup/bootstrap/helmfile.d/00-crds.yaml
Labels: area/bootstrap, area/kubernetes, area/taskfile

fix(kube-system): fix invalid CEL syntax, finish removing volsync references
  kubernetes/kube-system/README.md
  kubernetes/kube-system/kopiur/README.md
  kubernetes/kube-system/kopiur/clusterrepository.yaml
  kubernetes/kube-system/kopiur/resourceset-inputprovider.yaml
  kubernetes/system-upgrade/kubernetes-upgrade.yaml
  kubernetes/system-upgrade/talos-upgrade.yaml
Labels: area/kubernetes

fix(kube-system/kopiur): lower catalog perIdentity to fit the 1000-CR cap
  kubernetes/kube-system/kopiur/clusterrepository.yaml
Labels: area/kubernetes

fix(ci): tune renovate-review tier routing, dismissal step, and prompt waste
  .claude/skills/tune-renovate-review/SKILL.md
  .github/workflows/renovate-review.yaml
Labels: none

fix(kube-system/kopiur): post-migration tuning and stuck ResourceSet fix
  kubernetes/kube-system/kopiur/clusterrepository.yaml
  kubernetes/kube-system/kopiur/kopiur.yaml
  kubernetes/kube-system/kopiur/resourceset-restores.yaml
  kubernetes/kube-system/kopiur/resourceset-snapshots.yaml
Labels: area/kubernetes

feat(default/ser2net): migrate ser2sock to ser2net
  kubernetes/default/README.md
  kubernetes/default/ser2net/ser2net.yaml
Labels: area/kubernetes

fix(default/ser2net): mount writable /var/lock
  kubernetes/default/ser2net/ser2net.yaml
Labels: area/kubernetes

feat(monitoring/etcd): add early-warning fsync duration alert
  kubernetes/monitoring/prometheus-rules/etcd-custom.yaml
Labels: area/kubernetes

Trim CLAUDE.md and move templates to lazy-loaded skills
  .claude/skills/flux-recovery/SKILL.md
  .claude/skills/new-app/SKILL.md
  CLAUDE.md
Labels: none

fix(kopiur): tune epoch/maintenance cadence and alert on stale maintenance
  kubernetes/kube-system/kopiur/clusterrepository.yaml
  kubernetes/monitoring/prometheus-rules/kopiur-custom.yaml
Labels: area/kubernetes

Add fingerprint caching, rendered-diff evidence, and escalation to renovate-review
  .claude/skills/tune-renovate-review/SKILL.md
  .github/scripts/check-escalation.sh
  .github/scripts/classify-renovate-pr.sh
  .github/scripts/finalize-review.sh
  .github/scripts/report-claude-usage.sh
  .github/scripts/review-fingerprint.sh
  .github/scripts/sanitize-review-body.sh
  .github/workflows/renovate-review.yaml
Labels: none

fix(renovate-review): correct blast-radius tiering and evidence gaps
  .github/scripts/append-flate-evidence.sh
  .github/scripts/check-escalation.sh
  .github/scripts/classify-renovate-pr.sh
  .github/scripts/finalize-review.sh
  .github/scripts/sanitize-review-body.sh
  .github/workflows/renovate-review.yaml
Labels: none

fix(kopiur): tighten epoch duration and cap mover cache sizes
  kubernetes/kube-system/kopiur/clusterrepository.yaml
  kubernetes/kube-system/kopiur/resourceset-snapshots.yaml
Labels: area/kubernetes

fix(monitoring): silence rook-ceph mgr OomKilled alert
  kubernetes/monitoring/silence-operator/silences.yaml
Labels: area/kubernetes

feat(renovate): expand automerge to high-churn leaf apps and tuppr patches
  .renovate/autoMerge.json5
Labels: area/renovate

fix(kube-system/kopiur): raise mover cache PVCs from 1Gi to 3Gi default
  kubernetes/kube-system/kopiur/clusterrepository.yaml
  kubernetes/kube-system/kopiur/resourceset-inputprovider.yaml
Labels: area/kubernetes

feat(renovate-review): block automerge when reviewer flags advisory findings
  .github/scripts/detect-advisory-findings.sh
  .github/workflows/renovate-review.yaml
Labels: none

fix(renovate): stop auto-merging ser2net patch updates
  .renovate/autoMerge.json5
Labels: area/renovate

fix(renovate-review): stop inline prose from blocking advisory-finding gate
  .github/scripts/detect-advisory-findings.sh
  .github/workflows/renovate-review.yaml
Labels: none

feat(skills): add tune-advisory-gate, retire review-renovate
  .claude/skills/review-renovate/SKILL.md
  .claude/skills/tune-advisory-gate/SKILL.md
  CLAUDE.md
Labels: none

fix(resources): raise memory limits on OOM-risk workloads, add right-sizing dashboard
  kubernetes/default/qbittorrent/qbittorrent.yaml
  kubernetes/default/sabnzbd/sabnzbd.yaml
  kubernetes/default/unifi/unifi.yaml
  kubernetes/kube-system/kopia/kopia.yaml
  kubernetes/kube-system/kopiur/clusterrepository.yaml
  kubernetes/monitoring/grafana/dashboards/grafana-dashboard-workload-rightsizing.yaml
  kubernetes/monitoring/grafana/dashboards/grafanadashboard-workload-rightsizing.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(grafana): consolidate dashboard folders
  kubernetes/kube-system/cilium/grafanadashboard.yaml
  kubernetes/kube-system/kopiur/kopiur.yaml
  kubernetes/monitoring/grafana/dashboards/grafanadashboard-kubernetes.yaml
  kubernetes/monitoring/grafana/dashboards/grafanadashboard-storage.yaml
  kubernetes/monitoring/grafana/instance/folder-kubernetes.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(monitoring): roll back victoria-metrics-k8s-stack to 0.90.0
  .renovate/allowedVersions.json5
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes, area/renovate

fix(rook-ceph): cap mgr log_max_recent to bound v20.2.2 mgr memory leak
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

fix(speedtest-exporter): aggregate alert rules across Ookla servers
  kubernetes/monitoring/speedtest-exporter/prometheusrule.yaml
Labels: area/kubernetes

fix(rook-ceph,monitoring): tolerate mon disk stalls, fix dead disk-latency alert
  kubernetes/monitoring/prometheus-rules/node-exporter.yaml
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

fix(teslamate): add startupProbe for one-time 4.1.0 migration headroom
  kubernetes/default/teslamate/teslamate.yaml
Labels: area/kubernetes

fix(monitoring): scope disk latency alerts to physical devices
  kubernetes/monitoring/prometheus-rules/node-exporter.yaml
Labels: area/kubernetes

fix(kei): roll back 0.23.0 checkpoint regression, add alerting for stuck checkpoints
  .renovate/allowedVersions.json5
  kubernetes/default/kei/kei.yaml
  kubernetes/default/kei/prometheusrule.yaml
Labels: area/kubernetes, area/renovate

feat(renovate-review): gate advisory findings via review state, not status
  .github/scripts/review-fingerprint.sh
  .github/workflows/renovate-review.yaml
Labels: none

fix(renovate-review): backstop the advisory-comment gate deterministically
  .github/scripts/enforce-advisory-comment.sh
  .github/workflows/renovate-review.yaml
Labels: none

feat(forgejo): stand up Forgejo in-cluster
  kubernetes/default/forgejo/externalsecret.yaml
  kubernetes/default/forgejo/forgejo.yaml
  kubernetes/default/forgejo/httproute.yaml
  kubernetes/kube-system/kopiur/resourceset-inputprovider.yaml
Labels: area/kubernetes

feat(forgejo): enable prometheus metrics, alerting, and grafana dashboard
  kubernetes/default/forgejo/forgejo.yaml
  kubernetes/default/forgejo/grafanadashboard.yaml
  kubernetes/default/forgejo/prometheusrule.yaml
Labels: area/kubernetes

fix(forgejo): route SSH through the internal gateway instead of a dedicated LB IP
  kubernetes/default/forgejo/forgejo.yaml
  kubernetes/default/forgejo/tcproute-ssh.yaml
  kubernetes/kube-system/envoy-gateway/gateways/gateway-internal.yaml
Labels: area/kubernetes

feat(forgejo): expose Forgejo on the public gateway alongside internal
  kubernetes/default/forgejo/httproute-public.yaml
  kubernetes/default/forgejo/tcproute-ssh.yaml
  kubernetes/kube-system/envoy-gateway/gateways/gateway-public.yaml
Labels: area/kubernetes

fix(forgejo): keep SSH internal-only, HTTPS stays dual-homed
  kubernetes/default/forgejo/tcproute-ssh.yaml
  kubernetes/kube-system/envoy-gateway/gateways/gateway-public.yaml
Labels: area/kubernetes

fix(kei): roll back to 0.22.12, block entire 0.23.x line
  .renovate/allowedVersions.json5
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes, area/renovate

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
