Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

no longer used
  setup/flux/repositories/bjw-s.yaml
Labels: none

fix: correct prometheus-operator-crds OCI URL to point to the specific chart image
  kubernetes/monitoring/prometheus-operator-crds/prometheus-operator-crds.yaml
Labels: area/kubernetes

fix: restore prometheus-charts HelmRepository for prometheus-operator-crds
  kubernetes/monitoring/prometheus-operator-crds/prometheus-operator-crds.yaml
  setup/flux/repositories/prometheus-charts.yaml
Labels: area/kubernetes

fix: restore cilium HTTPS HelmRepository
  kubernetes/kube-system/cilium/cilium.yaml
  setup/flux/repositories/cilium.yaml
Labels: area/kubernetes

fix: revert invalid OCI migrations to traditional HTTPS HelmRepositories
  kubernetes/cert-manager/cert-manager.yaml
  kubernetes/kube-system/csi-driver-nfs/csi-driver-nfs.yaml
  kubernetes/kube-system/descheduler/descheduler.yaml
  kubernetes/kube-system/envoy-gateway/envoy-gateway.yaml
  kubernetes/kube-system/external-dns/external-dns-cloudflare.yaml
  kubernetes/kube-system/external-dns/external-dns-opnsense.yaml
  kubernetes/kube-system/metrics-server/metrics-server.yaml
  kubernetes/kube-system/node-feature-discovery/node-feature-discovery.yaml
  kubernetes/monitoring/influxdb/influxdb.yaml
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
  kubernetes/rook-ceph/operator/rook-ceph.yaml
  setup/flux/repositories/csi-driver-nfs.yaml
  setup/flux/repositories/envoy-gateway.yaml
  setup/flux/repositories/external-dns.yaml
  setup/flux/repositories/influxdata-charts.yaml
  setup/flux/repositories/jetstack.yaml
  setup/flux/repositories/kubernetes-sigs-descheduler-charts.yaml
  setup/flux/repositories/kubernetes-sigs-nfd-charts.yaml
  setup/flux/repositories/metrics-server.yaml
  setup/flux/repositories/rook-ceph.yaml
Labels: area/kubernetes

refactor: migrate HelmRepository objects to OCI registries
  setup/flux/repositories/1password-charts.yaml
  setup/flux/repositories/backube.yaml
  setup/flux/repositories/cilium.yaml
  setup/flux/repositories/csi-driver-nfs.yaml
  setup/flux/repositories/external-dns.yaml
  setup/flux/repositories/fluent.yaml
  setup/flux/repositories/intel.yaml
  setup/flux/repositories/kubernetes-sigs-descheduler-charts.yaml
  setup/flux/repositories/metrics-server.yaml
  setup/flux/repositories/tailscale.yaml
Labels: none

migrate tailscale-operator
  kubernetes/kube-system/tailscale/tailscale-operator.yaml
  setup/flux/repositories/tailscale.yaml
Labels: area/kubernetes

add secretRefs
  setup/flux/repositories/backube.yaml
  setup/flux/repositories/cilium.yaml
  setup/flux/repositories/cloudnative-pg.yaml
  setup/flux/repositories/csi-driver-nfs.yaml
  setup/flux/repositories/envoy-gateway.yaml
  setup/flux/repositories/external-dns.yaml
  setup/flux/repositories/fluent.yaml
  setup/flux/repositories/giantswarm.yaml
  setup/flux/repositories/ingress-nginx-charts.yaml
  setup/flux/repositories/jetstack.yaml
  setup/flux/repositories/kubernetes-sigs-descheduler-charts.yaml
  setup/flux/repositories/metrics-server.yaml
Labels: none

migrate csi-driver-nfs
  kubernetes/kube-system/csi-driver-nfs/csi-driver-nfs.yaml
  setup/flux/repositories/csi-driver-nfs.yaml
Labels: area/kubernetes

refactor: convert HelmReleases to use OCIRepository chartRef pattern
  kubernetes/kube-system/cilium/cilium.yaml
  kubernetes/kube-system/descheduler/descheduler.yaml
  kubernetes/kube-system/external-dns/external-dns-cloudflare.yaml
  kubernetes/kube-system/external-dns/external-dns-opnsense.yaml
  kubernetes/kube-system/metrics-server/metrics-server.yaml
  kubernetes/kube-system/volsync/volsync.yaml
  kubernetes/monitoring/fluent-bit/fluent-bit.yaml
  setup/flux/repositories/backube.yaml
  setup/flux/repositories/cilium.yaml
  setup/flux/repositories/external-dns.yaml
  setup/flux/repositories/fluent.yaml
  setup/flux/repositories/kubernetes-sigs-descheduler-charts.yaml
  setup/flux/repositories/metrics-server.yaml
Labels: area/kubernetes

refactor: convert remaining HelmReleases to use OCIRepository chartRef pattern
  kubernetes/cert-manager/cert-manager.yaml
  kubernetes/default/cloudnative-pg/chart/cloudnative-pg.yaml
  kubernetes/flux-system/flux-instance/flux-instance.yaml
  kubernetes/flux-system/flux-operator/flux-operator.yaml
  kubernetes/kube-system/coredns/coredns.yaml
  kubernetes/kube-system/envoy-gateway/envoy-gateway.yaml
  kubernetes/kube-system/external-secrets/chart/external-secrets.yaml
  kubernetes/kube-system/node-feature-discovery/node-feature-discovery.yaml
  kubernetes/kube-system/spegel/spegel.yaml
  kubernetes/monitoring/grafana/grafana.yaml
  kubernetes/monitoring/silence-operator/silence-operator.yaml
  kubernetes/monitoring/victoria-logs/victoria-logs.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
  kubernetes/rook-ceph/operator/rook-ceph.yaml
  kubernetes/system-upgrade/tuppr.yaml
  setup/flux/repositories/cloudnative-pg.yaml
  setup/flux/repositories/controlplaneio-fluxcd.yaml
  setup/flux/repositories/coredns.yaml
  setup/flux/repositories/envoy-gateway.yaml
  setup/flux/repositories/external-secrets.yaml
  setup/flux/repositories/giantswarm.yaml
  setup/flux/repositories/grafana-charts.yaml
  setup/flux/repositories/home-operations.yaml
  setup/flux/repositories/ingress-nginx-charts.yaml
  setup/flux/repositories/jetstack.yaml
  setup/flux/repositories/kubernetes-sigs-nfd-charts.yaml
  setup/flux/repositories/prometheus-charts.yaml
  setup/flux/repositories/rook-ceph.yaml
  setup/flux/repositories/spegel-org.yaml
  setup/flux/repositories/victoriametrics-charts.yaml
Labels: area/kubernetes

cleanup
  kubernetes/monitoring/prometheus-operator-crds/prometheus-operator-crds.yaml
  setup/flux/repositories/cloudnative-pg.yaml
  setup/flux/repositories/controlplaneio-fluxcd.yaml
  setup/flux/repositories/coredns.yaml
  setup/flux/repositories/envoy-gateway.yaml
  setup/flux/repositories/external-secrets.yaml
  setup/flux/repositories/giantswarm.yaml
  setup/flux/repositories/grafana-charts.yaml
  setup/flux/repositories/home-operations.yaml
  setup/flux/repositories/ingress-nginx-charts.yaml
  setup/flux/repositories/jetstack.yaml
  setup/flux/repositories/kubernetes-sigs-nfd-charts.yaml
  setup/flux/repositories/prometheus-charts.yaml
  setup/flux/repositories/rook-ceph.yaml
  setup/flux/repositories/spegel-org.yaml
  setup/flux/repositories/victoriametrics-charts.yaml
Labels: area/kubernetes

fix flux charts
  kubernetes/flux-system/flux-instance/flux-instance.yaml
  kubernetes/flux-system/flux-operator/flux-operator.yaml
Labels: area/kubernetes

fixup spegel
  kubernetes/kube-system/spegel/spegel.yaml
Labels: area/kubernetes

fix chart refs
  kubernetes/cert-manager/cert-manager.yaml
  kubernetes/default/cloudnative-pg/chart/cloudnative-pg.yaml
  kubernetes/flux-system/flux-instance/flux-instance.yaml
  kubernetes/flux-system/flux-operator/flux-operator.yaml
  kubernetes/kube-system/coredns/coredns.yaml
  kubernetes/kube-system/envoy-gateway/envoy-gateway.yaml
  kubernetes/kube-system/external-secrets/chart/external-secrets.yaml
  kubernetes/kube-system/node-feature-discovery/node-feature-discovery.yaml
  kubernetes/monitoring/grafana/grafana.yaml
  kubernetes/monitoring/silence-operator/silence-operator.yaml
  kubernetes/monitoring/victoria-logs/victoria-logs.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix rook chart refs
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
  kubernetes/rook-ceph/operator/rook-ceph.yaml
Labels: area/kubernetes

fix tuppr ref
  kubernetes/system-upgrade/tuppr.yaml
Labels: area/kubernetes

migrate bootstrap CRDs to OCi too
  kubernetes/monitoring/silence-operator/silence-operator.yaml
  setup/bootstrap/helmfile.d/00-crds.yaml
Labels: area/bootstrap, area/kubernetes

fix silence operator chart ref
  kubernetes/monitoring/silence-operator/silence-operator.yaml
Labels: area/kubernetes

try to fix error,
  kubernetes/monitoring/silence-operator/silence-operator.yaml
Labels: area/kubernetes

pin image tag for now
  kubernetes/monitoring/silence-operator/silence-operator.yaml
Labels: area/kubernetes

no longer need influxdb
  kubernetes/monitoring/README.md
  kubernetes/monitoring/influxdb/influxdb.yaml
  kubernetes/monitoring/influxdb/volsync.yaml
  setup/flux/repositories/influxdata-charts.yaml
Labels: area/kubernetes

add icloudpd
  kubernetes/default/README.md
  kubernetes/default/icloudpd/externalsecret.yaml
  kubernetes/default/icloudpd/icloudpd.yaml
Labels: area/kubernetes

download shared library instead of default
  kubernetes/default/icloudpd/icloudpd.yaml
Labels: area/kubernetes

purge influxdb
  kubernetes/monitoring/grafana/dashboards/home_assistant.json
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

add fun screenshot
  kubernetes/default/README.md
Labels: area/kubernetes

fix image
  kubernetes/default/README.md
Labels: area/kubernetes

revert
  kubernetes/default/README.md
Labels: area/kubernetes

migration to postgres18
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

migration to postgres18
  kubernetes/default/teslamate/externalsecret.yaml
Labels: area/kubernetes

add barman
  kubernetes/default/cloudnative-pg/chart/barman-cloud.yaml
Labels: area/kubernetes

migrate from postres 17 to 18
  kubernetes/default/cloudnative-pg/cluster/cluster-v17.yaml
  kubernetes/default/cloudnative-pg/cluster/cluster.yaml
  kubernetes/default/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/default/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/default/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

fix namespace
  kubernetes/default/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/default/cloudnative-pg/cluster/scheduledbackup.yaml
Labels: area/kubernetes

settle on more envoy default settings
  kubernetes/kube-system/envoy-gateway/policies/backend-traffic-policy.yaml
  kubernetes/kube-system/envoy-gateway/policies/client-traffic-policy.yaml
Labels: area/kubernetes

not using this chart anymore
  setup/flux/repositories/wiremind.yaml
Labels: none

feat(etcd): optimize etcd performance and prevent database bloat
  kubernetes/kube-system/README.md
  kubernetes/kube-system/etcd-defrag/etcd-defrag.yaml
  setup/talos/patches/controller/cluster.yaml
Labels: area/kubernetes, area/talos

fix namespace
  kubernetes/kube-system/etcd-defrag/etcd-defrag.yaml
Labels: area/kubernetes

fix(etcd-defrag): correct serviceAccount creation in app-template
  kubernetes/kube-system/etcd-defrag/etcd-defrag.yaml
Labels: area/kubernetes

feat(etcd-defrag): add ServiceAccount manifest
  kubernetes/kube-system/etcd-defrag/serviceaccount.yaml
Labels: area/kubernetes

fix indenting
  kubernetes/kube-system/etcd-defrag/etcd-defrag.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
