Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

fix(default): switch kei readiness probe to TCP to unblock Helm upgrade wait
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix: migrate rawResources to app-template v5 manifest key
  kubernetes/default/frigate/frigate.yaml
  kubernetes/default/plex/plex.yaml
  kubernetes/default/unifi/unifi.yaml
Labels: area/kubernetes

fix(gatus): enable automountServiceAccountToken for sidecar
  kubernetes/monitoring/gatus/gatus.yaml
Labels: area/kubernetes

feat(tuppr): enable built-in metrics, alerts, and grafana dashboard
  kubernetes/system-upgrade/tuppr.yaml
Labels: area/kubernetes

chore(flux-operator): use chart built-in httpRoute instead of standalone resource
  kubernetes/flux-system/flux-operator/flux-operator.yaml
  kubernetes/flux-system/flux-operator/route.yaml
Labels: area/kubernetes

fix(kei): disable smart folder enumeration to clear spurious sync_failed alerts
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(kei): disable per-album enumeration to restore sub-second cycle times
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

ci(renovate): restrict home-assistant automerge to patch releases only
  .renovate/autoMerge.json5
Labels: area/renovate

feat(home-assistant): add startup/liveness/readiness probes
  kubernetes/default/home-assistant/home-assistant.yaml
Labels: area/kubernetes

feat(talos): make apply-clusterconfig idempotent on already-configured nodes
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

fix(container): update image ghcr.io/unpoller/unpoller ( v3.0.0 → v3.0.1 )
  kubernetes/monitoring/unifi-poller/unifi-poller.yaml
Labels: area/kubernetes

refactor(talos): auto-detect insecure mode and remove noop task
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

chore(default): add seccompProfile RuntimeDefault to default-namespace apps
  kubernetes/default/home-assistant/home-assistant.yaml
  kubernetes/default/node-red/node-red.yaml
  kubernetes/default/plex/plex.yaml
  kubernetes/default/prowlarr/prowlarr.yaml
  kubernetes/default/qbittorrent/qbittorrent.yaml
  kubernetes/default/radarr/radarr.yaml
  kubernetes/default/readarr/readarr.yaml
  kubernetes/default/sabnzbd/sabnzbd.yaml
  kubernetes/default/sonarr/sonarr.yaml
  kubernetes/default/tautulli/tautulli.yaml
Labels: area/kubernetes

chore(default): add container-level securityContext gaps
  kubernetes/default/emqx/cluster.yaml
  kubernetes/default/ser2sock/ser2sock.yaml
  kubernetes/default/unifi/unifi.yaml
  kubernetes/default/zwave2mqtt/zwave2mqtt.yaml
  kubesearch-review-2026-05-09.md
Labels: area/kubernetes

chore(default): add or upgrade probes for reliability
  kubernetes/default/continuwuity/continuwuity.yaml
  kubernetes/default/echo-server/echo-server.yaml
  kubernetes/default/mousetrap/mousetrap.yaml
  kubernetes/default/node-red/node-red.yaml
  kubernetes/default/ser2sock/ser2sock.yaml
  kubernetes/default/teslamate/teslamate.yaml
  kubernetes/default/unifi/unifi.yaml
Labels: area/kubernetes

feat(default): add observability — CNPG operator monitoring + ServiceMonitors
  kubernetes/default/cloudnative-pg/chart/cloudnative-pg.yaml
  kubernetes/default/emqx/servicemonitor.yaml
  kubernetes/default/frigate/servicemonitor.yaml
  kubernetes/default/teslamate/servicemonitor.yaml
Labels: area/kubernetes

chore(default): per-app misc — recyclarr TTL + CNPG node spread
  kubernetes/default/cloudnative-pg/cluster/cluster.yaml
  kubernetes/default/recyclarr/recyclarr.yaml
Labels: area/kubernetes

chore(default): kubesearch review hardening + probes + observability (#5611)
  kubernetes/default/cloudnative-pg/chart/cloudnative-pg.yaml
  kubernetes/default/cloudnative-pg/cluster/cluster.yaml
  kubernetes/default/continuwuity/continuwuity.yaml
  kubernetes/default/echo-server/echo-server.yaml
  kubernetes/default/emqx/cluster.yaml
  kubernetes/default/emqx/servicemonitor.yaml
  kubernetes/default/frigate/servicemonitor.yaml
  kubernetes/default/home-assistant/home-assistant.yaml
  kubernetes/default/mousetrap/mousetrap.yaml
  kubernetes/default/node-red/node-red.yaml
  kubernetes/default/plex/plex.yaml
  kubernetes/default/prowlarr/prowlarr.yaml
  kubernetes/default/qbittorrent/qbittorrent.yaml
  kubernetes/default/radarr/radarr.yaml
  kubernetes/default/readarr/readarr.yaml
  kubernetes/default/recyclarr/recyclarr.yaml
  kubernetes/default/sabnzbd/sabnzbd.yaml
  kubernetes/default/ser2sock/ser2sock.yaml
  kubernetes/default/sonarr/sonarr.yaml
  kubernetes/default/tautulli/tautulli.yaml
  kubernetes/default/teslamate/servicemonitor.yaml
  kubernetes/default/teslamate/teslamate.yaml
  kubernetes/default/unifi/unifi.yaml
  kubernetes/default/zwave2mqtt/zwave2mqtt.yaml
  kubesearch-review-2026-05-09.md
Labels: area/kubernetes

delete unwanted file
  kubesearch-review-2026-05-09.md
Labels: none

fix(teslamate): remove ServiceMonitor — no native Prometheus endpoint
  kubernetes/default/teslamate/servicemonitor.yaml
Labels: area/kubernetes

fix(teslamate): remove ServiceMonitor — no native Prometheus endpoint (#5613)
  kubernetes/default/teslamate/servicemonitor.yaml
Labels: area/kubernetes

feat(monitoring): enable bundled self-monitoring on victoria-logs and blackbox-exporter
  kubernetes/monitoring/blackbox-exporter/blackbox-exporter.yaml
  kubernetes/monitoring/victoria-logs/victoria-logs.yaml
Labels: area/kubernetes

feat(monitoring): make prometheus-adapter HA (replicas=2 + PDB)
  kubernetes/monitoring/prometheus-adapter/prometheus-adapter.yaml
Labels: area/kubernetes

chore(monitoring): add probes to speedtest-exporter + seccompProfile baseline
  kubernetes/monitoring/gatus/gatus.yaml
  kubernetes/monitoring/opnsense-exporter/opnsense-exporter.yaml
  kubernetes/monitoring/speedtest-exporter/speedtest-exporter.yaml
  kubernetes/monitoring/unbound-exporter/unbound-exporter.yaml
  kubernetes/monitoring/unifi-poller/unifi-poller.yaml
Labels: area/kubernetes

fix(monitoring): provide blackbox-exporter alert rules
  kubernetes/monitoring/blackbox-exporter/blackbox-exporter.yaml
Labels: area/kubernetes

chore(monitoring): kubesearch review — self-monitoring + HA + uniformity (#5614)
  kubernetes/monitoring/blackbox-exporter/blackbox-exporter.yaml
  kubernetes/monitoring/gatus/gatus.yaml
  kubernetes/monitoring/opnsense-exporter/opnsense-exporter.yaml
  kubernetes/monitoring/prometheus-adapter/prometheus-adapter.yaml
  kubernetes/monitoring/speedtest-exporter/speedtest-exporter.yaml
  kubernetes/monitoring/unbound-exporter/unbound-exporter.yaml
  kubernetes/monitoring/unifi-poller/unifi-poller.yaml
  kubernetes/monitoring/victoria-logs/victoria-logs.yaml
Labels: area/kubernetes

fix(monitoring): label victoria-logs dashboards for grafana sidecar pickup
  kubernetes/monitoring/victoria-logs/victoria-logs.yaml
Labels: area/kubernetes

fix(grafana): remove two broken dashboard URL provisioner entries
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

fix(monitoring): label victoria-logs dashboards for grafana sidecar pickup (#5616)
  kubernetes/monitoring/grafana/grafana.yaml
  kubernetes/monitoring/victoria-logs/victoria-logs.yaml
Labels: area/kubernetes

refactor(monitoring): victoria stack tuning and hostname cleanup
  kubernetes/monitoring/prometheus-rules/alertmanager-meta.yaml
  kubernetes/monitoring/victoria-logs/victoria-logs.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

refactor(monitoring): migrate vmagent inline scrape configs to ScrapeConfig CRDs
  kubernetes/monitoring/victoria-metrics/scrapeconfigs.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

feat(monitoring): add victoria-logs-collector alongside fluent-bit
  kubernetes/monitoring/victoria-logs/collector.yaml
Labels: area/kubernetes

fix(monitoring): victoria-logs-collector resource limits and control-plane toleration
  kubernetes/monitoring/victoria-logs/collector.yaml
Labels: area/kubernetes

refactor(monitoring): remove fluent-bit, replaced by victoria-logs-collector
  kubernetes/monitoring/README.md
  kubernetes/monitoring/fluent-bit/fluent-bit.yaml
Labels: area/kubernetes

refactor(monitoring): grafana dashboard cleanup
  kubernetes/monitoring/grafana/dashboards/grafana-dashboard-kei.yaml
  kubernetes/monitoring/grafana/dashboards/grafana-dashboard-opnsense.yaml
  kubernetes/monitoring/grafana/dashboards/grafana-dashboard-ups.yaml
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

feat(monitoring): syslog ingestion for opnsense filterlog
  kubernetes/monitoring/grafana/dashboards/grafana-dashboard-opnsense.yaml
  kubernetes/monitoring/victoria-logs/collector.yaml
  kubernetes/monitoring/victoria-logs/syslog-service.yaml
Labels: area/kubernetes

fix(monitoring): vlagent syslog.streamFields.udp expects JSON array
  kubernetes/monitoring/victoria-logs/collector.yaml
Labels: area/kubernetes

fix(monitoring): opnsense dashboard hostname + cleanup transforms
  kubernetes/monitoring/grafana/dashboards/grafana-dashboard-opnsense.yaml
Labels: area/kubernetes

feat(monitoring): opnsense dashboard adds blocked-src and logs panels
  kubernetes/monitoring/grafana/dashboards/grafana-dashboard-opnsense.yaml
Labels: area/kubernetes

fix(monitoring): repair four broken/dead Grafana dashboards
  kubernetes/default/cloudnative-pg/cluster/cluster.yaml
  kubernetes/monitoring/grafana/dashboards/grafana-dashboard-ups.yaml
  kubernetes/monitoring/grafana/grafana.yaml
  kubernetes/monitoring/victoria-logs/victoria-logs.yaml
Labels: area/kubernetes
