Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

fix(talconfig): remove outdated additionalApiServerCertSans entry
  setup/talos/talconfig.yaml
Labels: area/talos

fix(talconfig): update installDisk to installDiskSelector with specific models for nodes
  setup/talos/talconfig.yaml
Labels: area/talos

fix(README): update IP addresses for nodes to correct values
  setup/talos/README.md
Labels: area/talos

fix(bgp.yaml): update IP address range for CiliumLoadBalancerIPPool
  kubernetes/kube-system/cilium/bgp.yaml
Labels: area/kubernetes

fix(coredns.yaml): update A record for *.eviljungle.com to correct IP address
  kubernetes/kube-system/coredns/coredns.yaml
Labels: area/kubernetes

fix(coredns.yaml): add loadBalancerIP for kube-dns service
  kubernetes/kube-system/coredns/coredns.yaml
Labels: area/kubernetes

fix(coredns.yaml): set serviceType to "LoadBalancer" for kube-dns service
  kubernetes/kube-system/coredns/coredns.yaml
Labels: area/kubernetes

feat(coredns): add new HelmRelease configuration for coredns-eviljungle
  kubernetes/kube-system/coredns/coredns.yaml
  kubernetes/kube-system/coredns/eviljungle.yaml
Labels: area/kubernetes

fix(cluster-v15.yaml): uncomment bootstrap recovery section for cluster restoration
  kubernetes/default/cloudnative-pg/cluster/cluster-v15.yaml
Labels: area/kubernetes

fix(cluster-v15.yaml): update external cluster name to postgres-backup for S3 backup restoration
  kubernetes/default/cloudnative-pg/cluster/cluster-v15.yaml
Labels: area/kubernetes

feat(zwave2mqtt): add HelmRelease configuration for zwave2mqtt application
  kubernetes/default/zwave2mqtt/volsync.yaml
  kubernetes/default/zwave2mqtt/zwave2mqtt.yaml
Labels: area/kubernetes

fix(zwave2mqtt): enable globalMounts for USB device access
  kubernetes/default/zwave2mqtt/zwave2mqtt.yaml
Labels: area/kubernetes

fix(zwave2mqtt): update security context to allow privileged access
  kubernetes/default/zwave2mqtt/zwave2mqtt.yaml
Labels: area/kubernetes

fix(home-assistant): add environment variables from secret reference
  kubernetes/default/home-assistant/home-assistant.yaml
Labels: area/kubernetes

fix(cluster-v15.yaml): comment out bootstrap recovery section for clarity
  kubernetes/default/cloudnative-pg/cluster/cluster-v15.yaml
Labels: area/kubernetes

fix(frigate-configmap): update MQTT host to emqx-listeners for correct service resolution
  kubernetes/default/frigate/frigate-configmap.yml
Labels: area/kubernetes

fix(plex.yaml): uncomment and enable plex-cache and logs global mounts for proper configuration
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

fix(plex.yaml): comment out plex-cache and logs configurations to prevent permission issues on initial install
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

fix(plex.yaml): increase PVC size for config to 55Gi for improved storage capacity
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

fix(plex.yaml): enable plex-cache and logs configurations for proper setup
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

fix(talconfig.yaml): uncomment and enable additional nodes for cluster configuration
  setup/talos/talconfig.yaml
Labels: area/talos

fix(minecraft): set suspend to false for all Minecraft Helm releases
  kubernetes/default/minecraft/minecraft-bedrock.yaml
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-lobby.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(ser2sock.yaml): update hostPathType to CharDevice for USB volume configuration
  kubernetes/default/ser2sock/ser2sock.yaml
Labels: area/kubernetes

fix(minecraft): rename fullnameOverride to nameOverride in HelmRelease values
  kubernetes/default/minecraft/minecraft-bedrock.yaml
  kubernetes/default/minecraft/minecraft-proxy.yaml
Labels: area/kubernetes

fix(minecraft): set suspend to true for minecraft-survival HelmRelease
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

fix(minecraft): set suspend to true for minecraft-creative HelmRelease
  kubernetes/default/minecraft/minecraft-creative.yaml
Labels: area/kubernetes

fix(minecraft): set suspend to true for minecraft-bedrock HelmRelease
  kubernetes/default/minecraft/minecraft-bedrock.yaml
Labels: area/kubernetes

fix(minecraft): set suspend to false for minecraft-bedrock HelmRelease
  kubernetes/default/minecraft/minecraft-bedrock.yaml
Labels: area/kubernetes

fix(minecraft): remove nameOverride from minecraft-proxy HelmRelease values
  kubernetes/default/minecraft/minecraft-proxy.yaml
Labels: area/kubernetes

fix(minecraft): rename HelmRelease metadata name for minecraft-bedrock and minecraft-proxy
  kubernetes/default/minecraft/minecraft-bedrock.yaml
  kubernetes/default/minecraft/minecraft-proxy.yaml
Labels: area/kubernetes

fix(minecraft): update metadata names and repository references for minecraft-bedrock
  kubernetes/default/minecraft/minecraft-bedrock.yaml
Labels: area/kubernetes

fix(readme): update kubefetch image URL in documentation
  README.md
Labels: area/docs

feat(e1000e-fix): add HelmRelease configuration for e1000e-fix daemonset
  kubernetes/kube-system/e1000e-fix/e1000e-fix.yaml
Labels: area/kubernetes

fix(victoria-metrics): remove unused targets from Prometheus scrape config
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

refactor(docs): update README for talos cluster setup and directory structure
  setup/README.md
Labels: none

fix(docs): update kubefetch image link in README
  README.md
Labels: area/docs

fix(minecraft): correct repository name for restic in minecraft-bedrock.yaml
  kubernetes/default/minecraft/minecraft-bedrock.yaml
Labels: area/kubernetes

fix(victoria-metrics): add 'HostPhysicalComponentTooHot' alert to blackhole receiver matchers
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(minecraft): set suspend to true in HelmRelease for mcbr
  kubernetes/default/minecraft/minecraft-bedrock.yaml
Labels: area/kubernetes

fix(victoria-metrics): remove unnecessary annotations from vmalert spec
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes
