Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

feat(home-assistant): switch to home-operations custom image with pre-installed dependencies
  kubernetes/default/home-assistant/home-assistant.yaml
Labels: area/kubernetes

refactor(monitoring): improve Envoy Gateway alert rules to reduce false positives
  kubernetes/monitoring/prometheus-rules/envoy-gateway.yaml
  kubernetes/monitoring/prometheus-rules/gateway-api.yaml
Labels: area/kubernetes

fix(monitoring): correct Envoy Proxy metrics scraping and alert expression
  kubernetes/kube-system/envoy-gateway/monitoring/podmonitor-envoy-proxy.yaml
  kubernetes/monitoring/prometheus-rules/envoy-gateway.yaml
Labels: area/kubernetes

feat(alertmanager): optimize grouping strategy to prevent large Discord payloads
  kubernetes/monitoring/prometheus-rules/alertmanager-meta.yaml
  kubernetes/monitoring/prometheus-rules/test-grouping.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(alertmanager): remove unsupported max_alerts config
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

feat(alertmanager): add persistent storage for silences
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(alertmanager): add metadata.name to volumeClaimTemplate
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(alertmanager): simplify storage config to match vmsingle pattern
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(alertmanager): use volumeClaimTemplate for storage (VMAlertmanager CRD requirement)
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

remove test file
  kubernetes/monitoring/prometheus-rules/test-grouping.yaml
Labels: area/kubernetes

tweak alertmanager storage stuff
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

typo
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

more storage tweaks
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

more yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

dont think it's possible to do storage for alertmanager
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

feat(envoy-gateway): add custom error pages with HTTP redirects
  kubernetes/kube-system/envoy-gateway/error-pages/error-pages.yaml
  kubernetes/kube-system/envoy-gateway/policies/backend-traffic-policy.yaml
Labels: area/kubernetes

Revert "feat(helm): update chart tailscale-operator ( 1.90.9 → 1.92.3 ) (#5046)"
  kubernetes/kube-system/tailscale/tailscale-operator.yaml
Labels: area/kubernetes

tailscale is in timeout
  .renovate/autoMerge.json5
Labels: area/renovate

dont give error page for 401 errors
  kubernetes/kube-system/envoy-gateway/policies/backend-traffic-policy.yaml
Labels: area/kubernetes

inspired by cloudflare
  kubernetes/kube-system/envoy-gateway/error-pages/error-pages.yaml
Labels: area/kubernetes

disable netpol for flux operator
  kubernetes/flux-system/flux-operator/flux-operator.yaml
Labels: area/kubernetes

feat: add HTTPRoute for flux-operator web interface
  kubernetes/flux-system/flux-operator/route.yaml
Labels: area/kubernetes

fix: migrate talhelper extraManifests to patches for ethernet config
  setup/talos/talconfig.yaml
Labels: area/talos

chore: remove obsolete ethernet config manifest files
  setup/talos/manifests/e1000e-eno1.yaml
  setup/talos/manifests/e1000e-enp1s0.yaml
Labels: area/talos

refactor: convert traditional HelmRepositories to OCI registries
  setup/flux/repositories/cilium.yaml
  setup/flux/repositories/cloudnative-pg.yaml
  setup/flux/repositories/external-dns.yaml
  setup/flux/repositories/fluent.yaml
  setup/flux/repositories/giantswarm.yaml
  setup/flux/repositories/ingress-nginx-charts.yaml
  setup/flux/repositories/metrics-server.yaml
  setup/flux/repositories/rook-ceph.yaml
  setup/flux/repositories/tailscale.yaml
Labels: none

fix: correct OCI registry paths for cilium and rook-ceph
  setup/flux/repositories/cilium.yaml
  setup/flux/repositories/rook-ceph.yaml
Labels: none

fix: revert HelmRepositories that don't support OCI
  setup/flux/repositories/cilium.yaml
  setup/flux/repositories/external-dns.yaml
  setup/flux/repositories/fluent.yaml
  setup/flux/repositories/metrics-server.yaml
  setup/flux/repositories/tailscale.yaml
Labels: none

unsuspend minecraft; 0 replicas
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-lobby.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(flux-system): prevent 403 error page redirects for flux-webhook
  kubernetes/flux-system/receiver.yaml/backend-traffic-policy.yaml
Labels: area/kubernetes

Revert "fix(flux-system): prevent 403 error page redirects for flux-webhook"
  kubernetes/flux-system/receiver.yaml/backend-traffic-policy.yaml
Labels: area/kubernetes

fix(flux-system): disable Cloudflare proxy for flux-webhook
  kubernetes/flux-system/receiver.yaml/httproute.yaml
Labels: area/kubernetes

revert: re-enable Cloudflare proxy for flux-webhook
  kubernetes/flux-system/receiver.yaml/httproute.yaml
Labels: area/kubernetes

normalize matrix name, add additional success step
  .github/workflows/flux-local.yaml
Labels: none

remove unused group
  .renovate/groups.json5
Labels: area/renovate

monitoring(envoy): ignore low-traffic false positives for EnvoyServiceUnreachable alert
  kubernetes/monitoring/prometheus-rules/envoy-gateway.yaml
Labels: area/kubernetes

envoy(gateway): add HTTPRoute + Service for admin UI on port 19001
  kubernetes/kube-system/envoy-gateway/routes/envoy-gateway-ui.yaml
Labels: area/kubernetes

revert
  kubernetes/kube-system/envoy-gateway/routes/envoy-gateway-ui.yaml
Labels: area/kubernetes

fix flux local patterns
  .github/workflows/flux-local.yaml
Labels: none

https://github.com/rook/rook/issues/16839
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

fix(talos): update patches for v1.12.0 multi-document config support
  setup/talos/patches/controller/admission-controller-patch.yaml
  setup/talos/patches/global/machine-install.yaml
Labels: area/talos
