Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

fix(monitoring): revert victoria-metrics-k8s-stack to 0.82.0
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(grafana-dashboards): pin dashboard 22413 to last classic-schema revision (6)
  .renovate/grafanaDashboards.json5
  kubernetes/monitoring/grafana/dashboards/grafanadashboard-node-metrics.yaml
Labels: area/kubernetes, area/renovate

fix(ci): resolve flate test failures caused by cluster-scoped CRD dependsOn mis-resolution
  .github/workflows/flate.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes

feat(talos): add validate-clusterconfig task
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

fix(ci): tighten renovate-review light-tier and post-review stop rule
  .github/workflows/renovate-review.yaml
Labels: none

fix(minecraft): allow experimental Paper channel for 26.2 builds
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(minecraft): mark luckperms optional for 26.2 experimental builds
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(minecraft): mark all Modrinth plugins optional for 26.2 builds
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(minecraft): revert plugin-optional changes, pin survival plugins to explicit versions
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(minecraft): use Modrinth version IDs to actually bypass compat check
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

fix(minecraft): install survival plugins via direct CDN URL, not Modrinth resolver
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

fix(minecraft): swap NoChatReports for BlockReports, drop dead FreezeHibernate, make CoreProtect optional again
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

chore(skills): add check-minecraft-plugin-compat skill
  .claude/skills/check-minecraft-plugin-compat/SKILL.md
Labels: none

new seed
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

fix(minecraft): drop incompatible BlockReports plugin from survival
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

new seed
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

new seed
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

fix(minecraft): pin BlueMap accept-download via APPLY_EXTRA_FILES
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

new seed
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

revert(minecraft): drop BlueMap accept-download automation
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

new seed
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

new seed
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

new seed
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

fix(minecraft): un-pin LuckPerms on minecraft-survival
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

fix(minecraft): return survival to scale-to-zero with 8h idle timeout
  kubernetes/default/minecraft/minecraft-router.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

fix(monitoring): rename defaultRules.groups keys for vm chart 0.85.0
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

feat(default/echo-server): migrate to home-operations/echo with metrics
  kubernetes/default/echo-server/echo-server.yaml
Labels: area/kubernetes

fix(default/echo-server): enable pretty-printed JSON responses
  kubernetes/default/echo-server/echo-server.yaml
Labels: area/kubernetes

feat(kube-system/kopiur): add kopiur backup operator - pilot with shelfmark
  .taskfiles/kopiur/Taskfile.yaml
  Taskfile.yaml
  kubernetes/kube-system/kopia/kopia.yaml
  kubernetes/kube-system/kopiur/clusterrepository.yaml
  kubernetes/kube-system/kopiur/externalsecret.yaml
  kubernetes/kube-system/kopiur/kopiur.yaml
  kubernetes/kube-system/kopiur/resourceset-inputprovider.yaml
  kubernetes/kube-system/kopiur/resourceset-restores.yaml
  kubernetes/kube-system/kopiur/resourceset-snapshots.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes, area/taskfile

fix(kube-system/kopiur): remove non-existent schema URL from ClusterRepository
  kubernetes/kube-system/kopiur/clusterrepository.yaml
Labels: area/kubernetes

fix(kube-system/kopiur): add valid schema URL for ClusterRepository
  kubernetes/kube-system/kopiur/clusterrepository.yaml
Labels: area/kubernetes

scale-down after 12h
  kubernetes/default/minecraft/minecraft-router.yaml
Labels: area/kubernetes

feat(minecraft-survival): add WHITELIST env var
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

update whitelist
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

feat(minecraft-survival): replace coreprotect with prism
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

fix(minecraft-survival): add NBTAPI dependency for prism
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

fix(kei): switch startup+liveness probes to httpGet /healthz for auto-recovery
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(kei): revise probes to survive Flux upgrades during 2FA stalls
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(kei): restore httpGet /healthz probes now that 0.22.9 fixes #658
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(ci): float renovate-review model tiers to latest sonnet/haiku aliases
  .claude/skills/tune-renovate-review/SKILL.md
  .github/workflows/renovate-review.yaml
Labels: none

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
