Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

Revert "fix(monitoring): correct configmap name reference for kubernetes-event-exporter"
  kubernetes/monitoring/kubernetes-event-exporter/kubernetes-event-exporter.yaml
Labels: area/kubernetes

Revert "feat(monitoring): add kubernetes-event-exporter for real-time KEDA scaling notifications"
  kubernetes/monitoring/kubernetes-event-exporter/externalsecret.yaml
  kubernetes/monitoring/kubernetes-event-exporter/kubernetes-event-exporter.yaml
  kubernetes/monitoring/kubernetes-event-exporter/servicemonitor.yaml
Labels: area/kubernetes

feat(keda): add shelfmark to NFS scalers
  kubernetes/kube-system/keda/resourceset-nfs-scalers.yaml
Labels: area/kubernetes

feat(envoy-gateway): upgrade to production-grade configuration with performance optimizations
  kubernetes/kube-system/envoy-gateway/envoy-gateway.yaml
  kubernetes/kube-system/envoy-gateway/envoy-proxies/envoy-proxy-standard.yaml
  kubernetes/kube-system/envoy-gateway/policies/backend-traffic-policy.yaml
  kubernetes/kube-system/envoy-gateway/policies/client-traffic-policy.yaml
Labels: area/kubernetes

fix(renovate): switch scheduled automerge from branch to PR with schedule
  .renovate/autoMerge.json5
Labels: area/renovate

typo
  kubernetes/default/shelfmark/shelfmark.yaml
Labels: area/kubernetes

fix(container): update fluent-bit image tag and URL (0.54.1 → 0.55.0)
  kubernetes/monitoring/fluent-bit/fluent-bit.yaml
Labels: area/kubernetes

keep using readarr for now
  kubernetes/default/readarr/readarr.yaml
Labels: area/kubernetes

chore(volsync): shrink PVC capacities to match actual usage
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

fix(renovate): use PR automerge for GitHub Actions and remove unused rule
  .renovate/autoMerge.json5
Labels: area/renovate

fix(volsync): add cacheCapacity for large PVC restores
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

docs(volsync): add PVC shrinking procedure
  kubernetes/kube-system/volsync/README.md
Labels: area/kubernetes

no longer vendor CRDs
  .github/workflows/update-crds.yaml
Labels: none

slim-up the runners
  .github/workflows/flux-local.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
Labels: none

feat(cilium): update config with performance optimizations and disable hubble
  kubernetes/kube-system/cilium/cilium.yaml
Labels: area/kubernetes

fix(monitoring): reduce FluxInstanceNotReady alert sensitivity
  kubernetes/flux-system/receiver.yaml/prometheusrule.yaml
Labels: area/kubernetes

feat(booklore): add self-hosted digital library with mariadb sidecar
  kubernetes/default/booklore/booklore.yaml
  kubernetes/default/booklore/externalsecret.yaml
Labels: area/kubernetes

chore(volsync): add booklore to backup configuration
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

fix(booklore): remove explicit HTTPRoute backendRefs to allow auto-generation
  kubernetes/default/booklore/booklore.yaml
Labels: area/kubernetes

feat(keda): add booklore to nfs-scalers ResourceSet
  kubernetes/kube-system/keda/resourceset-nfs-scalers.yaml
Labels: area/kubernetes

fix(flux-system): reduce memory limits based on actual usage
  kubernetes/flux-system/flux-instance/flux-instance.yaml
Labels: area/kubernetes

fix(flux-system): reduce memory limits for notification-controller and flux-operator
  kubernetes/flux-system/flux-instance/flux-instance.yaml
  kubernetes/flux-system/flux-operator/flux-operator.yaml
Labels: area/kubernetes

fix(renovate): enable loose versioning for pennydreadful/bookshelf
  .renovate/overrides.json5
Labels: area/renovate

fix(renovate): use regex versioning for pennydreadful/bookshelf
  .renovate/overrides.json5
Labels: area/renovate

fix(monitoring): use timestamp-comparison for CloudNativePG archive alerts
  kubernetes/default/cloudnative-pg/cluster/prometheusrule.yaml
Labels: area/kubernetes

Add smokeping-prober for network latency and packet loss monitoring
  kubernetes/monitoring/grafana/grafana.yaml
  kubernetes/monitoring/smokeping-prober/prometheusrule.yaml
  kubernetes/monitoring/smokeping-prober/servicemonitor.yaml
  kubernetes/monitoring/smokeping-prober/smokeping-prober.yaml
Labels: area/kubernetes

Fix smokeping-prober ConfigMap reference name
  kubernetes/monitoring/smokeping-prober/smokeping-prober.yaml
Labels: area/kubernetes

Fix smokeping dashboard revision to 1 (correct latest revision)
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

Add OPNsense and Unbound exporters for comprehensive network monitoring
  kubernetes/monitoring/README.md
  kubernetes/monitoring/opnsense-exporter/externalsecret.yaml
  kubernetes/monitoring/opnsense-exporter/opnsense-exporter.yaml
  kubernetes/monitoring/opnsense-exporter/servicemonitor.yaml
  kubernetes/monitoring/prometheus-rules/unbound.yaml
  kubernetes/monitoring/unbound-exporter/servicemonitor.yaml
  kubernetes/monitoring/unbound-exporter/unbound-exporter.yaml
Labels: area/kubernetes

fix: remove boolean value from opnsense.insecure flag
  kubernetes/monitoring/opnsense-exporter/opnsense-exporter.yaml
Labels: area/kubernetes

fix: use port 1443 for OPNsense API
  kubernetes/monitoring/opnsense-exporter/opnsense-exporter.yaml
Labels: area/kubernetes

fix: correct environment variable names for API credentials
  kubernetes/monitoring/opnsense-exporter/opnsense-exporter.yaml
Labels: area/kubernetes

Add Grafana dashboards for OPNsense and Unbound exporters
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

fix: map DS_PROMETHEUS variable for OPNsense and Unbound dashboards
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

fix: add DS_PROMETHEUS-K0 variable mapping for OPNsense dashboard
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

Disable wireguard and openvpn collectors in opnsense-exporter
  kubernetes/monitoring/opnsense-exporter/opnsense-exporter.yaml
Labels: area/kubernetes

fix: use max() in KopiaMaintenanceMissing alert to check most recent job
  kubernetes/kube-system/volsync/prometheusrule.yaml
Labels: area/kubernetes

refactor: rename unbound-rules to opnsense-rules and exclude WAN2 backup gateways from alerts
  kubernetes/monitoring/prometheus-rules/opnsense.yaml
Labels: area/kubernetes

fix(smokeping-prober): comment out unresponsive Quad9 Secondary DNS and add ghcr.io to monitored hosts
  kubernetes/monitoring/smokeping-prober/smokeping-prober.yaml
Labels: area/kubernetes

fix(prometheus): adjust Unbound cache hit rate alert threshold to 40% and duration to 30m
  kubernetes/monitoring/prometheus-rules/opnsense.yaml
Labels: area/kubernetes
