Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

fix(volsync): update AWS credentials and change key reference from minio to garage
  kubernetes/default/audiobookshelf/volsync.yml
Labels: area/kubernetes

migrate to garage
  kubernetes/default/frigate/volsync.yaml
  kubernetes/default/home-assistant/volsync.yaml
  kubernetes/default/jellyseerr/volsync.yaml
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-lobby.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
  kubernetes/default/node-red/volsync.yaml
  kubernetes/default/plex/volsync.yaml
  kubernetes/default/prowlarr/volsync.yaml
  kubernetes/default/qbittorrent/volsync.yaml
  kubernetes/default/radarr/volsync.yaml
  kubernetes/default/readarr/volsync.yaml
  kubernetes/default/recyclarr/volsync.yaml
  kubernetes/default/sabnzbd/volsync.yaml
  kubernetes/default/sonarr/volsync.yaml
  kubernetes/default/tautulli/volsync.yaml
  kubernetes/default/unifi/volsync.yaml
  kubernetes/default/zwave2mqtt/volsync.yaml
  kubernetes/monitoring/influxdb/volsync.yaml
Labels: area/kubernetes

migrate cnpg to garage
  kubernetes/default/cloudnative-pg/chart/externalsecret.yaml
  kubernetes/default/cloudnative-pg/cluster/cluster-v17.yaml
Labels: area/kubernetes

fix: add REGION key reference to cloudnative-pg-secret in externalsecret and cluster configurations
  kubernetes/default/cloudnative-pg/chart/externalsecret.yaml
  kubernetes/default/cloudnative-pg/cluster/cluster-v17.yaml
Labels: area/kubernetes

revert to minio for cnpn
  kubernetes/default/cloudnative-pg/chart/externalsecret.yaml
  kubernetes/default/cloudnative-pg/cluster/cluster-v17.yaml
Labels: area/kubernetes

typo
  kubernetes/default/cloudnative-pg/chart/externalsecret.yaml
Labels: area/kubernetes

fix: update Grafana version and adjust plugin settings in grafana.yaml
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

fix: downgrade Grafana version to 10.1.4 and update TeslaMate database URL
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

cleanup
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

switch cnpg to garage for s3 storage
  kubernetes/default/cloudnative-pg/chart/externalsecret.yaml
  kubernetes/default/cloudnative-pg/cluster/cluster-v17.yaml
Labels: area/kubernetes

feat(gateway): Phase 0 - Set up Cilium Gateway API infrastructure
  kubernetes/kube-system/cilium/cilium.yaml
  kubernetes/kube-system/cilium/gateway/gateway-external.yaml
  kubernetes/kube-system/cilium/gateway/gateway-tailscale.yaml
  kubernetes/kube-system/cilium/gateway/test-httproute.yaml
  kubernetes/kube-system/external-dns/external-dns-cloudflare.yaml
  kubernetes/monitoring/grafana/grafana.yaml
  kubernetes/monitoring/prometheus-rules/gateway-api.yaml
Labels: area/kubernetes

fix(gateway): Fix HTTPS listener certificate reference
  kubernetes/cert-manager/referencegrant.yaml
  kubernetes/kube-system/cilium/gateway/gateway-external.yaml
Labels: area/kubernetes

fix(external-dns): Add Gateway API HTTPRoute support
  kubernetes/kube-system/external-dns/external-dns-cloudflare.yaml
  kubernetes/kube-system/external-dns/external-dns-opnsense.yaml
Labels: area/kubernetes

chore(gateway): Remove test HTTPRoute after Phase 0 validation
  .claude/settings.local.json
  CLAUDE.md
  kubernetes/kube-system/cilium/gateway/test-httproute.yaml
Labels: area/kubernetes

chore: Remove Claude Code config from repository
  .claude/settings.local.json
  .gitignore
  CLAUDE.md
Labels: none

feat: Phase 1 - Enable Cilium ingress with emqx test
  kubernetes/default/emqx/ingress-test.yaml
  kubernetes/kube-system/cilium/MIGRATION-TESTING.md
  kubernetes/kube-system/cilium/cilium-ingress-tailscale-lb.yaml
  kubernetes/kube-system/cilium/cilium.yaml
Labels: area/kubernetes

feat(dns): add ISP outage resilience for nginx-tailscale services
  kubernetes/default/emqx/ingress.yaml
  kubernetes/default/home-assistant/home-assistant.yaml
  kubernetes/default/node-red/node-red.yaml
  kubernetes/default/prowlarr/prowlarr.yaml
  kubernetes/default/qbittorrent/qbittorrent.yaml
  kubernetes/default/radarr/radarr.yaml
  kubernetes/default/readarr/readarr.yaml
  kubernetes/default/sabnzbd/sabnzbd.yaml
  kubernetes/default/sonarr/sonarr.yaml
  kubernetes/default/tautulli/tautulli.yaml
  kubernetes/default/teslamate/teslamate.yaml
  kubernetes/default/unifi/unifi.yaml
  kubernetes/default/zwave2mqtt/zwave2mqtt.yaml
  kubernetes/kube-system/external-dns/README.md
  kubernetes/kube-system/nginx/nginx-external/external_minio.yaml
  kubernetes/kube-system/nginx/nginx-external/external_proxmox.yaml
  kubernetes/kube-system/nginx/nginx-tailscale.yaml
  kubernetes/monitoring/grafana/grafana.yaml
  kubernetes/monitoring/victoria-logs/victoria-logs.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

feat(dns): add ISP outage resilience for nginx-tailscale services
  kubernetes/default/emqx/ingress.yaml
  kubernetes/default/home-assistant/home-assistant.yaml
  kubernetes/default/node-red/node-red.yaml
  kubernetes/default/prowlarr/prowlarr.yaml
  kubernetes/default/qbittorrent/qbittorrent.yaml
  kubernetes/default/radarr/radarr.yaml
  kubernetes/default/readarr/readarr.yaml
  kubernetes/default/sabnzbd/sabnzbd.yaml
  kubernetes/default/sonarr/sonarr.yaml
  kubernetes/default/tautulli/tautulli.yaml
  kubernetes/default/teslamate/teslamate.yaml
  kubernetes/default/unifi/unifi.yaml
  kubernetes/default/zwave2mqtt/zwave2mqtt.yaml
  kubernetes/kube-system/external-dns/README.md
  kubernetes/kube-system/nginx/nginx-external/external_minio.yaml
  kubernetes/kube-system/nginx/nginx-external/external_proxmox.yaml
  kubernetes/kube-system/nginx/nginx-tailscale.yaml
  kubernetes/monitoring/grafana/grafana.yaml
  kubernetes/monitoring/victoria-logs/victoria-logs.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

docs: remove verbose tailscale services list from README
  kubernetes/kube-system/external-dns/README.md
Labels: area/kubernetes

feat(renovate): expand auto-merge rules and modernize syntax
  .renovate/autoMerge.json5
Labels: area/renovate

fix(renovate): correct auto-merge datasources and package names
  .renovate/autoMerge.json5
Labels: area/renovate

fix(renovate): move OCI helm charts to docker automerge rule
  .renovate/autoMerge.json5
Labels: area/renovate

feat(flux): migrate jetstack helm repo to OCI
  setup/flux/repositories/jetstack.yaml
Labels: none

feat(bootstrap): add helmfile-based CRD bootstrapping
  .renovate/groups.json5
  .taskfiles/k8s-bootstrap/Taskfile.yaml
  kubernetes/kube-system/external-secrets/chart/external-secrets.yaml
  kubernetes/kube-system/gateway-api-crds/gateway-api-crds.yaml
  setup/README.md
  setup/bootstrap/helmfile.d/00-crds.yaml
  setup/bootstrap/helmfile.d/01-apps.yaml
  setup/crds/kustomization.yaml
  setup/crds/vendor/backube_volsync/volsync.backube_replicationdestinations.yaml
  setup/crds/vendor/backube_volsync/volsync.backube_replicationsources.yaml
  setup/crds/vendor/cloudnative-pg_cloudnative-pg/postgresql.cnpg.io_backups.yaml
  setup/crds/vendor/cloudnative-pg_cloudnative-pg/postgresql.cnpg.io_clusterimagecatalogs.yaml
  setup/crds/vendor/cloudnative-pg_cloudnative-pg/postgresql.cnpg.io_clusters.yaml
  setup/crds/vendor/cloudnative-pg_cloudnative-pg/postgresql.cnpg.io_databases.yaml
  setup/crds/vendor/cloudnative-pg_cloudnative-pg/postgresql.cnpg.io_imagecatalogs.yaml
  setup/crds/vendor/cloudnative-pg_cloudnative-pg/postgresql.cnpg.io_poolers.yaml
  setup/crds/vendor/cloudnative-pg_cloudnative-pg/postgresql.cnpg.io_publications.yaml
  setup/crds/vendor/cloudnative-pg_cloudnative-pg/postgresql.cnpg.io_scheduledbackups.yaml
  setup/crds/vendor/cloudnative-pg_cloudnative-pg/postgresql.cnpg.io_subscriptions.yaml
  setup/crds/vendor/emqx_emqx-operator/crds.yaml
  setup/crds/vendor/external-secrets_external-secrets/bundle.yaml
  setup/crds/vendor/giantswarm_silence-operator/observability.giantswarm.io_silences.yaml
  setup/crds/vendor/kubernetes-csi_external-snapshotter/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  setup/crds/vendor/kubernetes-csi_external-snapshotter/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  setup/crds/vendor/kubernetes-csi_external-snapshotter/snapshot.storage.k8s.io_volumesnapshots.yaml
  setup/crds/vendor/kubernetes-sigs_gateway-api/experimental-install.yaml
  setup/crds/vendor/kubernetes-sigs_node-feature-discovery/nfd-api-crds.yaml
  setup/flux/cluster/cluster.yaml
  setup/flux/repositories/wiremind.yaml
Labels: area/bootstrap, area/kubernetes, area/renovate, area/taskfile

feat(bootstrap): move prometheus-operator-crds to CRD helmfile
  setup/bootstrap/helmfile.d/00-crds.yaml
  setup/bootstrap/helmfile.d/01-apps.yaml
Labels: area/bootstrap

fix(cnpg): recover postgres-v17 from S3 backup
  kubernetes/default/cloudnative-pg/cluster/cluster-v17.yaml
Labels: area/kubernetes

fix(volsync): remove legacy NFS mount injection policy
  kubernetes/kube-system/volsync/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

feat(system-upgrade): migrate from system-upgrade-controller to tuppr
  .renovate/groups.json5
  kubernetes/system-upgrade/README.md
  kubernetes/system-upgrade/kubernetes-plan.yaml
  kubernetes/system-upgrade/kubernetes-upgrade.yaml
  kubernetes/system-upgrade/system-upgrade-controller.yaml
  kubernetes/system-upgrade/talos-plan.yaml
  kubernetes/system-upgrade/talos-upgrade.yaml
  kubernetes/system-upgrade/tuppr.yaml
  setup/bootstrap/helmfile.d/00-crds.yaml
  setup/crds/kustomization.yaml
  setup/crds/vendor/rancher_system-upgrade-controller/crd.yaml
  setup/flux/repositories/home-operations.yaml
Labels: area/bootstrap, area/kubernetes, area/renovate

feat(bootstrap): add standalone CRD task and force-conflicts flag
  .taskfiles/k8s-bootstrap/Taskfile.yaml
Labels: area/taskfile

feat(ingress): migrate from nginx to Cilium Gateway API
  kubernetes/default/audiobookshelf/audiobookshelf.yaml
  kubernetes/default/echo-server/echo-server.yaml
  kubernetes/default/home-assistant/home-assistant.yaml
  kubernetes/default/jellyseerr/jellyseerr.yaml
  kubernetes/default/plex/plex.yaml
  kubernetes/flux-system/receiver.yaml/httproute.yaml
  kubernetes/flux-system/receiver.yaml/ingress.yaml
  kubernetes/kube-system/README.md
  kubernetes/kube-system/cilium/gateway/gateway-external.yaml
  kubernetes/kube-system/nginx/nginx.yaml
Labels: area/kubernetes

Revert "feat(ingress): migrate from nginx to Cilium Gateway API"
  kubernetes/default/audiobookshelf/audiobookshelf.yaml
  kubernetes/default/echo-server/echo-server.yaml
  kubernetes/default/home-assistant/home-assistant.yaml
  kubernetes/default/jellyseerr/jellyseerr.yaml
  kubernetes/default/plex/plex.yaml
  kubernetes/flux-system/receiver.yaml/httproute.yaml
  kubernetes/flux-system/receiver.yaml/ingress.yaml
  kubernetes/kube-system/README.md
  kubernetes/kube-system/cilium/gateway/gateway-external.yaml
  kubernetes/kube-system/nginx/nginx.yaml
Labels: area/kubernetes

Revert "Revert "feat(ingress): migrate from nginx to Cilium Gateway API""
  kubernetes/default/audiobookshelf/audiobookshelf.yaml
  kubernetes/default/echo-server/echo-server.yaml
  kubernetes/default/home-assistant/home-assistant.yaml
  kubernetes/default/jellyseerr/jellyseerr.yaml
  kubernetes/default/plex/plex.yaml
  kubernetes/flux-system/receiver.yaml/httproute.yaml
  kubernetes/flux-system/receiver.yaml/ingress.yaml
  kubernetes/kube-system/README.md
  kubernetes/kube-system/cilium/gateway/gateway-external.yaml
  kubernetes/kube-system/nginx/nginx.yaml
Labels: area/kubernetes

fix(renovate): use automergeSchedule to control merge timing
  .renovate/autoMerge.json5
Labels: area/renovate

chore: consolidate AI instructions into .github/copilot-instructions.md
  .github/copilot-instructions.md
  .github/instructions/README.md
  .github/instructions/applications.instructions.md
  .github/instructions/external-secrets.instructions.md
  .github/instructions/flux.instructions.md
  .github/instructions/helmrelease.instructions.md
  .github/instructions/secrets.instructions.md
  .github/instructions/talos.instructions.md
  .github/instructions/volsync.instructions.md
  .github/instructions/yaml-schemas.instructions.md
  .github/prompts/README.md
  .github/prompts/app-template.prompt.yaml
  .github/prompts/home-automation.prompt.yaml
  .github/prompts/media-app.prompt.yaml
  .github/prompts/monitoring.prompt.yaml
  .github/prompts/network-service.prompt.yaml
Labels: none

fix: correct Gateway API route backendRefs configuration
  kubernetes/default/audiobookshelf/audiobookshelf.yaml
  kubernetes/default/echo-server/echo-server.yaml
  kubernetes/default/home-assistant/home-assistant.yaml
  kubernetes/default/jellyseerr/jellyseerr.yaml
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

fix: use explicit numeric ports for route backendRefs
  kubernetes/default/home-assistant/home-assistant.yaml
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

feat: implement dual Gateway for split-horizon DNS with Gateway API
  kubernetes/default/audiobookshelf/audiobookshelf.yaml
  kubernetes/default/echo-server/echo-server.yaml
  kubernetes/default/home-assistant/home-assistant.yaml
  kubernetes/default/jellyseerr/jellyseerr.yaml
  kubernetes/default/plex/plex.yaml
  kubernetes/kube-system/cilium/gateway/gateway-external.yaml
Labels: area/kubernetes

refactor: rename gateways to public/internal and split into separate files
  kubernetes/default/audiobookshelf/audiobookshelf.yaml
  kubernetes/default/echo-server/echo-server.yaml
  kubernetes/default/home-assistant/home-assistant.yaml
  kubernetes/default/jellyseerr/jellyseerr.yaml
  kubernetes/default/plex/plex.yaml
  kubernetes/kube-system/cilium/gateway/gateway-external.yaml
  kubernetes/kube-system/cilium/gateway/gateway-internal.yaml
  kubernetes/kube-system/cilium/gateway/gateway-public.yaml
Labels: area/kubernetes

fix: update flux-webhook route to use public gateway and update README
  kubernetes/flux-system/receiver.yaml/httproute.yaml
  kubernetes/kube-system/README.md
Labels: area/kubernetes

fix: update HTTP redirect route to reference both public and internal gateways
  kubernetes/kube-system/cilium/gateway/redirect.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
