Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

feat(minecraft): track plugins via MODRINTH_PROJECTS on survival/survival2/creative
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(kei): separate libraries by {library} and drop metadata writes
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(kei): switch file_match_policy to name-id7 to stop dup re-downloads
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

feat(minecraft): gitops overhaul - secrets, JVM tuning, monitoring, rcon-web
  kubernetes/default/minecraft/externalsecrets.yaml
  kubernetes/default/minecraft/mc-monitor.yaml
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-lobby.yaml
  kubernetes/default/minecraft/minecraft-rcon-web.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

fix(minecraft-rcon-web): use numeric port in HTTPRoute backendRef
  kubernetes/default/minecraft/minecraft-rcon-web.yaml
Labels: area/kubernetes

fix(minecraft-rcon-web): add RWA_PASSWORD from ExternalSecret and fix HTTPRoute port
  kubernetes/default/minecraft/externalsecrets.yaml
  kubernetes/default/minecraft/minecraft-rcon-web.yaml
Labels: area/kubernetes

fix(mc-monitor): move grafana dashboard to apps folder
  kubernetes/default/minecraft/mc-monitor.yaml
Labels: area/kubernetes

fix(minecraft-rcon-web): set RWA_USERNAME, default RCON host/port/password
  kubernetes/default/minecraft/externalsecrets.yaml
  kubernetes/default/minecraft/minecraft-rcon-web.yaml
Labels: area/kubernetes

fix(minecraft): expose RCON port 25575 on all server services; fix rcon-web readOnly rootfs
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-lobby.yaml
  kubernetes/default/minecraft/minecraft-rcon-web.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(minecraft-rcon-web): wire WSS websocket route to fix browser mixed-content block
  kubernetes/default/minecraft/minecraft-rcon-web.yaml
Labels: area/kubernetes

chore(minecraft): remove rcon-web-admin (abandoned, replaced by rcon-cli)
  kubernetes/default/minecraft/externalsecrets.yaml
  kubernetes/default/minecraft/minecraft-rcon-web.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

feat(minecraft): migrate proxy from Waterfall to Velocity with modern forwarding
  kubernetes/default/minecraft/externalsecrets.yaml
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-lobby.yaml
  kubernetes/default/minecraft/minecraft-proxy.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(minecraft): use PatchDefinition format for PATCH_DEFINITIONS directory files
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-lobby.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(minecraft): disable bungee-cord online-mode to unblock Velocity modern forwarding
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-lobby.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

MODERN -> modern
  kubernetes/default/minecraft/minecraft-proxy.yaml
Labels: area/kubernetes

testing velocity tweaks
  kubernetes/default/minecraft/minecraft-lobby.yaml
  kubernetes/default/minecraft/minecraft-proxy.yaml
Labels: area/kubernetes

fix minecraft velocity forwarding
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-lobby.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(minecraft): restore velocity slash server commands
  kubernetes/default/minecraft/minecraft-proxy.yaml
Labels: area/kubernetes

fix(minecraft): use working velocity server alias plugin
  kubernetes/default/minecraft/minecraft-proxy.yaml
Labels: area/kubernetes

Add mc-router pilot for creative Minecraft
  kubernetes/default/minecraft/externalsecrets.yaml
  kubernetes/default/minecraft/mc-monitor.yaml
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-proxy.yaml
  kubernetes/default/minecraft/minecraft-router.yaml
Labels: area/kubernetes

Route Minecraft servers through mc-router
  kubernetes/default/minecraft/externalsecrets.yaml
  kubernetes/default/minecraft/mc-monitor.yaml
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-lobby.yaml
  kubernetes/default/minecraft/minecraft-proxy.yaml
  kubernetes/default/minecraft/minecraft-router.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

Disable Gatus checks for sleeping Minecraft maps
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(mc-monitor): add probe timeoutSeconds and server query timeout
  kubernetes/default/minecraft/mc-monitor.yaml
Labels: area/kubernetes

fix(minecraft): replace mc-monitor with mc-router native prometheus metrics
  kubernetes/default/minecraft/mc-monitor.yaml
  kubernetes/default/minecraft/minecraft-router.yaml
Labels: area/kubernetes

fix(minecraft): route mc-router loadbalancer cluster-wide
  kubernetes/default/minecraft/minecraft-router.yaml
Labels: area/kubernetes

Expand Minecraft Grafana dashboard
  kubernetes/default/minecraft/mc-monitor.yaml
Labels: area/kubernetes

Tune Minecraft router and idle behavior
  kubernetes/default/minecraft/externalsecrets.yaml
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-router.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

Add Minecraft server metrics scraping
  .renovate/customManagers.json5
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-server-metrics.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes, area/renovate

Fix Minecraft metrics plugin install path
  .renovate/customManagers.json5
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes, area/renovate

Configure Minecraft metrics exporter binding
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

Clean up Minecraft exporter config mount
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

Gate Minecraft scrape state by desired replicas
  kubernetes/default/minecraft/minecraft-server-metrics.yaml
Labels: area/kubernetes

fix(ci): block temp-file writes and stop post-review verification turns
  .github/workflows/renovate-review.yaml
Labels: none

fix(ci): improve tune-renovate-review skill to reduce permission prompts
  .claude/skills/tune-renovate-review/SKILL.md
Labels: none

fix(ci): remove version-only pre-check that skipped re-review on expanded rebases
  .github/workflows/renovate-review.yaml
Labels: none

fix(alertmanager): blackhole ScrapePoolHasNoTargets for Minecraft scale-to-zero
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(monitoring): silence ScrapePoolHasNoTargets for Minecraft scale-to-zero
  kubernetes/monitoring/silence-operator/silences.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

feat(minecraft): keep survival scaled up; opt out of mc-router scale-down
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

chore(renovate): remove Talos v1.13.2 hold
  .renovate/overrides.json5
Labels: area/renovate

feat(system-upgrade): bump Talos to v1.13.4 and allow Ceph HEALTH_WARN
  kubernetes/system-upgrade/talos-upgrade.yaml
Labels: area/kubernetes
