Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

fix(ingress): update host reference for TLS configuration in webhook receiver
  kubernetes/flux-system/receiver.yaml/ingress.yaml
Labels: area/kubernetes

fix(external-secret): update secret store reference to onepassword-connect
  kubernetes/flux-system/receiver.yaml/externalsecret.yaml
Labels: area/kubernetes

fix(flux-instance): update GitRepository interval from 5m to 1h
  kubernetes/flux-system/flux-instance/flux-instance.yaml
Labels: area/kubernetes

fix(taskfile): add .minijinja.toml configuration and update path reference
  .taskfiles/.minijinja.toml
  Taskfile.yaml
Labels: area/taskfile

feat(gitattributes): add initial .gitattributes file with language detection
  .gitattributes
Labels: none

fix(victoria-metrics): update alert routing to include CephNodeNetworkPacketError
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(victoria-metrics): add max_alerts configuration to alertmanager settings
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(victoria-metrics): remove max_alerts setting from alertmanager configuration
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(victoria-metrics): correct alert name for CephNodeNetworkPacketErrors in routing configuration
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(victoria-metrics): update alertmanager routing configuration to enhance grouping and inhibit rules
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(victoria-metrics): simplify alertmanager routing configuration by updating group_by settings
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(victoria-metrics): update alertmanager routing configuration to include additional grouping fields
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(grafana): remove trivy dashboard configuration from grafana.yaml
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

dont really use bedrock anymore
  kubernetes/default/minecraft/minecraft-bedrock.yaml
Labels: area/kubernetes

fix(victoria-metrics): rename job 'node' to 'node-exporter' in scrape configuration
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

feat(plex): add nginx configuration snippet for root redirection in ingress
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

fix(plex): simplify nginx ingress configuration for root redirection
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

feat(renovate): add allowedVersions and update autoMerge configurations
  .github/renovate.json5
  .renovate/allowedVersions.json5
  .renovate/autoMerge.json5
  .renovate/groups.json5
Labels: area/renovate

fix(renovate): update repository references in renovate configuration
  .github/renovate.json5
Labels: none

fix(helm): comment out unused mgr modules in rook-ceph-cluster.yaml
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

fix(helm): enable insights, pg_autoscaler, and telemetry modules in rook-ceph-cluster.yaml
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

fix(helm): update prometheusEndpoint URL in rook-ceph-cluster.yaml
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

fix(victoria-metrics): add HostNodeOvertemperatureAlarm to alert routing matchers
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(renovate): update External Secrets Operator group to match additional datasources and patterns
  .renovate/groups.json5
Labels: area/renovate

Revert "feat(container): update external secrets operator group"
  kubernetes/kube-system/external-secrets/chart/external-secrets.yaml
  setup/crds/kustomization.yaml
Labels: area/kubernetes

Revert "Revert "feat(container): update external secrets operator group""
  kubernetes/kube-system/external-secrets/chart/external-secrets.yaml
  setup/crds/kustomization.yaml
Labels: area/kubernetes

fix(external-secrets): set installCRDs to false in values
  kubernetes/kube-system/external-secrets/chart/external-secrets.yaml
Labels: area/kubernetes

fix(groups): add additional datasources for Cilium Group
  .renovate/groups.json5
Labels: area/renovate

fix(groups): add additional datasources for Rook-Ceph Group
  .renovate/groups.json5
Labels: area/renovate

fix(groups): expand matchPackageNames for Rook-Ceph Group
  .renovate/groups.json5
Labels: area/renovate

fix(groups): update matchPackageNames for Rook-Ceph Group
  .renovate/groups.json5
Labels: area/renovate

fix(groups): update matchPackageNames to matchPackagePatterns for Rook-Ceph Group
  .renovate/groups.json5
Labels: area/renovate

Revert "fix(container): update external secrets operator group"
  kubernetes/kube-system/external-secrets/chart/external-secrets.yaml
  setup/crds/kustomization.yaml
Labels: area/kubernetes

fix(minecraft): set suspend to false for minecraft-survival HelmRelease
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

fix(minecraft): update mod URLs and allowed version types in minecraft-survival2 configuration
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(minecraft): update EssentialsX mod URL and adjust LuckPerms entry in minecraft-survival configurations
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(minecraft): comment out unused mod entries in minecraft-survival configuration
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

fix(minecraft): comment out modrinth configuration in minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

fix(minecraft): comment out CoreProtect mod URL in minecraft-survival configuration
  kubernetes/default/minecraft/minecraft-survival.yaml
Labels: area/kubernetes

fix(minecraft): comment out CoreProtect mod URL in minecraft-lobby configuration
  kubernetes/default/minecraft/minecraft-lobby.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
