Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

fix(monitoring): rename external label cluster→k8s_cluster
  kubernetes/default/cloudnative-pg/cluster/cluster.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

chore(monitoring): trim verbose inline comments
  kubernetes/monitoring/grafana/dashboards/grafana-dashboard-opnsense.yaml
  kubernetes/monitoring/grafana/grafana.yaml
  kubernetes/monitoring/victoria-logs/collector.yaml
  kubernetes/monitoring/victoria-logs/syslog-service.yaml
  kubernetes/monitoring/victoria-logs/victoria-logs.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(monitoring): remove vestigial k8s_cluster external label from VMSingle
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

feat(monitoring): add Cluster Logs Grafana dashboard
  kubernetes/monitoring/grafana/dashboards/grafana-dashboard-cluster-logs.yaml
Labels: area/kubernetes

fix(monitoring): use queryType stats for VictoriaLogs aggregate panels
  kubernetes/monitoring/grafana/dashboards/grafana-dashboard-cluster-logs.yaml
Labels: area/kubernetes

fix(monitoring): replace broken VictoriaLogs query vars with textbox
  kubernetes/monitoring/grafana/dashboards/grafana-dashboard-cluster-logs.yaml
Labels: area/kubernetes

rollback qbittorrent version
  kubernetes/default/qbittorrent/qbittorrent.yaml
Labels: area/kubernetes

chore: add review-renovate skill and HelmRelease recovery docs
  .claude/skills/review-renovate/SKILL.md
  .gitignore
  CLAUDE.md
Labels: none

remove un-needed step
  .claude/skills/review-renovate/SKILL.md
Labels: none

fix(qbittorrent): accept 302 in gatus health check
  kubernetes/default/qbittorrent/qbittorrent.yaml
Labels: area/kubernetes

revert(qbittorrent): drop gatus 302 hedge; document reverse-proxy reqs
  kubernetes/default/qbittorrent/qbittorrent.yaml
Labels: area/kubernetes

chore(qbittorrent): remove reverse-proxy comment
  kubernetes/default/qbittorrent/qbittorrent.yaml
Labels: area/kubernetes

fix(envoy-gateway): add passive health checks and connect-failure retry
  kubernetes/kube-system/envoy-gateway/README.md
  kubernetes/kube-system/envoy-gateway/policies/backend-traffic-policy.yaml
Labels: area/kubernetes

feat(shelfmark): enable built-in auth and expose on public gateway
  kubernetes/default/readarr/readarr.yaml
  kubernetes/default/shelfmark/shelfmark.yaml
Labels: area/kubernetes

fix(shelfmark): mount emptyDir at /.gunicorn for control socket
  kubernetes/default/shelfmark/shelfmark.yaml
Labels: area/kubernetes

fix(shelfmark): correct external-dns annotation for public gateway
  kubernetes/default/shelfmark/shelfmark.yaml
Labels: area/kubernetes

fix(readarr): silence alerts while scaled to zero
  kubernetes/default/readarr/readarr.yaml
  kubernetes/kube-system/nfs-scalers/resourceset-nfs-scalers.yaml
Labels: area/kubernetes

feat(shelfmark): add books.eviljungle.com as second hostname
  kubernetes/default/shelfmark/shelfmark.yaml
Labels: area/kubernetes

fix(shelfmark): revert audiobook destination to shared path for ABS compatibility
  kubernetes/default/shelfmark/shelfmark.yaml
Labels: area/kubernetes

fix(monitoring): increase vmsingle memory limit and add self-cap to stop >80% alerts
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

frigate: raise person detection threshold from 0.72 to 0.75
  kubernetes/default/frigate/frigate-configmap.yaml
Labels: area/kubernetes

frigate: raise person detection threshold from 0.72 to 0.75 (#5666)
  kubernetes/default/frigate/frigate-configmap.yaml
Labels: area/kubernetes

fix(gatus): increase gatus-sidecar memory limit to 128Mi
  kubernetes/monitoring/gatus/gatus.yaml
Labels: area/kubernetes

feat(shelfmark): trigger ABS matchall after library scan
  kubernetes/default/shelfmark/shelfmark.yaml
Labels: area/kubernetes

fix(rook-ceph): set mgr memory limit to 1.5Gi to prevent OOMKill
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

chore(default): remove chaptarr and readarr
  kubernetes/default/README.md
  kubernetes/default/chaptarr/chaptarr.yaml
  kubernetes/default/readarr/readarr.yaml
  kubernetes/kube-system/nfs-scalers/resourceset-nfs-scalers.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

chore(claude): enhance review-renovate skill with batch mode and hazard scanning
  .claude/skills/review-renovate/SKILL.md
Labels: none

feat(system-upgrade): add CNPG health check to tuppr upgrade gates
  kubernetes/system-upgrade/kubernetes-upgrade.yaml
  kubernetes/system-upgrade/talos-upgrade.yaml
Labels: area/kubernetes

fix(grafana): pin TeslaMate datasource uid to match dashboard references
  kubernetes/monitoring/grafana/instance/datasource-teslamate.yaml
Labels: area/kubernetes

fix(grafana): use sslmode=require for TeslaMate postgres datasource
  kubernetes/monitoring/grafana/instance/datasource-teslamate.yaml
Labels: area/kubernetes

fix(grafana): fix TeslaMate datasource password injection
  kubernetes/monitoring/grafana/instance/datasource-teslamate.yaml
Labels: area/kubernetes

fix(grafana): restore required targetPath in TeslaMate datasource valuesFrom
  kubernetes/monitoring/grafana/instance/datasource-teslamate.yaml
Labels: area/kubernetes

feat(grafana): add read-only service account for MCP server
  kubernetes/monitoring/grafana/instance/serviceaccount-mcp.yaml
Labels: area/kubernetes

feat(kei): migrate to v0.20 TOML config model
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(emqx): add pod anti-affinity to spread core pods across nodes
  kubernetes/default/emqx/cluster.yaml
Labels: area/kubernetes

fix(talos): rollback to v1.13.2 and hold Renovate at <=1.13.2
  .renovate/overrides.json5
  kubernetes/system-upgrade/talos-upgrade.yaml
  setup/talos/talconfig.yaml
Labels: area/kubernetes, area/renovate, area/talos

fix(talos): remove scheduler.config to work around v1.13.3 panic
  setup/talos/patches/controller/cluster.yaml
Labels: area/talos

fix(talos): restore scheduler.config on v1.13.2
  setup/talos/patches/controller/cluster.yaml
Labels: area/talos

fix(emqx): add PDB with maxUnavailable=1 to allow node drain eviction
  kubernetes/default/emqx/poddisruptionbudget.yaml
Labels: area/kubernetes

fix(kei): suppress false sync-failure alerts caused by kei 0.20.0 bug #498
  kubernetes/default/kei/kei.yaml
  kubernetes/default/kei/prometheusrule.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
