Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

docs: note Flux reacts to pushes via webhook, no manual reconcile needed
  CLAUDE.md
Labels: none

fix(rook-ceph): rotate cephx daemon keys for CVE-2025-30156
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

fix(rook-ceph): mute accepted CVE-2025-30156 CSI key warnings
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

fix(rook-ceph): disable rook mgr module to stop mgr crash storm
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

test: verify forgejo push mirror propagates to github (#6118)
  .forgejo-mirror-test
Labels: none

test: revert forgejo push mirror verification commit (#6118)
  .forgejo-mirror-test
Labels: none

feat(forgejo): provision Actions runner, port labeler/label-sync/flate workflows
  .forgejo/labeler.yaml
  .forgejo/labels.yaml
  .forgejo/workflows/flate.yaml
  .forgejo/workflows/label-sync.yaml
  .forgejo/workflows/labeler.yaml
  kubernetes/default/forgejo/runner-externalsecret.yaml
  kubernetes/default/forgejo/runner.yaml
Labels: area/kubernetes

feat(forgejo): provision Actions runner, port labeler/label-sync/flate workflows (#6147)
  .forgejo/labeler.yaml
  .forgejo/labels.yaml
  .forgejo/workflows/flate.yaml
  .forgejo/workflows/label-sync.yaml
  .forgejo/workflows/labeler.yaml
  kubernetes/default/forgejo/runner-externalsecret.yaml
  kubernetes/default/forgejo/runner.yaml
Labels: area/kubernetes

fix(forgejo-runner): dial the k8s-plugin over TCP, not an unconfigured unix socket
  kubernetes/default/forgejo/runner.yaml
Labels: area/kubernetes

fix(forgejo): point DEFAULT_ACTIONS_URL at github.com directly
  kubernetes/default/forgejo/forgejo.yaml
Labels: area/kubernetes

fix(forgejo/label-sync): override GITHUB_API_URL to dodge EndBug/label-sync URL bug
  .forgejo/workflows/label-sync.yaml
Labels: none

debug(forgejo/label-sync): dump github_/gitea_/forgejo_ env vars
  .forgejo/workflows/label-sync.yaml
Labels: none

revert(forgejo): drop label-sync workflow, keep labeler/flate
  .forgejo/labels.yaml
  .forgejo/workflows/label-sync.yaml
Labels: none

refactor(forgejo-runner): bump capacity to 5, trim plan-era comments
  kubernetes/default/forgejo/runner.yaml
Labels: area/kubernetes

feat(forgejo): self-host Renovate against Forgejo (#6148)
  .forgejo/workflows/renovate.yaml
  .github/renovate.json5
Labels: none

fix(forgejo/renovate): run via npx, not a docker container action
  .forgejo/workflows/renovate.yaml
Labels: none

feat(forgejo/renovate): switch to renovate-operator, drop Actions workflow (#6148)
  .forgejo/workflows/renovate.yaml
  kubernetes/default/renovate-operator/externalsecret.yaml
  kubernetes/default/renovate-operator/helmrelease.yaml
  kubernetes/default/renovate-operator/ocirepository.yaml
  kubernetes/default/renovate-operator/renovatejob.yaml
  setup/bootstrap/helmfile.d/00-crds.yaml
Labels: area/bootstrap, area/kubernetes

fix(forgejo/renovate): point ExternalSecret at the forgejo - renovate item
  kubernetes/default/renovate-operator/externalsecret.yaml
Labels: area/kubernetes

feat(forgejo/renovate): expose renovate-operator dashboard internally
  kubernetes/default/renovate-operator/helmrelease.yaml
Labels: area/kubernetes

fix(forgejo/renovate): bump renovate image past 41.41.0 for forgejo platform
  kubernetes/default/renovate-operator/renovatejob.yaml
Labels: area/kubernetes

fix(forgejo): trust Envoy's forwarded headers
  kubernetes/default/forgejo/forgejo.yaml
Labels: area/kubernetes

fix(forgejo): opt out of the global error-page redirect BackendTrafficPolicy
  kubernetes/default/forgejo/backend-traffic-policy.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s-labs/forgejo-runner ( fea96a5 → dbb94e8 )
  kubernetes/default/forgejo/runner.yaml
Labels: area/kubernetes

fix(forgejo-runner): hold job-pod image at fea96a5b, dbb94e8977 segfaults flate
  .renovate/overrides.json5
  kubernetes/default/forgejo/runner.yaml
Labels: area/kubernetes, area/renovate

feat(forgejo): port the deterministic renovate-review harness (model stubbed)
  .forgejo/scripts/README.md
  .forgejo/scripts/append-flate-evidence.sh
  .forgejo/scripts/classify-renovate-pr.sh
  .forgejo/scripts/detect-advisory-findings.sh
  .forgejo/scripts/dismiss-stale-reviews.sh
  .forgejo/scripts/forgejo-api.sh
  .forgejo/scripts/post-review.sh
  .forgejo/scripts/prepare-review-body.sh
  .forgejo/scripts/publish-review-status.sh
  .forgejo/scripts/report-claude-usage.sh
  .forgejo/scripts/review-fingerprint.sh
  .forgejo/scripts/sanitize-review-body.sh
  .forgejo/scripts/stub-reviewer.sh
  .forgejo/workflows/renovate-review.yaml
Labels: none

fix(forgejo-runner): undo the runner-image pin, its stated cause was wrong
  .renovate/overrides.json5
  kubernetes/default/forgejo/runner.yaml
Labels: area/kubernetes, area/renovate

fix(forgejo): set GOMAXPROCS explicitly in flate steps to avoid segfault
  .github/workflows/flate.yaml
Labels: none

debug(forgejo): temporarily add workflow_dispatch, xtrace, and a debug sleep to flate.yaml
  .github/workflows/flate.yaml
Labels: none

debug(forgejo): skip filter-changes and its needs-gate on workflow_dispatch
  .github/workflows/flate.yaml
Labels: none

revert(forgejo): drop temporary flate-test debug scaffolding
  .github/workflows/flate.yaml
Labels: none

chore(renovate-operator): disable Forgejo RenovateJob schedule temporarily
  kubernetes/default/renovate-operator/renovatejob.yaml
Labels: area/kubernetes

fix(forgejo): set GOMAXPROCS job-wide before Setup Flate runs
  .forgejo/workflows/flate.yaml
Labels: none

fix(forgejo-runner): set GOMAXPROCS in job-pod spec instead of per-workflow
  .forgejo/workflows/flate.yaml
  kubernetes/default/forgejo/runner.yaml
Labels: area/kubernetes

revert(forgejo-runner): podspec env doesn't reach step exec, restore workflow-level fix
  .forgejo/workflows/flate.yaml
  kubernetes/default/forgejo/runner.yaml
Labels: area/kubernetes

feat(forgejo): port the real Claude reviewer step to Forgejo Actions
  .forgejo/scripts/README.md
  .forgejo/scripts/check-escalation.sh
  .forgejo/scripts/report-claude-usage.sh
  .forgejo/scripts/stub-reviewer.sh
  .forgejo/workflows/renovate-review.yaml
  kubernetes/default/forgejo/runner.yaml
Labels: area/kubernetes

fix(forgejo): set GOMAXPROCS in the Flate Diff job too
  .forgejo/workflows/flate.yaml
Labels: none

fix(forgejo): give flate a per-job install dir, drop dead GOMAXPROCS workaround
  .forgejo/workflows/flate.yaml
Labels: none

fix(forgejo): point flate bindir at the runner image's pre-baked binary
  .forgejo/workflows/flate.yaml
Labels: none

test(forgejo): add diagnostic step to isolate flate segfault to the runner's step-exec path
  .forgejo/workflows/flate.yaml
Labels: none

fix(forgejo): drop Setup Flate action, use the runner image's pre-baked binary directly
  .forgejo/workflows/flate.yaml
Labels: none
