Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

fix: remove commented-out configuration for wipe-rook release
  setup/bootstrap/helmfile.yaml
Labels: area/bootstrap

fix(system-upgrade): update Helm chart version to 4.0.1 and adjust service account configuration
  kubernetes/system-upgrade/system-upgrade-controller.yaml
Labels: area/kubernetes

fix(echo-server): update Helm chart version from 3.7.3 to 4.0.1
  kubernetes/default/echo-server/echo-server.yaml
Labels: area/kubernetes

fix(radarr): update Helm chart version from 3.7.3 to 4.0.1
  kubernetes/default/radarr/radarr.yaml
Labels: area/kubernetes

revert
  kubernetes/default/radarr/radarr.yaml
Labels: area/kubernetes

fix(radarr): update Helm chart version from 3.7.3 to 4.0.1
  kubernetes/default/radarr/radarr.yaml
Labels: area/kubernetes

maybe this is required now?
  kubernetes/default/radarr/radarr.yaml
Labels: area/kubernetes

it seems you now need to add 'suffix' for these
  kubernetes/default/radarr/radarr.yaml
Labels: area/kubernetes

fix(sonarr): update Helm chart version from 3.7.3 to 4.0.1 and add suffix to persistence config
  kubernetes/default/sonarr/sonarr.yaml
Labels: area/kubernetes

fix(persistence): add suffix to config for multiple services
  kubernetes/default/audiobookshelf/audiobookshelf.yaml
  kubernetes/default/frigate/frigate.yaml
  kubernetes/default/home-assistant/home-assistant.yaml
  kubernetes/default/jellyseerr/jellyseerr.yaml
  kubernetes/default/node-red/node-red.yaml
  kubernetes/default/plex/plex.yaml
  kubernetes/default/prowlarr/prowlarr.yaml
  kubernetes/default/qbittorrent/qbittorrent.yaml
  kubernetes/default/readarr/readarr.yaml
  kubernetes/default/recyclarr/recyclarr.yaml
  kubernetes/default/sabnzbd/sabnzbd.yaml
  kubernetes/default/tautulli/tautulli.yaml
  kubernetes/default/unifi/unifi.yaml
  kubernetes/default/zwave2mqtt/zwave2mqtt.yaml
Labels: area/kubernetes

feat(crds): add Kustomization resources for various CRDs and Git repositories
  setup/crds/kustomization.yaml
  setup/crds/sources/cloudnative-pg.yaml
  setup/crds/sources/emqx-operator.yaml
  setup/crds/sources/external-secrets.yaml
  setup/crds/sources/external-snapshotter.yaml
  setup/crds/sources/gateway-api.yaml
  setup/crds/sources/node-feature-discovery.yaml
  setup/crds/sources/rook-ceph.yaml
  setup/crds/sources/system-upgrade-controller.yaml
  setup/crds/sources/volsync.yaml
  setup/flux/cluster/cluster.yaml
  setup/flux/cluster/crds-sources.yaml
  setup/flux/repositories/cloudnative-pg-crds.yaml
  setup/flux/repositories/emqx-operator-crds.yaml
  setup/flux/repositories/external-secrets-crds.yaml
  setup/flux/repositories/external-snapshotter-crds.yaml
  setup/flux/repositories/gateway-api-crds.yaml
  setup/flux/repositories/node-feature-discovery-crds.yaml
  setup/flux/repositories/rook-ceph-crds.yaml
  setup/flux/repositories/system-upgrade-controller-crds.yaml
  setup/flux/repositories/volsync-crds.yaml
Labels: none

Refactor code structure for improved readability and maintainability
  .github/renovate.json5
  .github/scripts/update_crds_local.py
  .github/workflows/update-crds.yaml
  setup/crds/kustomization.yaml
  setup/crds/vendor/backube_volsync/volsync.backube_replicationdestinations.yaml
  setup/crds/vendor/backube_volsync/volsync.backube_replicationsources.yaml
  setup/crds/vendor/cloudnative-pg_cloudnative-pg/postgresql.cnpg.io_backups.yaml
  setup/crds/vendor/cloudnative-pg_cloudnative-pg/postgresql.cnpg.io_clusterimagecatalogs.yaml
  setup/crds/vendor/cloudnative-pg_cloudnative-pg/postgresql.cnpg.io_clusters.yaml
  setup/crds/vendor/cloudnative-pg_cloudnative-pg/postgresql.cnpg.io_databases.yaml
  setup/crds/vendor/cloudnative-pg_cloudnative-pg/postgresql.cnpg.io_imagecatalogs.yaml
  setup/crds/vendor/cloudnative-pg_cloudnative-pg/postgresql.cnpg.io_poolers.yaml
  setup/crds/vendor/cloudnative-pg_cloudnative-pg/postgresql.cnpg.io_publications.yaml
  setup/crds/vendor/cloudnative-pg_cloudnative-pg/postgresql.cnpg.io_scheduledbackups.yaml
  setup/crds/vendor/cloudnative-pg_cloudnative-pg/postgresql.cnpg.io_subscriptions.yaml
  setup/crds/vendor/emqx_emqx-operator/crds.yaml
  setup/crds/vendor/external-secrets_external-secrets/bundle.yaml
  setup/crds/vendor/kubernetes-csi_external-snapshotter/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  setup/crds/vendor/kubernetes-csi_external-snapshotter/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  setup/crds/vendor/kubernetes-csi_external-snapshotter/snapshot.storage.k8s.io_volumesnapshots.yaml
  setup/crds/vendor/kubernetes-sigs_gateway-api/experimental-install.yaml
  setup/crds/vendor/kubernetes-sigs_node-feature-discovery/nfd-api-crds.yaml
  setup/crds/vendor/rancher_system-upgrade-controller/crd.yaml
  setup/crds/vendor/rook_rook/crds.yaml
Labels: none

Update .github/scripts/update_crds_local.py
  .github/scripts/update_crds_local.py
Labels: none

fix(renovate): add allowedCommands for local CRD updates
  .github/renovate.json5
Labels: none

fix(workflow): update yq action to a stable version for consistency
  .github/workflows/update-crds.yaml
Labels: none

feat(workflow): add Renovate workflow for automated dependency management
  .github/workflows/renovate.yml
Labels: none

fix(workflow): correct path to renovate.json5 in workflow triggers
  .github/renovate.json5
  .github/workflows/renovate.yml
Labels: none

fix(workflow): add missing paths and permissions for Renovate job
  .github/workflows/renovate.yml
Labels: none

fix(workflow): remove unnecessary permissions for vulnerability alerts
  .github/workflows/renovate.yml
Labels: none

fix(workflow): add permission to read security events for Renovate
  .github/workflows/renovate.yml
Labels: none

fix(workflow): update token generation for Renovate job to use GitHub App token
  .github/workflows/renovate.yml
Labels: none

fix(workflow): remove unnecessary permissions from Renovate job
  .github/workflows/renovate.yml
Labels: none

fix(workflow): reorganize permissions and concurrency settings in Renovate job
  .github/workflows/renovate.yml
Labels: none

fix(workflow): add Python setup step before Renovate execution
  .github/workflows/renovate.yml
Labels: none

fix(workflow): remove persist-credentials option from multiple workflow files
  .github/workflows/flux-local.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yml
  .github/workflows/update-crds.yaml
Labels: none

fix(workflow): remove unnecessary permissions from Renovate job
  .github/workflows/renovate.yml
Labels: none

fix(workflow): update Python command to use python3 in Renovate configuration
  .github/renovate.json5
  .github/workflows/renovate.yml
Labels: none

fix(workflow): add regex manager for updating CRD URLs in Renovate configuration
  .github/renovate.json5
Labels: none

fix(renovate): correct property name from replaceStringTemplate to replaceTemplate
  .github/renovate.json5
Labels: none

fix(renovate): remove obsolete regex manager for CRD URL updates
  .github/renovate.json5
Labels: none

fix(renovate): update regex for dependency matching to include URL prefix and suffix
  .renovate/customManagers.json5
Labels: area/renovate

fix(renovate): update regex for CRD URL annotations to improve matching
  .renovate/customManagers.json5
Labels: area/renovate

fix(renovate): update regex for CRD URL annotations to remove obsolete prefix
  .github/scripts/update_crds_local.py
  .renovate/customManagers.json5
Labels: area/renovate

fix(renovate): remove obsolete 'crd-url' prefix from resource URLs in kustomization.yaml
  setup/crds/kustomization.yaml
Labels: none

fix(renovate): update schedule to run every hour and add issue event handling
  .github/workflows/renovate.yml
Labels: none

fix(renovate): add cache option to workflow inputs and update permissions for cache folder
  .github/workflows/renovate.yml
Labels: none

fix(minecraft): adjust JVM memory settings for creative and survival servers fix(unifi): increase memory limit for Unifi service
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
  kubernetes/default/unifi/unifi.yaml
Labels: area/kubernetes

fix(renovate): remove conditional check for issue events in renovate job
  .github/workflows/renovate.yml
Labels: none

fix(kustomization): update cloudnative-pg CRD URLs to v1.25.2
  setup/crds/kustomization.yaml
Labels: none

chore(kustomization): comment out existing configuration in kustomization.yaml
  kubernetes/monitoring/grafana/dashboards/kustomization.yaml
Labels: area/kubernetes
