Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

remove cache stuff
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/resources/replicationdestination.yaml.j2
Labels: area/taskfile

tweak app settings
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

revert 5gi pvc removal
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

normalize backup schedule more
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

change scheduled backup time
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

cilium has an oci chart ref now
  kubernetes/kube-system/cilium/cilium.yaml
  setup/bootstrap/helmfile.d/01-apps.yaml
Labels: area/bootstrap, area/kubernetes

add shelfmark
  kubernetes/default/shelfmark/externalsecret.yaml
  kubernetes/default/shelfmark/shelfmark.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

test some additional shelfmark dirs
  kubernetes/default/shelfmark/shelfmark.yaml
Labels: area/kubernetes

shelfmark doesn't want to use env vars
  kubernetes/default/shelfmark/externalsecret.yaml
  kubernetes/default/shelfmark/shelfmark.yaml
Labels: area/kubernetes

typo
  kubernetes/default/shelfmark/shelfmark.yaml
Labels: area/kubernetes

refactor(volsync): eliminate hasBackup field from ResourceSets
  kubernetes/kube-system/volsync/README.md
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

dont need to unlock anymore
  .taskfiles/volsync/Taskfile.yaml
Labels: area/taskfile

Removed ':automergeBranch'
  .github/renovate.json5
Labels: none

chore(renovate): add overrides config for Helmfile and Talos handling
  .github/renovate.json5
  .renovate/overrides.json5
Labels: area/renovate

switch to dev shelfmark tag
  kubernetes/default/shelfmark/externalsecret.yaml
  kubernetes/default/shelfmark/shelfmark.yaml
Labels: area/kubernetes

add more env vars
  kubernetes/default/shelfmark/shelfmark.yaml
Labels: area/kubernetes

feat(shelfmark): add Audiobookshelf integration via custom script
  kubernetes/default/shelfmark/externalsecret.yaml
  kubernetes/default/shelfmark/shelfmark.yaml
Labels: area/kubernetes

fix(shelfmark): use identifier instead of name for configMap reference
  kubernetes/default/shelfmark/shelfmark.yaml
Labels: area/kubernetes

feat(qbittorrent): extract hardlinker script to ConfigMap and add secret management
  kubernetes/default/qbittorrent/configmap.yaml
  kubernetes/default/qbittorrent/externalsecret.yaml
  kubernetes/default/qbittorrent/qbittorrent.yaml
Labels: area/kubernetes

fix(shelfmark): add audiobook organize template to prevent file naming collisions
  kubernetes/default/shelfmark/shelfmark.yaml
Labels: area/kubernetes

fix(shelfmark): correct template syntax for parentheses in part numbers
  kubernetes/default/shelfmark/shelfmark.yaml
Labels: area/kubernetes

feat(shelfmark): add cronjob to periodically scan audiobookshelf library
  kubernetes/default/shelfmark/audiobookshelf-scan-cronjob.yaml
Labels: area/kubernetes

Revert "fix(shelfmark): correct template syntax for parentheses in part numbers"
  kubernetes/default/shelfmark/shelfmark.yaml
Labels: area/kubernetes

Revert "feat(shelfmark): add cronjob to periodically scan audiobookshelf library"
  kubernetes/default/shelfmark/audiobookshelf-scan-cronjob.yaml
Labels: area/kubernetes

fix(renovate): change automergeType to branch for scheduled automerges
  .renovate/autoMerge.json5
Labels: area/renovate

fix(readarr): scale deployment to 0 replicas
  kubernetes/default/readarr/readarr.yaml
Labels: area/kubernetes

feat(monitoring): add kubernetes-event-exporter for real-time KEDA scaling notifications
  kubernetes/monitoring/kubernetes-event-exporter/externalsecret.yaml
  kubernetes/monitoring/kubernetes-event-exporter/kubernetes-event-exporter.yaml
  kubernetes/monitoring/kubernetes-event-exporter/servicemonitor.yaml
Labels: area/kubernetes

fix(monitoring): correct configmap name reference for kubernetes-event-exporter
  kubernetes/monitoring/kubernetes-event-exporter/kubernetes-event-exporter.yaml
Labels: area/kubernetes

fix(monitoring): use correct field name (address) for discord webhook in externalsecret
  kubernetes/monitoring/kubernetes-event-exporter/externalsecret.yaml
Labels: area/kubernetes

fix(monitoring): increase maxEventAgeSeconds to 60 for kubernetes-event-exporter to catch events during startup
  kubernetes/monitoring/kubernetes-event-exporter/kubernetes-event-exporter.yaml
Labels: area/kubernetes

debug(monitoring): increase kubernetes-event-exporter log level to debug to troubleshoot webhook delivery
  kubernetes/monitoring/kubernetes-event-exporter/kubernetes-event-exporter.yaml
Labels: area/kubernetes

fix: kubernetes-event-exporter route config and Discord webhook
  kubernetes/monitoring/kubernetes-event-exporter/externalsecret.yaml
  kubernetes/monitoring/kubernetes-event-exporter/kubernetes-event-exporter.yaml
Labels: area/kubernetes

fix: correct YAML indentation for route match conditions
  kubernetes/monitoring/kubernetes-event-exporter/kubernetes-event-exporter.yaml
Labels: area/kubernetes

fix: put receiver inside match conditions per kubernetes-event-exporter docs
  kubernetes/monitoring/kubernetes-event-exporter/kubernetes-event-exporter.yaml
Labels: area/kubernetes

Revert "fix: put receiver inside match conditions per kubernetes-event-exporter docs"
  kubernetes/monitoring/kubernetes-event-exporter/kubernetes-event-exporter.yaml
Labels: area/kubernetes

Revert "fix: correct YAML indentation for route match conditions"
  kubernetes/monitoring/kubernetes-event-exporter/kubernetes-event-exporter.yaml
Labels: area/kubernetes

Revert "fix(monitoring): increase maxEventAgeSeconds to 60 for kubernetes-event-exporter to catch events during startup"
  kubernetes/monitoring/kubernetes-event-exporter/kubernetes-event-exporter.yaml
Labels: area/kubernetes

Revert "fix: kubernetes-event-exporter route config and Discord webhook"
  kubernetes/monitoring/kubernetes-event-exporter/externalsecret.yaml
  kubernetes/monitoring/kubernetes-event-exporter/kubernetes-event-exporter.yaml
Labels: area/kubernetes

Revert "debug(monitoring): increase kubernetes-event-exporter log level to debug to troubleshoot webhook delivery"
  kubernetes/monitoring/kubernetes-event-exporter/kubernetes-event-exporter.yaml
Labels: area/kubernetes

Revert "fix(monitoring): use correct field name (address) for discord webhook in externalsecret"
  kubernetes/monitoring/kubernetes-event-exporter/externalsecret.yaml
Labels: area/kubernetes
