Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

fix(minecraft): update EssentialsX mod URL to version 2.21.0
  kubernetes/default/minecraft/minecraft-lobby.yaml
Labels: area/kubernetes

feat(groups): add node-feature-discovery group configuration
  .renovate/groups.json5
Labels: area/renovate

feat(groups): update node-feature-discovery group configuration to use matchPackagePatterns
  .renovate/groups.json5
Labels: area/renovate

feat(groups): update node-feature-discovery group configuration to include github-releases datasource
  .renovate/groups.json5
Labels: area/renovate

feat(groups): update node-feature-discovery group configuration to include helm and git-tags datasources
  .renovate/groups.json5
Labels: area/renovate

feat(cluster): add configuration for postgres-v17 cluster
  kubernetes/default/cloudnative-pg/cluster/cluster-v17.yaml
Labels: area/kubernetes

fix(service): update cluster selector to postgres-v15
  kubernetes/default/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

fix(cluster): update references from postgres-v15 to postgres-v17
  kubernetes/default/cloudnative-pg/cluster/cluster-v15.yaml
  kubernetes/default/cloudnative-pg/cluster/cluster-v17.yaml
  kubernetes/default/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/default/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

fix(externalsecret): update DATABASE_HOST and INIT_POSTGRES_HOST to postgres-v17
  kubernetes/default/teslamate/externalsecret.yaml
Labels: area/kubernetes

delete(cluster): remove deprecated cluster configuration for postgres-v15
  kubernetes/default/cloudnative-pg/cluster/cluster-v15.yaml
Labels: area/kubernetes

fix(grafana): update database host references from postgres-v15 to postgres-v17
  kubernetes/monitoring/grafana/externalsecret.yaml
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

feat(grafana): add new dashboard configurations for database-info and home-assistant
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

feat(audiobookshelf): remove redundant emptyDir config and add tmpfs mount
  kubernetes/default/audiobookshelf/audiobookshelf.yaml
Labels: area/kubernetes

feat(gateway-api): consolidate gateway-api CRDs into a single installation file
  setup/crds/kustomization.yaml
Labels: none

feat(loki): update storage configuration to use filesystem and remove ObjectBucketClaim
  kubernetes/monitoring/loki/loki.yaml
  kubernetes/monitoring/loki/objectbucketclaim.yaml
Labels: area/kubernetes

feat(groups): add Talos group for package management
  .renovate/groups.json5
Labels: area/renovate

fix(groups): update Talos group package patterns for consistency
  .renovate/groups.json5
Labels: area/renovate

feat(groups): add Emqx group for package management
  .renovate/groups.json5
Labels: area/renovate

fix: update Talos version to v1.9.6 in configuration files
  kubernetes/system-upgrade/kubernetes-plan.yaml
  kubernetes/system-upgrade/talos-plan.yaml
  setup/talos/talconfig.yaml
Labels: area/kubernetes, area/talos

remove k8s-f
  setup/talos/README.md
  setup/talos/talconfig.yaml
Labels: area/talos

may be required for talos 1.10.x
  setup/talos/patches/global/machine-install.yaml
Labels: area/talos

may hel pwith intel CPUs
  setup/talos/talconfig.yaml
Labels: area/talos

may not be needed after al for 1.10.x
  setup/talos/patches/global/machine-install.yaml
Labels: area/talos

fix(talos): add missing selinux kernel argument for 1.10.x compatibility
  setup/talos/patches/global/machine-install.yaml
Labels: area/talos

fix(workflows): update permissions and add persist-credentials flag in YAML files
  .github/workflows/flux-local.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
Labels: none

feat(talos): add reboot-cluster task to reboot nodes sequentially
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

docs: add Copilot chat instructions for k8s-gitops repository
  .github/copilot/chat-instructions.md
Labels: none

docs: add comprehensive Copilot chat instructions for k8s-gitops repository
  .github/chat-instructions.md
Labels: none

feat(grafana): add grafana dashboard for external-secrets
  kubernetes/kube-system/external-secrets/chart/external-secrets.yaml
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

bump proxy pod mem limit
  kubernetes/default/minecraft/minecraft-proxy.yaml
Labels: area/kubernetes

refactor: remove espresense-companion documentation and configuration files
  kubernetes/default/README.md
  kubernetes/default/espresense-companion/espresense-companion.yaml
  kubernetes/default/espresense-companion/externalsecret.yaml
Labels: area/kubernetes

fix: remove unnecessary persist-credentials option from flux-local workflow
  .github/workflows/flux-local.yaml
Labels: none

fix: update code-server configuration paths to use .vscode directory
  kubernetes/default/home-assistant/home-assistant.yaml
Labels: area/kubernetes

fix: reduce persistence size for home-assistant to 30Gi
  kubernetes/default/home-assistant/home-assistant.yaml
Labels: area/kubernetes

fix: reduce cache capacity for home-assistant from 60Gi to 30Gi
  kubernetes/default/home-assistant/volsync.yaml
Labels: area/kubernetes

oops - cant shrink, only expand
  kubernetes/default/home-assistant/home-assistant.yaml
  kubernetes/default/home-assistant/volsync.yaml
Labels: area/kubernetes

prescriptive externalTrafficPolicy:
  kubernetes/default/home-assistant/home-assistant.yaml
  kubernetes/default/plex/plex.yaml
  kubernetes/default/qbittorrent/qbittorrent.yaml
  kubernetes/kube-system/coredns/eviljungle.yaml
  kubernetes/kube-system/nginx/nginx.yaml
  kubernetes/monitoring/influxdb/influxdb.yaml
Labels: area/kubernetes

fix: add user.max_user_namespaces sysctl for improved namespace management
  setup/talos/patches/global/machine-sysctls.yaml
Labels: area/talos

fix: update Helm repository URL to point to bjw-s-labs
  setup/flux/repositories/bjw-s.yaml
Labels: none

fix: update YAML schema references to use FluxCD community schemas
  kubernetes/kube-system/e1000e-fix/e1000e-fix.yaml
  kubernetes/kube-system/external-secrets/1password/1password.yaml
Labels: area/kubernetes
