Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

fix(kei): re-enable metrics, probes, and serviceMonitor for v0.10.1
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(kei): pass --data-dir to login tasks for read-only rootfs compatibility
  .taskfiles/k8s/Taskfile.yaml
Labels: area/taskfile

feat(monitoring): add kei DB-backed asset gauges to Grafana dashboard
  kubernetes/monitoring/grafana/dashboards/kei.json
Labels: area/kubernetes

fix(monitoring): aggregate kei DB gauge queries to handle pod restarts
  kubernetes/monitoring/grafana/dashboards/kei.json
Labels: area/kubernetes

fix(monitoring): remove unreliable kei sync gap panel
  kubernetes/monitoring/grafana/dashboards/kei.json
Labels: area/kubernetes

fix(kei): rename KEI_METRICS_PORT to KEI_HTTP_PORT for v0.11.0
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

increase ceph mon memory limit to 1Gi to prevent OOMKills
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

chore(volsync): stagger backup schedules and increase kopia maintenance frequency
  kubernetes/kube-system/volsync/maintenance-kopiamaintenance.yaml
  kubernetes/kube-system/volsync/prometheusrule.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

monitoring/grafana: convert repo-hosted dashboards to ConfigMaps
  kubernetes/monitoring/grafana/dashboards/grafana-dashboard-kei.yaml
  kubernetes/monitoring/grafana/dashboards/grafana-dashboard-nfs-server.yaml
  kubernetes/monitoring/grafana/dashboards/grafana-dashboard-opnsense.yaml
  kubernetes/monitoring/grafana/dashboards/grafana-dashboard-prometheus-exporter-summary.yaml
  kubernetes/monitoring/grafana/dashboards/grafana-dashboard-ups.yaml
  kubernetes/monitoring/grafana/dashboards/kei.json
  kubernetes/monitoring/grafana/dashboards/nfs_server.json
  kubernetes/monitoring/grafana/dashboards/opnsense.json
  kubernetes/monitoring/grafana/dashboards/prometheus_exporter_summary.json
  kubernetes/monitoring/grafana/dashboards/ups.json
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

monitoring/grafana: remove publicDashboards feature toggle
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

fix(grafana): disable public dashboards to suppress Not Found toast
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

fix(grafana): use correct public_dashboards ini setting to suppress Not Found toast
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

fix(kei): migrate --directory to --download-dir and handle sync_started event in notify.sh
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

feat: add k8s-d worker node (HP laptop, i3-1315U, 64GB RAM)
  kubernetes/kube-system/node-feature-discovery/intel-gpu-raptrlake.yaml
  setup/talos/README.md
  setup/talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix: exclude k8s-d from HostPhysicalComponentTooHot alert
  kubernetes/monitoring/prometheus-rules/node-exporter.yaml
Labels: area/kubernetes

chore(talos): prepare for v1.13 upgrade
  setup/talos/patches/global/machine-files.yaml
  setup/talos/patches/global/machine-oom.yaml
  setup/talos/talconfig.yaml
Labels: area/talos

fix(intel-gpu-resource-driver): update CDI paths to Talos v1.13 defaults
  kubernetes/kube-system/intel-gpu-resource-driver/intel-gpu-resource-driver.yaml
Labels: area/kubernetes

chore(talos): drop machine-network patch, rely on DHCP for DNS
  setup/talos/patches/global/machine-network.yaml
  setup/talos/talconfig.yaml
Labels: area/talos

chore(talos): remove MutatingAdmissionPolicy feature gate and runtime-config for k8s 1.36
  setup/talos/patches/controller/cluster.yaml
Labels: area/talos

talos: enable forwardKubeDNSToHost for pod DNS resolution of cluster member names
  setup/talos/patches/global/machine-dns.yaml
Labels: area/talos

volsync: migrate MutatingAdmissionPolicy from v1beta1 to v1 for k8s 1.36
  kubernetes/kube-system/volsync/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

fix: rollback audiobookshelf 2.34.0 -> 2.33.2 and disable automerge
  .renovate/autoMerge.json5
  kubernetes/default/audiobookshelf/audiobookshelf.yaml
Labels: area/kubernetes, area/renovate

fix(talos): revert forwardKubeDNSToHost to false
  setup/talos/patches/global/machine-dns.yaml
Labels: area/talos

chore: upgrade audiobookshelf to 2.34.0 and re-enable automerge
  .renovate/autoMerge.json5
  kubernetes/default/audiobookshelf/audiobookshelf.yaml
Labels: area/kubernetes, area/renovate

chore(talos): change cluster endpoint to k8s-cp.home and remove stale k8s-f node
  setup/talos/talconfig.yaml
Labels: area/talos

docs: correct k8s-a ceph SSD size from 1TB to 2TB
  setup/talos/README.md
Labels: area/talos

feat: enable HPAScaleToZero feature gate
  setup/talos/patches/controller/cluster.yaml
Labels: area/talos

feat: replace KEDA with native HPA scale-to-zero
  .taskfiles/k8s/Taskfile.yaml
  kubernetes/kube-system/README.md
  kubernetes/kube-system/keda/keda.yaml
  kubernetes/kube-system/keda/resourceset-nfs-scalers.yaml
  kubernetes/kube-system/keda/servicemonitor.yaml
  kubernetes/kube-system/nfs-scalers/resourceset-nfs-scalers.yaml
  kubernetes/monitoring/README.md
  kubernetes/monitoring/prometheus-adapter/prometheus-adapter.yaml
  kubernetes/monitoring/prometheus-rules/keda.yaml
  kubernetes/monitoring/prometheus-rules/nfs-scalers.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
  setup/bootstrap/helmfile.d/00-crds.yaml
Labels: area/bootstrap, area/kubernetes, area/taskfile

feat: replace KEDA with native HPA scale-to-zero (#5560)
  .taskfiles/k8s/Taskfile.yaml
  kubernetes/kube-system/README.md
  kubernetes/kube-system/keda/keda.yaml
  kubernetes/kube-system/keda/resourceset-nfs-scalers.yaml
  kubernetes/kube-system/keda/servicemonitor.yaml
  kubernetes/kube-system/nfs-scalers/resourceset-nfs-scalers.yaml
  kubernetes/monitoring/README.md
  kubernetes/monitoring/prometheus-adapter/prometheus-adapter.yaml
  kubernetes/monitoring/prometheus-rules/keda.yaml
  kubernetes/monitoring/prometheus-rules/nfs-scalers.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
  setup/bootstrap/helmfile.d/00-crds.yaml
Labels: area/bootstrap, area/kubernetes, area/taskfile

fix: remove invalid label selector from nfs-scaler HPAs
  kubernetes/kube-system/nfs-scalers/resourceset-nfs-scalers.yaml
Labels: area/kubernetes

fix: remove invalid label selector from nfs-scaler HPAs
  kubernetes/kube-system/nfs-scalers/resourceset-nfs-scalers.yaml
Labels: area/kubernetes

fix: remove noisy NFSScalersActivated alert
  kubernetes/monitoring/prometheus-rules/nfs-scalers.yaml
Labels: area/kubernetes

talos: retire k8s-i, update k8s-d MAC to Realtek USB-C adapter
  setup/talos/README.md
  setup/talos/talconfig.yaml
Labels: area/talos

feat(kubernetes): bound ephemeral-storage for sabnzbd and qbittorrent
  kubernetes/default/qbittorrent/qbittorrent.yaml
  kubernetes/default/sabnzbd/sabnzbd.yaml
Labels: area/kubernetes

fix(kubernetes): disable vector subchart in victoria-logs
  kubernetes/monitoring/victoria-logs/victoria-logs.yaml
Labels: area/kubernetes

feat(claude): add committed Claude Code config for this repo
  .claude/settings.json
  .gitignore
  AGENTS.md
  CLAUDE.md
Labels: none

docs(claude): refine AGENTS.md with audit fixes and additions
  CLAUDE.md
Labels: none

fix(monitoring): remove github.com from smokeping targets
  kubernetes/monitoring/smokeping-prober/smokeping-prober.yaml
Labels: area/kubernetes

fix(default): mount /tmp emptyDir for kei v0.13 schema migration
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(default): stabilize kei v0.13 — TCP liveness, unfiled silencer, smart folders
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
