Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

add home to searchDomains and remove coredns hack
  kubernetes/kube-system/coredns/coredns.yaml
  setup/talos/patches/global/machine-network.yaml
Labels: area/kubernetes, area/talos

fix(envoy): tune circuit breaker and connection settings for streaming apps
  kubernetes/kube-system/envoy-gateway/policies/backend-traffic-policy.yaml
Labels: area/kubernetes

tweak latency alert rule
  kubernetes/monitoring/prometheus-rules/envoy-gateway.yaml
Labels: area/kubernetes

add helm datasource for intel group
  .renovate/groups.json5
Labels: area/renovate

testing removal of non-used vendored CRD
  setup/crds/vendor/rook_rook/crds.yaml
Labels: none

add specific schedule
  .github/renovate.json5
Labels: none

fix: update BackendTrafficPolicy to use targetSelectors instead of targetRefs
  kubernetes/kube-system/envoy-gateway/policies/backend-traffic-policy.yaml
Labels: area/kubernetes

fix: update EnvoyHighErrorRate alert expression and severity level
  kubernetes/monitoring/prometheus-rules/envoy-gateway.yaml
Labels: area/kubernetes

envoy-gateway tweaks
  kubernetes/kube-system/envoy-gateway/policies/backend-traffic-policy.yaml
  kubernetes/kube-system/envoy-gateway/policies/client-traffic-policy.yaml
  kubernetes/monitoring/prometheus-rules/envoy-gateway.yaml
Labels: area/kubernetes

remove tcpkeepalove
  kubernetes/kube-system/envoy-gateway/policies/backend-traffic-policy.yaml
Labels: area/kubernetes

more envoy tweaks
  kubernetes/kube-system/envoy-gateway/envoy-proxies/envoy-proxy-standard.yaml
  kubernetes/kube-system/envoy-gateway/gateways/gateway-internal.yaml
  kubernetes/kube-system/envoy-gateway/gateways/gateway-public.yaml
  kubernetes/kube-system/envoy-gateway/monitoring/podmonitor-envoy-proxy.yaml
  kubernetes/kube-system/envoy-gateway/monitoring/servicemonitor-envoy-gateway.yaml
Labels: area/kubernetes

Revert "remove tcpkeepalove"
  kubernetes/kube-system/envoy-gateway/policies/backend-traffic-policy.yaml
Labels: area/kubernetes

Revert "more envoy tweaks"
  kubernetes/kube-system/envoy-gateway/envoy-proxies/envoy-proxy-standard.yaml
  kubernetes/kube-system/envoy-gateway/gateways/gateway-internal.yaml
  kubernetes/kube-system/envoy-gateway/gateways/gateway-public.yaml
  kubernetes/kube-system/envoy-gateway/monitoring/podmonitor-envoy-proxy.yaml
  kubernetes/kube-system/envoy-gateway/monitoring/servicemonitor-envoy-gateway.yaml
Labels: area/kubernetes

use specific schedule
  .github/renovate.json5
Labels: none

fix schedule (again)
  .github/renovate.json5
Labels: none

k8s-b can get hot without alerting me
  kubernetes/monitoring/silence-operator/silences.yaml
Labels: area/kubernetes

Revert "fix(container): update image grafana ( 10.3.0 → 10.3.1 ) (#5024)"
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

grafana is in timeout after 12.3.0
  .renovate/autoMerge.json5
Labels: area/renovate

fix annotation
  kubernetes/default/unifi/unifi.yaml
Labels: area/kubernetes

remove schedule - wasn't used anyway
  .github/renovate.json5
Labels: none

adjust some renovate automergre configs
  .renovate/autoMerge.json5
Labels: area/renovate

fix ignoretests
  .renovate/autoMerge.json5
Labels: area/renovate

switch to bookshelf fork
  kubernetes/default/readarr/readarr.yaml
Labels: area/kubernetes

fixup dir permissions
  kubernetes/default/readarr/readarr.yaml
Labels: area/kubernetes

add chown cap
  kubernetes/default/readarr/readarr.yaml
Labels: area/kubernetes

more readarr tweaks
  kubernetes/default/readarr/readarr.yaml
Labels: area/kubernetes

yeet configmap
  kubernetes/default/readarr/readarr.yaml
Labels: area/kubernetes

fix indent
  kubernetes/default/readarr/readarr.yaml
Labels: area/kubernetes

fix uid
  kubernetes/default/readarr/readarr.yaml
Labels: area/kubernetes

experiment with cloudflare proxy
  kubernetes/default/jellyseerr/jellyseerr.yaml
Labels: area/kubernetes

remove test
  kubernetes/default/jellyseerr/jellyseerr.yaml
Labels: area/kubernetes

proxy cloudflare external-dns entries
  kubernetes/kube-system/external-dns/external-dns-cloudflare.yaml
Labels: area/kubernetes

new secret json
  kubernetes/default/home-assistant/externalsecret-gcp-sa.yaml
Labels: area/kubernetes

fix the path
  kubernetes/default/home-assistant/home-assistant.yaml
Labels: area/kubernetes

new key
  kubernetes/default/home-assistant/externalsecret-gcp-sa.yaml
  kubernetes/default/home-assistant/home-assistant.yaml
Labels: area/kubernetes

fix(home-assistant): configure pip to install packages to /venv instead of system site-packages
  kubernetes/default/home-assistant/home-assistant.yaml
Labels: area/kubernetes

fix(home-assistant): mount venv at /config/.venv for proper package installation
  kubernetes/default/home-assistant/home-assistant.yaml
Labels: area/kubernetes

fix(home-assistant): override UV_SYSTEM_PYTHON to enable venv package installation
  kubernetes/default/home-assistant/home-assistant.yaml
Labels: area/kubernetes

fix(home-assistant): add PYTHONUSERBASE to direct package installation path
  kubernetes/default/home-assistant/home-assistant.yaml
Labels: area/kubernetes

fix(home-assistant): add init container to create Python venv
  kubernetes/default/home-assistant/home-assistant.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
