Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

fix(forgejo): pin GOMAXPROCS=1 for flate invocations, fixing a real upstream race
  .forgejo/workflows/flate.yaml
Labels: none

style(forgejo): trim overly verbose comments in flate.yaml
  .forgejo/workflows/flate.yaml
Labels: none

fix(renovate): disable renovate/stability-days status check on Forgejo
  .github/renovate.json5
Labels: none

feat(container): update image ghcr.io/coder/code-server ( 4.133.0 → 4.134.0 )
  kubernetes/default/home-assistant/home-assistant.yaml
Labels: area/kubernetes

fix(forgejo): drop Setup Flate action in renovate-review, pin GOMAXPROCS=1
  .forgejo/workflows/renovate-review.yaml
Labels: none

chore(renovate-operator): restore RenovateJob schedule to every 30 minutes
  kubernetes/default/renovate-operator/renovatejob.yaml
Labels: area/kubernetes

feat(renovate-operator): enable webhook-triggered runs, in-cluster delivery
  kubernetes/default/renovate-operator/helmrelease.yaml
  kubernetes/default/renovate-operator/renovatejob.yaml
Labels: area/kubernetes

fix(forgejo): allowlist in-cluster webhook targets in default namespace
  kubernetes/default/forgejo/forgejo.yaml
Labels: area/kubernetes

ci(github-action): update action anthropics/claude-code-action ( v1.0.199 → v1.0.202 )
  .github/workflows/renovate-review.yaml
Labels: none

fix(forgejo): disable Go async preemption to stop flate's SIGSEGV for real
  .forgejo/workflows/flate.yaml
  .forgejo/workflows/renovate-review.yaml
Labels: none

fix(forgejo): retry flate on SIGSEGV instead of chasing the root cause further
  .forgejo/workflows/flate.yaml
  .forgejo/workflows/renovate-review.yaml
  .github/scripts/append-flate-evidence.sh
Labels: none

fix(forgejo): remove GOMAXPROCS=1, it was causing flate's SIGSEGV not fixing it
  .forgejo/workflows/flate.yaml
  .forgejo/workflows/renovate-review.yaml
  .github/scripts/append-flate-evidence.sh
Labels: none

chore(forgejo): drop the now-unnecessary flate retry, back to plain invocations
  .forgejo/workflows/flate.yaml
  .forgejo/workflows/renovate-review.yaml
  .github/scripts/append-flate-evidence.sh
Labels: none

fix(container): update image ghcr.io/home-operations/sonarr ( 4.0.19.3001 → 4.0.19.3006 )
  kubernetes/default/sonarr/sonarr.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/kopiur ( 0.10.3 → 0.10.4 )
  kubernetes/kube-system/kopiur/kopiur.yaml
  setup/bootstrap/helmfile.d/00-crds.yaml
Labels: area/bootstrap, area/kubernetes

fix(forgejo): disable service-link env injection in job pods
  kubernetes/default/forgejo/runner.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/sabnzbd ( 5.1.1 → 5.1.2 )
  kubernetes/default/sabnzbd/sabnzbd.yaml
Labels: area/kubernetes

fix(forgejo): post renovate-review approvals as a collaborator, not the actions bot
  .forgejo/scripts/forgejo-api.sh
  .forgejo/scripts/report-claude-usage.sh
  .forgejo/workflows/renovate-review.yaml
Labels: none

fix(container): update image ghcr.io/home-operations/sonarr ( 4.0.19.3006 → 4.0.19.3007 )
  kubernetes/default/sonarr/sonarr.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/tautulli ( 2.17.2 → 2.18.0 )
  kubernetes/default/tautulli/tautulli.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/renovatebot/renovate ( 44.41.1 → 44.45.3 )
  kubernetes/default/renovate-operator/renovatejob.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/renovatebot/renovate ( 44.45.3 → 44.46.1 )
  kubernetes/default/renovate-operator/renovatejob.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/renovatebot/renovate ( 44.46.1 → 44.46.4 )
  kubernetes/default/renovate-operator/renovatejob.yaml
Labels: area/kubernetes

feat(talos): add topf.yaml and patch tree for topf migration
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  setup/talos/.gitignore
  setup/talos/secrets.yaml.tpl
  setup/talos/topf-patches/all/cluster-network.yaml
  setup/talos/topf-patches/all/hostname.yaml.tpl
  setup/talos/topf-patches/all/machine-dns.yaml
  setup/talos/topf-patches/all/machine-files.yaml
  setup/talos/topf-patches/all/machine-install.yaml
  setup/talos/topf-patches/all/machine-kubelet.yaml
  setup/talos/topf-patches/all/machine-sysctls.yaml
  setup/talos/topf-patches/all/machine-udev.yaml
  setup/talos/topf-patches/control-plane/admission-controller-patch.yaml
  setup/talos/topf-patches/control-plane/cert-sans.yaml
  setup/talos/topf-patches/control-plane/cluster.yaml
  setup/talos/topf-patches/control-plane/machine-features.yaml
  setup/talos/topf-patches/node/k8s-a/install-disk.yaml
  setup/talos/topf-patches/node/k8s-a/network-interface.yaml
  setup/talos/topf-patches/node/k8s-b/ethernet-config.yaml
  setup/talos/topf-patches/node/k8s-b/install-disk.yaml
  setup/talos/topf-patches/node/k8s-b/network-interface.yaml
  setup/talos/topf-patches/node/k8s-c/install-disk.yaml
  setup/talos/topf-patches/node/k8s-c/network-interface.yaml
  setup/talos/topf-patches/node/k8s-cp/install-disk.yaml
  setup/talos/topf-patches/node/k8s-cp/network-interface.yaml
  setup/talos/topf-patches/node/k8s-d/install-disk.yaml
  setup/talos/topf-patches/node/k8s-d/network-interface.yaml
  setup/talos/topf-patches/node/k8s-e/install-disk.yaml
  setup/talos/topf-patches/node/k8s-e/network-interface.yaml
  setup/talos/topf-patches/node/k8s-g/install-disk.yaml
  setup/talos/topf-patches/node/k8s-g/network-interface.yaml
  setup/talos/topf-patches/node/k8s-h/install-disk.yaml
  setup/talos/topf-patches/node/k8s-h/network-interface.yaml
  setup/talos/topf-patches/schematics/control-plane.yaml
  setup/talos/topf-patches/schematics/k8s-a.yaml
  setup/talos/topf-patches/schematics/worker.yaml
  setup/talos/topf.yaml
Labels: area/talos, area/taskfile

chore(talos): remove talhelper files and rewire docs for topf
  .taskfiles/talos/Taskfile.yaml
  setup/README.md
  setup/talos/.gitignore
  setup/talos/README.md
  setup/talos/clusterconfig/.gitignore
  setup/talos/patches/controller/admission-controller-patch.yaml
  setup/talos/patches/controller/cluster.yaml
  setup/talos/patches/controller/machine-features.yaml
  setup/talos/patches/global/machine-dns.yaml
  setup/talos/patches/global/machine-files.yaml
  setup/talos/patches/global/machine-install.yaml
  setup/talos/patches/global/machine-kubelet.yaml
  setup/talos/patches/global/machine-sysctls.yaml
  setup/talos/patches/global/machine-udev.yaml
  setup/talos/secrets.env
  setup/talos/talconfig.yaml
  setup/talos/talsecret.yaml
Labels: area/talos, area/taskfile
