Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

add intel-gpu-resource-driver
  kubernetes/kube-system/intel-gpu-resource-driver/intel-gpu-resource-driver.yaml
  setup/talos/patches/global/machine-files.yaml
Labels: area/kubernetes, area/talos

remove intel-gpu-plugin
  kubernetes/kube-system/intel-device-plugins/gpu-plugin.yaml
  kubernetes/kube-system/intel-device-plugins/operator.yaml
Labels: area/kubernetes

switch to intel GPU via DRA
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

remove old nodeselector
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

migrate frigate to intel GPU thing
  kubernetes/default/frigate/frigate.yaml
Labels: area/kubernetes

add generic-device-plugin
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
Labels: area/kubernetes

run in kube-system
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
Labels: area/kubernetes

switch frigate to generic-device-plugin
  kubernetes/default/frigate/frigate.yaml
Labels: area/kubernetes

fix coral resourcelcaim
  kubernetes/default/frigate/frigate.yaml
Labels: area/kubernetes

use domain name
  kubernetes/default/frigate/frigate.yaml
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
Labels: area/kubernetes

fix: revert frigate device plugin approach, use pod security exemptions instead
  kubernetes/default/frigate/frigate.yaml
  kubernetes/default/namespace.yaml
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
Labels: area/kubernetes

fix(frigate): remove invalid defaultPodOptions from values
  kubernetes/default/frigate/frigate.yaml
Labels: area/kubernetes

restore: generic-device-plugin HelmRelease configuration
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
Labels: area/kubernetes

remove domain
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
Labels: area/kubernetes

add more devices
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
Labels: area/kubernetes

fix sha256
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
Labels: area/kubernetes

fix admissionControl patch
  setup/talos/patches/controller/admission-controller-patch.yaml
Labels: area/talos

dont prune namespace
  kubernetes/default/namespace.yaml
Labels: area/kubernetes

fixup gdp
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
Labels: area/kubernetes

try using new gdp for frigate
  kubernetes/default/frigate/frigate.yaml
Labels: area/kubernetes

add path for alarmdecoder
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
Labels: area/kubernetes

no path for coral
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
Labels: area/kubernetes

assign device ID for coral
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
Labels: area/kubernetes

use only vendor for coral
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
Labels: area/kubernetes

more coral changes
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
Labels: area/kubernetes

more coral tweaks
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
Labels: area/kubernetes

drop securitycontext from gdp
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
Labels: area/kubernetes

finalize frigate transition to gdp
  kubernetes/default/frigate/frigate.yaml
Labels: area/kubernetes

convert zwave and ser2sock to gdp
  kubernetes/default/ser2sock/ser2sock.yaml
  kubernetes/default/zwave2mqtt/zwave2mqtt.yaml
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
Labels: area/kubernetes

use specific zwave device thing
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
Labels: area/kubernetes

replace NFD with GDP
  kubernetes/default/ser2sock/ser2sock.yaml
  kubernetes/default/zwave2mqtt/zwave2mqtt.yaml
  kubernetes/kube-system/README.md
  kubernetes/kube-system/node-feature-discovery/alarmdecoder-device.yaml
  kubernetes/kube-system/node-feature-discovery/coral-device.yaml
  kubernetes/kube-system/node-feature-discovery/node-feature-discovery.yaml
  kubernetes/kube-system/node-feature-discovery/zwave-device.yaml
Labels: area/kubernetes

restore NFD for descheduler to work
  kubernetes/default/frigate/frigate.yaml
  kubernetes/default/ser2sock/ser2sock.yaml
  kubernetes/default/zwave2mqtt/zwave2mqtt.yaml
  kubernetes/kube-system/README.md
  kubernetes/kube-system/descheduler/descheduler.yaml
  kubernetes/kube-system/node-feature-discovery/alarmdecoder-device.yaml
  kubernetes/kube-system/node-feature-discovery/coral-device.yaml
  kubernetes/kube-system/node-feature-discovery/node-feature-discovery.yaml
  kubernetes/kube-system/node-feature-discovery/zwave-device.yaml
Labels: area/kubernetes

use correct selector item
  kubernetes/default/frigate/frigate.yaml
Labels: area/kubernetes

dont prune cluster-apps for now
  setup/flux/cluster/cluster.yaml
Labels: none

remove old namespace file
  kubernetes/default/namespace.yaml
  setup/bootstrap/templates/resources.yaml.j2
Labels: area/bootstrap, area/kubernetes

re-prune
  setup/flux/cluster/cluster.yaml
Labels: none

no longer use the ./setup/crds dir
  setup/flux/cluster/cluster.yaml
Labels: none

yeet setup/crds
  setup/README.md
  setup/crds/kustomization.yaml
  setup/crds/vendor/rook_rook/crds.yaml
Labels: none

start migration to OCI charts
  kubernetes/default/audiobookshelf/audiobookshelf.yaml
  setup/flux/repositories/app-template.yaml
Labels: area/kubernetes

refactor: adopt app-template chartRef for all HelmReleases
  kubernetes/default/echo-server/echo-server.yaml
  kubernetes/default/frigate/frigate.yaml
  kubernetes/default/home-assistant/home-assistant.yaml
  kubernetes/default/jellyseerr/jellyseerr.yaml
  kubernetes/default/node-red/node-red.yaml
  kubernetes/default/plex/plex.yaml
  kubernetes/default/prowlarr/prowlarr.yaml
  kubernetes/default/qbittorrent/qbittorrent.yaml
  kubernetes/default/radarr/radarr.yaml
  kubernetes/default/readarr/readarr.yaml
  kubernetes/default/recyclarr/recyclarr.yaml
  kubernetes/default/sabnzbd/sabnzbd.yaml
  kubernetes/default/ser2sock/ser2sock.yaml
  kubernetes/default/sonarr/sonarr.yaml
  kubernetes/default/tautulli/tautulli.yaml
  kubernetes/default/teslamate/teslamate.yaml
  kubernetes/default/unifi/unifi.yaml
  kubernetes/default/zwave2mqtt/zwave2mqtt.yaml
  kubernetes/kube-system/envoy-gateway/error-pages/error-pages.yaml
  kubernetes/kube-system/external-secrets/1password/1password.yaml
  kubernetes/kube-system/generic-device-plugin/generic-device-plugin.yaml
  kubernetes/monitoring/speedtest-exporter/speedtest-exporter.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
