Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

feat: Add ResourceSets for NFS scalers and VolSync backups (POC) (#5112)
  kubernetes/default/audiobookshelf/scaledobject.yaml
  kubernetes/default/audiobookshelf/volsync.yml
  kubernetes/default/frigate/scaledobject.yaml
  kubernetes/default/frigate/volsync.yaml
  kubernetes/default/home-assistant/volsync.yaml
  kubernetes/default/icloudpd/scaledobject.yaml
  kubernetes/default/jellyseerr/volsync.yaml
  kubernetes/default/minecraft/minecraft-creative.yaml
  kubernetes/default/minecraft/minecraft-lobby.yaml
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
  kubernetes/default/node-red/volsync.yaml
  kubernetes/default/plex/scaledobject.yaml
  kubernetes/default/plex/volsync.yaml
  kubernetes/default/prowlarr/volsync.yaml
  kubernetes/default/qbittorrent/scaledobject.yaml
  kubernetes/default/qbittorrent/volsync.yaml
  kubernetes/default/qui/scaledobject.yaml
  kubernetes/default/qui/volsync.yaml
  kubernetes/default/radarr/scaledobject.yaml
  kubernetes/default/radarr/volsync.yaml
  kubernetes/default/readarr/scaledobject.yaml
  kubernetes/default/readarr/volsync.yaml
  kubernetes/default/recyclarr/volsync.yaml
  kubernetes/default/sabnzbd/scaledobject.yaml
  kubernetes/default/sabnzbd/volsync.yaml
  kubernetes/default/sonarr/scaledobject.yaml
  kubernetes/default/sonarr/volsync.yaml
  kubernetes/default/tautulli/volsync.yaml
  kubernetes/default/unifi/volsync.yaml
  kubernetes/default/zwave2mqtt/volsync.yaml
  kubernetes/kube-system/keda/resourceset-nfs-scalers.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes

fix extensions
  kubernetes/default/frigate/frigate-configmap.yaml
  kubernetes/default/recyclarr/recyclarr-configmap.yaml
Labels: area/kubernetes

Re-add grahams to auto-merge configuration.
  .renovate/autoMerge.json5
Labels: area/renovate

Revert "Re-add grahams to auto-merge configuration."
  .renovate/autoMerge.json5
Labels: area/renovate

feat(renovate): re-add grafana to auto-merge configuration
  .renovate/autoMerge.json5
Labels: area/renovate

feat(volsync): migrate from Restic to Kopia with NFS backend
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/resources/list-snapshots.yaml.j2
  .taskfiles/volsync/resources/replicationdestination.yaml.j2
  kubernetes/kube-system/volsync/kopia/externalsecret.yaml
  kubernetes/kube-system/volsync/kopia/kopia.yaml
  kubernetes/kube-system/volsync/mutatingadmissionpolicy.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
  kubernetes/kube-system/volsync/volsync.yaml
Labels: area/kubernetes, area/taskfile

fix(kopia): use OCIRepository chartRef instead of HelmRepository sourceRef
  kubernetes/kube-system/volsync/kopia/kopia.yaml
Labels: area/kubernetes

fix(kopia): move to standalone directory and apply repository standards
  kubernetes/kube-system/kopia/externalsecret.yaml
  kubernetes/kube-system/kopia/kopia.yaml
Labels: area/kubernetes

remove un-necessary lines
  kubernetes/kube-system/kopia/kopia.yaml
Labels: area/kubernetes

update mutating stuff
  kubernetes/kube-system/volsync/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

update prom rules
  kubernetes/kube-system/volsync/prometheusrule.yaml
Labels: area/kubernetes

fixup references to fork
  kubernetes/kube-system/volsync/volsync.yaml
Labels: area/kubernetes

added default accessMode
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes

feat(volsync): add kopia repository maintenance with 10Gi cache
  kubernetes/kube-system/volsync/maintenance-externalsecret.yaml
  kubernetes/kube-system/volsync/maintenance-kopiamaintenance.yaml
  kubernetes/kube-system/volsync/maintenance-mutatingadmissionpolicy.yaml
  kubernetes/kube-system/volsync/prometheusrule.yaml
Labels: area/kubernetes

feat(volsync): update tooling for perfectra1n fork compatibility
  .taskfiles/volsync/resources/list-snapshots.yaml.j2
  setup/bootstrap/helmfile.d/00-crds.yaml
Labels: area/bootstrap, area/taskfile

feat(volsync): migrate from Restic to Kopia with NFS backend using ResourceSet (#5119)
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/resources/list-snapshots.yaml.j2
  .taskfiles/volsync/resources/replicationdestination.yaml.j2
  kubernetes/kube-system/kopia/externalsecret.yaml
  kubernetes/kube-system/kopia/kopia.yaml
  kubernetes/kube-system/volsync/maintenance-externalsecret.yaml
  kubernetes/kube-system/volsync/maintenance-kopiamaintenance.yaml
  kubernetes/kube-system/volsync/maintenance-mutatingadmissionpolicy.yaml
  kubernetes/kube-system/volsync/mutatingadmissionpolicy.yaml
  kubernetes/kube-system/volsync/prometheusrule.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
  kubernetes/kube-system/volsync/volsync.yaml
  setup/bootstrap/helmfile.d/00-crds.yaml
Labels: area/bootstrap, area/kubernetes, area/taskfile

fix(volsync): use v1beta1 API for MutatingAdmissionPolicy
  kubernetes/kube-system/volsync/maintenance-mutatingadmissionpolicy.yaml
Labels: area/kubernetes

fix(volsync): convert maintenance MutatingAdmissionPolicy to JSONPatch
  kubernetes/kube-system/volsync/maintenance-mutatingadmissionpolicy.yaml
Labels: area/kubernetes

fix(volsync): update maintenance ExternalSecret to v1 API
  kubernetes/kube-system/volsync/maintenance-externalsecret.yaml
Labels: area/kubernetes

fix(volsync): update KopiaMaintenance spec to match CRD schema
  kubernetes/kube-system/volsync/maintenance-kopiamaintenance.yaml
Labels: area/kubernetes

fix(kopia): use integer port in HTTPRoute backendRef
  kubernetes/kube-system/kopia/kopia.yaml
Labels: area/kubernetes

fix(kopia): correct tmpfs mount paths to avoid shadowing config
  kubernetes/kube-system/kopia/kopia.yaml
Labels: area/kubernetes

fix(volsync): correct field name in maintenance ExternalSecret template
  kubernetes/kube-system/volsync/maintenance-externalsecret.yaml
Labels: area/kubernetes

fix(volsync): remove invalid Kopia fields from ResourceSet
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes

fix(kopia): remove hostname/username restrictions from web UI config
  kubernetes/kube-system/kopia/kopia.yaml
Labels: area/kubernetes

Revert "fix(kopia): remove hostname/username restrictions from web UI config"
  kubernetes/kube-system/kopia/kopia.yaml
Labels: area/kubernetes

fix(kopia): remove hostname/username to show all snapshots by default
  kubernetes/kube-system/kopia/kopia.yaml
Labels: area/kubernetes

Revert "fix(kopia): remove hostname/username to show all snapshots by default"
  kubernetes/kube-system/kopia/kopia.yaml
Labels: area/kubernetes

refactor(volsync): fix list task and add persistent cache to kopia UI
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/resources/list-snapshots.yaml.j2
  kubernetes/kube-system/kopia/kopia.yaml
Labels: area/kubernetes, area/taskfile

revert(kopia): remove persistent cache as it doesn't solve UI refresh issue
  kubernetes/kube-system/kopia/kopia.yaml
Labels: area/kubernetes

feat(volsync): enable exact point-in-time restores with enableFileDeletion
  .taskfiles/volsync/resources/replicationdestination.yaml.j2
Labels: area/taskfile

feat(volsync): improve restore with dynamic cache sizing and cleanup
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/resources/replicationdestination.yaml.j2
Labels: area/taskfile

feat: add ResourceSet for migrated PVCs with bootstrap capability
  kubernetes/kube-system/volsync/resourceset-migrated-pvcs.yaml
Labels: area/kubernetes

feat: migrate 7 apps to ResourceSet-managed PVCs with existingClaim
  kubernetes/default/prowlarr/prowlarr.yaml
  kubernetes/default/qui/qui.yaml
  kubernetes/default/radarr/radarr.yaml
  kubernetes/default/readarr/readarr.yaml
  kubernetes/default/recyclarr/recyclarr.yaml
  kubernetes/default/sonarr/sonarr.yaml
  kubernetes/default/tautulli/tautulli.yaml
Labels: area/kubernetes

fix(volsync): apply IfNotPresent SSA only to ReplicationDestinations
  kubernetes/kube-system/volsync/resourceset-migrated-pvcs.yaml
Labels: area/kubernetes

refactor: rename ResourceSet from volsync-migrated-pvcs to volsync-pvcs
  kubernetes/default/volsync-test-app/MIGRATION-FLOW.md
  kubernetes/default/volsync-test-app/MIGRATION-TEST-PLAN.md
  kubernetes/default/volsync-test-app/QUICK-START.md
  kubernetes/default/volsync-test-app/README.md
  kubernetes/default/volsync-test-app/volsync-test-app.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

chore: remove accidentally committed volsync-test-app test files
  kubernetes/default/volsync-test-app/MIGRATION-FLOW.md
  kubernetes/default/volsync-test-app/MIGRATION-TEST-PLAN.md
  kubernetes/default/volsync-test-app/QUICK-START.md
  kubernetes/default/volsync-test-app/README.md
  kubernetes/default/volsync-test-app/volsync-test-app.yaml
Labels: area/kubernetes

feat: migrate jellyseerr PVC to ResourceSet management
  kubernetes/default/jellyseerr/jellyseerr.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

fix: correct jellyseerr UID to 1001 in resourceset-pvcs
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes

fix: correct sonarr UID to 1001 in resourceset-pvcs
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
Labels: area/kubernetes
