Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

fix(kei): limit sync to recent 30d window to restore fast incremental cycles
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(kei): scope sync to primary library only to restore fast incremental cycles
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

feat(renovate): add 5-day cooldown for Talos upgrade PRs
  .renovate/overrides.json5
Labels: area/renovate

docs(claude): document MCP servers and allowlist read-only tools
  .claude/settings.json
  CLAUDE.md
Labels: none

feat(kei): re-enable all libraries + add metadata writes now that bug #498 is fixed in 0.20.1
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

feat(ci): add flate workflow alongside flux-local for trial comparison
  .github/workflows/flate.yaml
Labels: none

fix(ci): remove unsupported --output flag from flate diff
  .github/workflows/flate.yaml
Labels: none

fix(ci): add --allow-missing-secrets and guard EOF on flate failure
  .github/workflows/flate.yaml
Labels: none

fix(ci): skip webhook kinds in flate diff to suppress cert generation noise
  .github/workflows/flate.yaml
Labels: none

perf(ci): collapse flate matrix to single job with diff all
  .github/workflows/flate.yaml
Labels: none

fix(kei): raise KeiSyncFailing threshold while kei #507 is pending
  kubernetes/default/kei/prometheusrule.yaml
Labels: area/kubernetes

feat(mqtt): cut over from emqx to mosquitto (phase 1)
  kubernetes/default/emqx/cluster.yaml
  kubernetes/default/emqx/externalsecret.yaml
  kubernetes/default/emqx/poddisruptionbudget.yaml
  kubernetes/default/emqx/route.yaml
  kubernetes/default/emqx/servicemonitor.yaml
  kubernetes/default/frigate/frigate-configmap.yaml
  kubernetes/default/mosquitto/mosquitto.yaml
  kubernetes/default/teslamate/teslamate.yaml
Labels: area/kubernetes

fix(zwave2mqtt): set fsGroup 1000 so store PVC is writable
  kubernetes/default/zwave2mqtt/zwave2mqtt.yaml
Labels: area/kubernetes

feat(mqtt): remove emqx operator and HelmRepository (phase 2)
  kubernetes/default/emqx/emqx-operator.yaml
  setup/flux/repositories/emqx-charts.yaml
Labels: area/kubernetes

fix(kei): exclude 3 mislabeled files to unblock sync token advancement
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

chore: remove remaining emqx references from docs and bootstrap
  CLAUDE.md
  kubernetes/default/README.md
  setup/bootstrap/helmfile.d/00-crds.yaml
Labels: area/bootstrap, area/kubernetes

revert(kei): drop interim workarounds now that upstream #508 fixed #507
  kubernetes/default/kei/kei.yaml
  kubernetes/default/kei/prometheusrule.yaml
Labels: area/kubernetes

feat(kei): re-enable all albums now that 0.20.4 is stable
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

revert(kei): disable album downloads -- DR backup does not need per-album copies
  kubernetes/default/kei/kei.yaml
Labels: area/kubernetes

fix(ci): rewrite flate comment posting to avoid E2BIG on large diffs
  .github/workflows/flate.yaml
Labels: none

ci(flate): post PR comments as skibidi-renovate bot
  .github/workflows/flate.yaml
Labels: none

fix(ci): truncate oversized flate diffs inline instead of dropping them
  .github/workflows/flate.yaml
Labels: none

revert(ci): remove flate workflow, keep flux-local
  .github/workflows/flate.yaml
Labels: none

feat(ci): add Claude auto-review workflow for Renovate PRs
  .github/workflows/renovate-review.yaml
Labels: none

feat(ci): enhance Renovate PR review workflow
  .github/workflows/renovate-review.yaml
Labels: none

feat(ci): gate Renovate auto-merge on Claude review verdict
  .github/workflows/renovate-review.yaml
Labels: none

chore(renovate): reduce Talos minimumReleaseAge from 5 days to 3 days
  .renovate/overrides.json5
Labels: area/renovate

fix(ci): use webhook user.login for Renovate author check
  .github/workflows/renovate-review.yaml
Labels: none

fix(ci): review all Renovate PRs, not just auto-merge ones
  .github/workflows/renovate-review.yaml
Labels: none

fix(ci): expand allowed tools and enable full output for Claude review
  .github/workflows/renovate-review.yaml
Labels: none

fix(ci): fix Log usage step failing the workflow
  .github/workflows/renovate-review.yaml
Labels: none

fix(ci): disable bash -e in Log usage step to prevent silent abort
  .github/workflows/renovate-review.yaml
Labels: none

fix(ci): use grep instead of jq slurp to parse execution file
  .github/workflows/renovate-review.yaml
Labels: none

fix(ci): use jq streaming to extract result record from execution file
  .github/workflows/renovate-review.yaml
Labels: none

chore(ci): replace broken Log usage step with simple model log
  .github/workflows/renovate-review.yaml
Labels: none

fix(ci): restore token/cost reporting and raise max-turns for renovate review
  .github/scripts/report-claude-usage.sh
  .github/scripts/testdata/exec-result.json
  .github/workflows/renovate-review.yaml
Labels: none

fix(container): repoint continuwuity image to GHCR mirror
  kubernetes/default/continuwuity/continuwuity.yaml
Labels: area/kubernetes

fix(ci): amend usage into Claude review and tier review depth
  .github/scripts/report-claude-usage.sh
  .github/workflows/renovate-review.yaml
Labels: none

fix(ci): post usage table as claude[bot] sticky comment instead of review PUT
  .github/scripts/report-claude-usage.sh
  .github/workflows/renovate-review.yaml
Labels: none

fix(ci): surface gh api errors in Log usage step for diagnosis
  .github/scripts/report-claude-usage.sh
Labels: none

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
