Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

feat(ingress): remove server snippet annotation for Range header in Plex ingress
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

feat(ingress): add backend protocol annotation for HTTPS in Plex ingress
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

feat(ingress): add app-root annotation and backend protocol for HTTPS in Plex ingress
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

feat(ingress): remove app-root and backend protocol annotations from Plex ingress
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

feat(ingress): add extended timeouts and rewrite rule for Plex streaming
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

feat(ingress): remove Exact path type and service identifier for Plex web path
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

feat(ingress): remove rewrite rule for Plex web interface
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

fix(helmfile): change apply to sync for better resource management
  .taskfiles/k8s-bootstrap/Taskfile.yaml
Labels: area/taskfile

feat(crds): add CustomResourceDefinition for silence-operator
  setup/crds/kustomization.yaml
  setup/crds/vendor/giantswarm_silence-operator/monitoring.giantswarm.io_silences.yaml
Labels: none

feat(helm): add HelmRepository configuration for giantswarm charts
  setup/flux/repositories/giantswarm.yaml
Labels: none

feat(silence-operator): add HelmRelease and Silence resources for monitoring
  kubernetes/monitoring/silence-operator/silence-operator.yaml
  kubernetes/monitoring/silence-operator/silences.yaml
Labels: area/kubernetes

fix(victoria-metrics): update alert routing to remove unnecessary alert names
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

feat(silence-operator): add additional Silence resources for monitoring alerts
  kubernetes/monitoring/silence-operator/silences.yaml
Labels: area/kubernetes

fix(silence-operator): update HelmRepository name to giantswarm-charts
  kubernetes/monitoring/silence-operator/silence-operator.yaml
Labels: area/kubernetes

feat(silence-operator): add Silence resource for NodeMemoryHighUtilization alert
  kubernetes/monitoring/silence-operator/silences.yaml
Labels: area/kubernetes

refactor(system-upgrade): reorganize service account configuration and raw resources
  kubernetes/system-upgrade/system-upgrade-controller.yaml
Labels: area/kubernetes

feat(kubernetes): add HelmRelease for prometheus-operator-crds and HelmRepository for prometheus-charts
  kubernetes/monitoring/prometheus-operator-crds/prometheus-operator-crds.yaml
  setup/flux/repositories/prometheus-charts.yaml
Labels: area/kubernetes

feat(silence): add new Silence configuration for Ceph PG imbalance alert
  kubernetes/monitoring/silence-operator/silences.yaml
Labels: area/kubernetes

feat(alerts): add Discord notification configuration for alertmanager
  kubernetes/monitoring/victoria-metrics/externalsecret.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(externalsecret): correct DISCORD_WEBHOOK_URL reference in configuration
  kubernetes/monitoring/victoria-metrics/externalsecret.yaml
Labels: area/kubernetes

fix(victoria-metrics):
  kubernetes/monitoring/victoria-metrics/externalsecret.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

refactor(alertmanager): simplify alert notification formatting and remove commented code
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

refactor(victoria-metrics): remove timeline section from alert notification formatting
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(qbittorrent): simplify globalMounts configuration in HelmRelease
  kubernetes/default/qbittorrent/qbittorrent.yaml
Labels: area/kubernetes

Add Ethernet configuration manifests for i40e and e1000e interfaces
  setup/talos/manifests/e1000e.yaml
  setup/talos/manifests/i40e.yaml
  setup/talos/talconfig.yaml
Labels: area/talos

Fix formatting in Ethernet configuration manifests for i40e and e1000e interfaces
  setup/talos/manifests/e1000e.yaml
  setup/talos/manifests/i40e.yaml
Labels: area/talos

Add Ethernet configuration manifests for e1000e interfaces and update talconfig to reference new files
  setup/talos/manifests/e1000e-eno1.yaml
  setup/talos/manifests/e1000e-enp1s0.yaml
  setup/talos/manifests/i40e.yaml
  setup/talos/talconfig.yaml
Labels: area/talos

Remove e1000e-fix HelmRelease configuration from kube-system
  kubernetes/kube-system/e1000e-fix/e1000e-fix.yaml
Labels: area/kubernetes

Refactor HelmRelease configuration by cleaning up commented options for new cluster deployment
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

fix(minecraft): add FreezeHibernate plugin to mod list
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(minecraft): add DiscordSRV plugin to mod list and comment out discordsrv entry
  kubernetes/default/minecraft/minecraft-survival2.yaml
Labels: area/kubernetes

fix(groups): update matchDatasources for System Upgrade Controller group
  .renovate/groups.json5
Labels: area/renovate

feat(groups): add Silence Operator group for package management
  .renovate/groups.json5
Labels: area/renovate

new location of the file
  setup/crds/kustomization.yaml
Labels: none

Update vendored CRDs based on kustomization.yaml changes
  setup/crds/vendor/giantswarm_silence-operator/monitoring.giantswarm.io_silences.yaml
Labels: none

feat: implement dual-provider external-dns automation
  kubernetes/default/audiobookshelf/audiobookshelf.yaml
  kubernetes/default/echo-server/echo-server.yaml
  kubernetes/default/home-assistant/home-assistant.yaml
  kubernetes/default/jellyseerr/jellyseerr.yaml
  kubernetes/default/minecraft/minecraft-proxy.yaml
  kubernetes/default/plex/plex.yaml
  kubernetes/flux-system/receiver.yaml/ingress.yaml
  kubernetes/kube-system/README.md
  kubernetes/kube-system/coredns/eviljungle.yaml
  kubernetes/kube-system/external-dns/README.md
  kubernetes/kube-system/external-dns/cloudflare-credentials.yaml
  kubernetes/kube-system/external-dns/external-dns-cloudflare.yaml
  kubernetes/kube-system/external-dns/external-dns-opnsense.yaml
  kubernetes/kube-system/external-dns/opnsense-credentials.yaml
  setup/flux/repositories/external-dns.yaml
Labels: area/kubernetes

refactor(minecraft-proxy): reorganize configuration structure for clarity
  kubernetes/default/minecraft/minecraft-proxy.yaml
Labels: area/kubernetes

fix indenting
  kubernetes/default/minecraft/minecraft-proxy.yaml
Labels: area/kubernetes

feat(helm): increase mgr count from 1 to 2 in rook-ceph-cluster configuration
  kubernetes/rook-ceph/cluster/rook-ceph-cluster.yaml
Labels: area/kubernetes

feat(nginx): add proxy-busy-buffers-size configuration to improve performance
  kubernetes/kube-system/nginx/nginx-tailscale.yaml
  kubernetes/kube-system/nginx/nginx.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
