Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

feat(groups): add CNPG group with package matching rules
  .renovate/groups.json5
Labels: area/renovate

feat(grafana): add kube-prometheus-stack dashboards configuration
  kubernetes/monitoring/grafana/dashboards/kustomization.yaml
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes

chore(kustomization): simplify cloudnative-pg CRD resource references
  setup/crds/kustomization.yaml
Labels: none

feat(crd-download): enhance CRD downloading process with temporary files and error handling
  .github/scripts/update_crds_local.py
Labels: none

revert changes to use a directory
  .github/scripts/update_crds_local.py
  setup/crds/kustomization.yaml
Labels: none

chore(renovate): comment out postUpgradeTasks and update CRD workflow commit message
  .github/renovate.json5
  .github/workflows/update-crds.yaml
Labels: none

feat(workflow): add token generation step and update checkout configuration
  .github/workflows/update-crds.yaml
Labels: none

chore(workflow): remove unnecessary fetch-depth and persist-credentials options from checkout step
  .github/workflows/update-crds.yaml
Labels: none

handling this in github actions now
  .github/renovate.json5
Labels: none

feat(workflow): add token generation step for GitHub App in labeler and flux-local workflows
  .github/workflows/flux-local.yaml
  .github/workflows/labeler.yaml
Labels: none

fix(workflow): update pull_request event handling in Renovate workflow
  .github/workflows/renovate.yml
Labels: none

Add modular instruction files for GitOps workflow in k8s-gitops repository
  .github/chat-instructions.md
  .github/copilot-instructions.md
  .github/instructions/README.md
  .github/instructions/applications.instructions.md
  .github/instructions/external-secrets.instructions.md
  .github/instructions/flux.instructions.md
  .github/instructions/helmrelease.instructions.md
  .github/instructions/secrets.instructions.md
  .github/instructions/talos.instructions.md
  .github/instructions/volsync.instructions.md
  .github/instructions/yaml-schemas.instructions.md
Labels: none

fix(cluster): update interval for cluster-apps Kustomization to 30m
  setup/flux/cluster/cluster.yaml
Labels: none

feat(prompts): add deployment prompts for various application types in Kubernetes GitOps
  .github/prompts/README.md
  .github/prompts/app-template.prompt.md
  .github/prompts/home-automation.prompt.md
  .github/prompts/media-app.prompt.md
  .github/prompts/monitoring.prompt.md
  .github/prompts/network-service.prompt.md
Labels: none

docs(prompts): add namespace.yaml file description to deployment structure
  .github/prompts/README.md
Labels: none

fix(grafana-charts): update Helm repository configuration to use OCI and adjust interval to 30m
  setup/flux/repositories/grafana-charts.yaml
Labels: none

feat(system-upgrade): add RBAC configuration for system-upgrade-controller with ClusterRoleBinding
  kubernetes/system-upgrade/rbac.yaml
  kubernetes/system-upgrade/system-upgrade-controller.yaml
Labels: area/kubernetes

feat(persistence): update tmp storage configuration and add advanced mounts for logs in jellyseerr, plex, recyclarr, and tautulli
  kubernetes/default/jellyseerr/jellyseerr.yaml
  kubernetes/default/plex/plex.yaml
  kubernetes/default/recyclarr/recyclarr.yaml
  kubernetes/default/tautulli/tautulli.yaml
Labels: area/kubernetes

fix(workflow): add early exit for non-billimek users on issues and pull requests
  .github/workflows/renovate.yml
Labels: none

fix(workflow): remove token generation step in labeler workflow
  .github/workflows/labeler.yaml
Labels: none

fix(workflow): comment out schedule and event triggers in renovate workflow
  .github/workflows/renovate.yml
Labels: none

fix(workflow): update labeler workflow to generate GitHub app token
  .github/workflows/labeler.yaml
Labels: none

feat(prompt): add app-template deployment prompt with detailed configuration options
  .github/prompts/app-template.prompt.md
  .github/prompts/app-template.prompt.yaml
Labels: none

feat(prompts): add home automation and media application deployment prompts
  .github/prompts/home-automation.prompt.md
  .github/prompts/home-automation.prompt.yaml
  .github/prompts/media-app.prompt.md
  .github/prompts/media-app.prompt.yaml
Labels: none

feat(prompts): add monitoring and network service deployment prompts
  .github/prompts/monitoring.prompt.md
  .github/prompts/monitoring.prompt.yaml
  .github/prompts/network-service.prompt.md
  .github/prompts/network-service.prompt.yaml
Labels: none

feat(prompt): enhance app-template prompt with detailed storage and environment variable configurations
  .github/prompts/app-template.prompt.yaml
Labels: none

fix(ingress): update ingress class name from "nginx-tailscale" to "tailscale"
  kubernetes/default/radarr/radarr.yaml
Labels: area/kubernetes

reverting ingress experiment
  kubernetes/default/radarr/radarr.yaml
Labels: area/kubernetes

fix(qbittorrent): add global mount for media books
  kubernetes/default/qbittorrent/qbittorrent.yaml
Labels: area/kubernetes

feat(ingress): enable SSL redirection for Plex ingress
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

chore(plex): comment out SSL redirect annotations in ingress configuration
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

feat(ingress): update annotations for SSL redirection in Plex ingress
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

feat(ingress): update regex annotations for Plex ingress paths
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

feat(ingress): change pathType to ImplementationSpecific for Plex ingress
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

feat(ingress): update pathType to Prefix for Plex ingress paths
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

feat(ingress): add HTTPS backend protocol and disable SSL verification for Plex ingress
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

feat(ingress): update service port to use named port 'http' for Plex ingress
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

feat(ingress): remove HTTPS annotations for Plex ingress
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

feat(ingress): add streaming path with Range header removal for improved transcoding
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes

feat(ingress): add server snippet to remove Range header for streaming paths
  kubernetes/default/plex/plex.yaml
Labels: area/kubernetes
