Repository billimek/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/kubernetes, area/renovate, area/talos, area/taskfile

chore: cleanup - fix stale volsync comment, remove dead ingress comments, rename receiver directory
  kubernetes/default/minecraft/minecraft-survival.yaml
  kubernetes/default/minecraft/minecraft-survival2.yaml
  kubernetes/flux-system/receiver/externalsecret.yaml
  kubernetes/flux-system/receiver/httproute.yaml
  kubernetes/flux-system/receiver/prometheusrule.yaml
  kubernetes/flux-system/receiver/receiver.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes

fix(home-assistant): revert code-server securityContext hardening
  kubernetes/default/home-assistant/home-assistant.yaml
Labels: area/kubernetes

fix(home-assistant): use multi-arch index digest instead of arm64-specific SHA
  kubernetes/default/home-assistant/home-assistant.yaml
Labels: area/kubernetes

fix(speedtest-exporter): update PrometheusRule for renamed metrics
  kubernetes/monitoring/speedtest-exporter/prometheusrule.yaml
Labels: area/kubernetes

fix(monitoring): rollback victoria-metrics-k8s-stack to v0.71.1
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(renovate): disable auto-merge for victoria-metrics
  .renovate/autoMerge.json5
Labels: area/renovate

feat(monitoring): add smokeping self-healing sidecar and gateway-aware alerting
  kubernetes/monitoring/smokeping-prober/prometheusrule.yaml
  kubernetes/monitoring/smokeping-prober/smokeping-prober.yaml
  kubernetes/monitoring/victoria-metrics/victoria-metrics.yaml
Labels: area/kubernetes

fix(monitoring): use app-template v4 probes schema for healthcheck sidecar
  kubernetes/monitoring/smokeping-prober/smokeping-prober.yaml
Labels: area/kubernetes

feat(default): migrate jellyseerr to seerr
  kubernetes/default/seerr/seerr.yaml
Labels: area/kubernetes

feat(default): rename jellyseerr-config PVC to seerr-config
  kubernetes/default/seerr/seerr.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

fix(frigate): update record retention config for v0.17 breaking change
  kubernetes/default/frigate/frigate-configmap.yaml
Labels: area/kubernetes

feat(default): add booklore v2.0.3 digital library
  kubernetes/default/booklore/booklore.yaml
  kubernetes/default/booklore/externalsecret.yaml
  kubernetes/kube-system/keda/resourceset-nfs-scalers.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

feat(default): configure booklore for audiobook support via NFS and DISK_TYPE=NETWORK
  kubernetes/default/booklore/booklore.yaml
Labels: area/kubernetes

fix(smokeping): restart pod on gateway recovery to recycle stuck ICMP sockets
  kubernetes/monitoring/smokeping-prober/smokeping-prober.yaml
Labels: area/kubernetes

fix(frigate): use authenticated port 8971 for reverse proxy access
  kubernetes/default/frigate/frigate.yaml
Labels: area/kubernetes

fix(frigate): revert health probes back to port 5000
  kubernetes/default/frigate/frigate.yaml
Labels: area/kubernetes

fix(frigate): revert service/route back to port 5000
  kubernetes/default/frigate/frigate.yaml
Labels: area/kubernetes

increase sabnzbd memory limit to 3Gi
  kubernetes/default/sabnzbd/sabnzbd.yaml
Labels: area/kubernetes

fix: increase barman-cloud certificate renewBefore to 30d to avoid false expiry alerts
  kubernetes/default/cloudnative-pg/chart/barman-cloud.yaml
Labels: area/kubernetes

chore(monitoring): temporarily disable SmokepingPacketLoss alert
  kubernetes/monitoring/smokeping-prober/prometheusrule.yaml
Labels: area/kubernetes

fix: force helm upgrade for victoria-logs to bypass 3-way merge failure
  kubernetes/monitoring/victoria-logs/victoria-logs.yaml
Labels: area/kubernetes

fix: disable victoria-logs dashboards to bypass kyaml parse failure on upgrade
  kubernetes/monitoring/victoria-logs/victoria-logs.yaml
Labels: area/kubernetes

chore: remove booklore (abandoned/deleted upstream project)
  kubernetes/default/booklore/booklore.yaml
  kubernetes/default/booklore/externalsecret.yaml
  kubernetes/kube-system/keda/resourceset-nfs-scalers.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

chore(volsync): replace NFS mutating webhook with native moverVolumes
  .github/copilot-instructions.md
  .taskfiles/volsync/resources/replicationdestination.yaml.j2
  kubernetes/kube-system/volsync/README.md
  kubernetes/kube-system/volsync/maintenance-externalsecret.yaml
  kubernetes/kube-system/volsync/maintenance-kopiamaintenance.yaml
  kubernetes/kube-system/volsync/maintenance-mutatingadmissionpolicy.yaml
  kubernetes/kube-system/volsync/mutatingadmissionpolicy.yaml
  kubernetes/kube-system/volsync/resourceset-pvcs.yaml
  kubernetes/kube-system/volsync/resourceset-volsync-backups.yaml
Labels: area/kubernetes, area/taskfile

chore(smokeping): remove 8.8.4.4 (Google Secondary) from monitoring targets
  kubernetes/monitoring/smokeping-prober/smokeping-prober.yaml
Labels: area/kubernetes

feat(echo-server): serve bare domain eviljungle.com alongside www
  kubernetes/default/echo-server/echo-server.yaml
Labels: area/kubernetes

docs(AGENTS): update with accurate patterns from repo audit
  AGENTS.md
Labels: none

fix(renovate): switch grafana dashboards to URL-based tracking
  .renovate/grafanaDashboards.json5
  kubernetes/monitoring/grafana/grafana.yaml
Labels: area/kubernetes, area/renovate

feat(crucix): add OSINT intelligence dashboard
  kubernetes/default/crucix/crucix.yaml
  kubernetes/default/crucix/externalsecret.yaml
Labels: area/kubernetes

fix(crucix): increase memory limit to 1Gi
  kubernetes/default/crucix/crucix.yaml
Labels: area/kubernetes

feat(app): add chaptarr
  kubernetes/default/chaptarr/chaptarr.yaml
  kubernetes/kube-system/keda/resourceset-nfs-scalers.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

fix(chaptarr): use numeric port in backendRefs
  kubernetes/default/chaptarr/chaptarr.yaml
Labels: area/kubernetes

feat(app): add mousetrap
  kubernetes/default/mousetrap/mousetrap.yaml
  kubernetes/kube-system/volsync/resourceset-inputprovider.yaml
Labels: area/kubernetes

fix(mousetrap): allow root entrypoint for user setup and writable /app
  kubernetes/default/mousetrap/mousetrap.yaml
Labels: area/kubernetes

docs(default): update README with missing and corrected app entries
  kubernetes/default/README.md
Labels: area/kubernetes

chore: migrate onepassword-connect from app-template to native chart
  kubernetes/kube-system/external-secrets/1password/1password.yaml
  kubernetes/kube-system/external-secrets/1password/ocirepository.yaml
Labels: area/kubernetes

fix: use raw JSON credentials key for native 1password connect chart
  .taskfiles/k8s-bootstrap/Taskfile.yaml
  kubernetes/kube-system/external-secrets/1password/1password.yaml
Labels: area/kubernetes, area/taskfile

fix: source credentials.json directly from 1password instead of decode workaround
  .taskfiles/k8s-bootstrap/Taskfile.yaml
  setup/bootstrap/templates/resources.yaml.j2
Labels: area/bootstrap, area/taskfile

chore: remove unused 1password-credentials.json key from bootstrap secret
  setup/bootstrap/templates/resources.yaml.j2
Labels: area/bootstrap

fix(renovate): correct automerge config issues
  .renovate/autoMerge.json5
  .renovate/grafanaDashboards.json5
Labels: area/renovate

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "setup/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - all:
    - changed-files:
      - any-glob-to-any-file: '.github/**/*'
      - all-globs-to-all-files: '!.github/renovaterc.json5'
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".github/renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "setup/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
